MetsatietostandardiskeematV33.03/V33/CommonDistributionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	******************************************************************
	Yhteiset tyypit joita käytetään useissa eri skeemoissa.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	*******************************************************************
-->

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/commondistributiondata"
	xmlns="http://standardit.tapio.fi/schemas/forestData/commondistributiondata" 
	elementFormDefault="qualified"
	version="V10.05">
	
	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="Weibull" type="WeibullType"/>
	<xs:element name="Shape" type="ShapeType"/>
	<xs:element name="Scale" type="ScaleType"/>
	<xs:element name="Location" type="LocationType"/>
	<xs:element name="JohnsonSB" type="JohnsonSBType"/>
	<xs:element name="ShapeGamma" type="ShapeGammaType"/>
	<xs:element name="ShapeDelta" type="ShapeDeltaType"/>
	<xs:element name="Normal" type="NormalType"/>
	<xs:element name="Mean" type="MeanType"/>
	<xs:element name="Variance" type="VarianceType"/>
	<xs:element name="Beta" type="BetaType"/>
	<xs:element name="ShapeAlfa" type="ShapeAlfaType"/>
	<xs:element name="ShapeBeta" type="ShapeBetaType"/>
	<xs:element name="Minimum" type="MinimumType"/>
	<xs:element name="Maximum" type="MaximumType"/>	
	<xs:element name="Gamma" type="GammaType"/>
	<xs:element name="CumulativePointDistribution" type="CumulativePointDistributionType"/>
	<xs:element name="CumulativePoint" type="CumulativePointType"/>
	<xs:element name="Diameter" type="DiameterType"/>
	<xs:element name="CumulativeMass" type="CumulativeMassType"/>	
	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="WeibullType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Weibull-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Weibull distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Shape"/>
			<xs:element ref="Scale"/>
			<xs:element ref="Location" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ShapeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Muoto-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter shape.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="ScaleType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Skaala-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter scale.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="LocationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijainti-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter location.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="JohnsonSBType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Johnson SB-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Johnson SB distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ShapeGamma"/>
			<xs:element ref="ShapeDelta"/>
			<xs:element ref="Scale"/>
			<xs:element ref="Location"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ShapeGammaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoGamma-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeGamma.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="ShapeDeltaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoDelta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeDelta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:complexType name="NormalType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Normaali-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Normal distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Mean"/>
			<xs:element ref="Variance"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="MeanType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskiarvo-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter mean.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="VarianceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Varianssi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter variance.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="BetaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Beta-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Beta distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ShapeAlfa"/>
			<xs:element ref="ShapeBeta"/>
			<xs:element ref="Minimum"/>
			<xs:element ref="Maximum"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ShapeAlfaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoAlfa-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeAlfa.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="ShapeBetaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">MuotoBeta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter ShapeBeta.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="MinimumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Minimi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter minimum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:simpleType name="MaximumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maksimi-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter maximum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>

	<xs:complexType name="GammaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Gamma-todennäköisyysjakauman parametrit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameters of Gamma distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Shape"/>
			<xs:element ref="Scale"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CumulativePointDistributionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvopisteinä määritelty todennäköisyysjakauma.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Distribution defined using cumulative points.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CumulativePoint" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CumulativePointType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kumulatiivisen todennäköisyysmassajakauman arvopiste.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Point of cumulative point distribution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Diameter"/>
			<xs:element ref="CumulativeMass"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="DiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Läpimitta-parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter diameter.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	
	<xs:simpleType name="CumulativeMassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kumulatiivinen massa -parametri.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Parameter cumulative mass.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float"/>
	</xs:simpleType>	
	
	<xs:group name="DistributionModelGroup">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Jakaumamalliryhmä.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:choice>		
				<xs:element ref="Weibull"/>
				<xs:element ref="JohnsonSB"/>
				<xs:element ref="Normal"/>
				<xs:element ref="Beta"/>
				<xs:element ref="Gamma"/>
				<xs:element ref="CumulativePointDistribution"/>
			</xs:choice>
        </xs:sequence>	
    </xs:group>
	
    <xs:complexType name="DistributionType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:group ref="DistributionModelGroup"/>
        </xs:sequence>
    </xs:complexType>	
</xs:schema>