MetsatietostandardiskeematV33.03/V33/ContactInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	******************************************************************
	Yhteystietotyypit joita käytetään useissa eri skeemoissa.
	Skeema on JHS-170 -suosituksen mukainen.
	
	VERSIOKOMMENTIT 1.0 >>> 1.1 
	Lisätty elementit "BusinessId" ja "PersonId", jotka määritelty vaihtoehtoisiksi.
	VERSIOKOMMENTIT 1.1 >>> 1.2
	15.8. Muutettu nimi ContactInformation_20110214.xsd -> ContactInformation.xsd
	ja nimiavaruus "http://standardit.tapio.fi/schemas/forestData/contactInformation/2011/02/14" 
	-> "http://standardit.tapio.fi/schemas/forestData/contactInformation"
	VERSIOKOMMENTIT 1.2 >>> 1.3
	31.8.2015 Muutettu NameAndOrganizationGroup:n sisäistä määrittelyä niin, että henkilön nimen lisäksi voidaan
	antaa henkilön organisaatio (PersonOrganizationName). Organisaatio-tyyppiselle yhteystiedolle voidaan antaa
	organisaation nimi OrganizationName.
	
	27.10.2015
	Type LanguageCode1Type replaced with type co:ISO639char2LanguageType
	Type CountryCodeType replaced with type co:ISO3166char2CountryType
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V16.01:
	-Vaihdettu elementin StateText tyyppimäärittelyksi co:String200Type
	-Muutettu tyyppien FirstNameType, LastNameType, WholeNameType, OrganizationNameBaseType, AddressType, PostOfficeType ja CountryTextType merkkijonojen maksimipituudeksi 200 merkkiä.
	-Muutettu tyypin EmailAddressType merkkijonon maksimipituudeksi 320 merkkiä
	
	*******************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" elementFormDefault="qualified"
	version="V16.01">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
		schemaLocation="JHS170_20090304.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="FirstName" type="FirstNameType"/>
	<xs:element name="LastName" type="LastNameType"/>
	<xs:element name="WholeName" type="WholeNameType"/>
	<xs:element name="OrganizationName" type="OrganizationNameType"/>
	<xs:element name="PersonOrganizationName" type="PersonOrganizationNameType"/>
	<xs:element name="Address" type="AddressType"/>
	<xs:element name="PostalCode" type="PostalCodeType"/>
	<xs:element name="PostOffice" type="PostOfficeType"/>
	<xs:element name="CountryCode" type="co:ISO3166char2CountryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Osoitemaan maakoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Address country code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CountryText" type="CountryTextType"/>
	<xs:element name="PhoneNumber" type="PhoneNumberType"/>
	<xs:element name="MobilePhoneNumber" type="MobilePhoneNumberType"/>
	<xs:element name="TelefaxNumber" type="TelefaxNumberType"/>
	<xs:element name="EmailAddress" type="EmailAddressType"/>
	<xs:element name="ContactInformation" type="ContactInformationType"/>
	<xs:element name="BusinessId" type="jhs:YritysTunnusTyyppi"/>
	<xs:element name="PersonId" type="jhs:HenkiloTunnusTyyppi"/>
	<xs:element name="StateCode" type="StateCodeType"/>
	<xs:element name="StateText" type="co:String200Type"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Henkilön tai organisaation yhteystiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Person's or organization's contact information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="IdentifierGroup" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="NameAndOrganizationGroup" minOccurs="1" maxOccurs="1"/>
			<xs:group ref="PostAddressGroup" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="PhoneAndTelefaxGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="EmailAddress" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Henkilö/organisaatio voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Person/organization can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="language" type="co:ISO639char2LanguageType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Henkilön/organisaation kieli kielikoodina.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Person's/organization's language as a language code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="IdentifierGroup">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="BusinessId">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Yritystunnus.</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en">Business ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PersonId">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Henkilötunnus.</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en">Person ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="FirstNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Henkilön etunimi/etunimet. JHS-106 -suosituksessa etunimen pituuden maksimiksi esitetään 100.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Firstnames(s).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:EtunimetNimiTyyppi">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LastNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Henkilön sukunimi.  JHS-106 -suosituksessa sukunimen pituuden maksimiksi esitetään 100.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Last name / surname.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:SukuNimiTyyppi">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="FirstAndLastNameGroup">
		<xs:sequence>
			<xs:element ref="FirstName"/>
			<xs:element ref="LastName"/>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="WholeNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Henkilön koko nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Whole name of person.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:NimiTekstiTyyppi">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OrganizationNameBaseType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Organisaation nimi.  JHS-106 -suosituksessa oikeushlö:n nimen pituuden maksimiksi esitetään 160.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Organization name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:NimiTekstiTyyppi">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OrganizationNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Organisaation nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Organization name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OrganizationNameBaseType"/>
	</xs:simpleType>

	<xs:simpleType name="PersonOrganizationNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Henkilön organisaation nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Person's organization name.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="OrganizationNameBaseType"/>
	</xs:simpleType>

	<xs:group name="PersonNameGroup">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="FirstAndLastNameGroup"/>
				<xs:element ref="WholeName"/>
			</xs:choice>
			<xs:element ref="PersonOrganizationName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>

	<xs:group name="NameAndOrganizationGroup">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="PersonNameGroup"/>
				<xs:element ref="OrganizationName"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="AddressType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Katuosoite.  JHS-106 -suosituksessa jakeluosoitteen pituuden maksimiksi esitetään 100.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Street address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PostalCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Postinumero. Myös ulkomaiset postinumerot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Postal code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:PostinumeroKoodiTyyppi"/>
	</xs:simpleType>

	<xs:simpleType name="PostOfficeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Postitoimipaikka. JHS-106 -suosituksessa postitmp. pituuden maksimiksi esitetään 50.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Post office.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:PostitoimipaikkaNimiTyyppi">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CountryTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Osoitemaa tekstinä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Address country as a text.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="PostAddressGroup">
		<xs:sequence>
			<xs:element ref="Address"/>
			<xs:element ref="PostalCode"/>
			<xs:element ref="PostOffice"/>
			<xs:element ref="StateCode" minOccurs="0"/>
			<xs:element ref="StateText" minOccurs="0"/>
			<xs:element ref="CountryCode" minOccurs="0"/>
			<xs:element ref="CountryText" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puhelinnumero (kiinteä verkko).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Phone number (old school phones).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:PuhelinnumeroTekstiTyyppi">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MobilePhoneNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puhelinnumero (matkapuhelin).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Phone number (mobile phones).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="PhoneNumberType"/>
	</xs:simpleType>

	<xs:simpleType name="TelefaxNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Telefax-numero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Telefax number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="PhoneNumberType"/>
	</xs:simpleType>

	<xs:group name="PhoneAndTelefaxGroup">
		<xs:sequence>
			<xs:element ref="PhoneNumber" minOccurs="0"/>
			<xs:element ref="MobilePhoneNumber" minOccurs="0"/>
			<xs:element ref="TelefaxNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sähköpostiosoite.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Email address.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:SahkopostiosoiteTekstiTyyppi">
			<xs:maxLength value="320"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StateCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
