MetsatietostandardiskeematV33.03/V33/Envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
	Muutokset skeemapakettiin V10.03:
    -Lisätty import sekä namespacemääritykset ProductInstruction_V3p2.xsd stanford-skeematiedostolle
    -Lisätty uusi elementti ProductInstruction. Skeema on peräisin StanForD-skeemapaketista.
    -Järjestetty skeematiedoston namespacemääritykset, importit sekä elementit aakkosjärjestykseen

    Muutokset skeemapakettiin V10.05:
    -"ProductInstruction" stanford skeematiedoston import on muutettu käyttämään versiota 3.0
    -Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.

    Muutokset skeemapakettiin V11.03:
    -Skeematiedostoon lisätty namespace ja import uudelle skeematiedostolle ExternalFile.xsd
    -Lisätty PayloadType complexTypeen uusi elementti ExternalFile
    
    Muutokset skeemapakettiin V14.01:
    -Skeema päivitetty vastaamaan WoodForce-skeemapaketin 3.1 sisältöä
    
    Muutokset skeemapakettiin V14.03:
    -Skeematiedostoon lisätty namespace ja import uudelle skeematiedostolle SmsOperatorStatus.xsd
    
    Muutokset skeemapakettiin V16.02:
    -Skeematiedostoon lisätty namespace ja import uudelle skeematiedostolle ServiceBuyerResourceLocations.xsd
    
    Muutokset skeemapakettiin V28.01:
    -Poistettu elementtimäärittely RoadOrDitchObjectUpdate (roadOrDitchObjectUpdate:RoadOrDitchObjectUpdateType)
    -Poistettu import skeematiedostolta RoadOrDitchObjectUpdate.xsd
    
    Muutokset skeemapakettiin V31.01:
    -Skeematiedostoon lisätty namespace ja import uudelle skeematiedostolle WorkingSiteFinalAuditDynamic.xsd
   
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/envelope"
           xmlns:acknowledge="http://standardit.tapio.fi/schemas/forestData/Acknowledge"
           xmlns:companyInformation="http://standardit.tapio.fi/schemas/forestData/CompanyInformation"
           xmlns:contract="http://standardit.tapio.fi/schemas/forestData/Contract"
           xmlns:forwardingEstimate="http://standardit.tapio.fi/schemas/forestData/ForwardingEstimate"
           xmlns:forwardingNotification="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification"
           xmlns:harvestingOrder="http://standardit.tapio.fi/schemas/forestData/HarvestingOrder"
           xmlns:header="http://standardit.tapio.fi/schemas/header"
           xmlns:image="http://standardit.tapio.fi/schemas/forestData/Image"
           xmlns:mapSymbol="http://standardit.tapio.fi/schemas/forestData/MapSymbol"
           xmlns:orderConfirmation="http://standardit.tapio.fi/schemas/forestData/OrderConfirmation"
           xmlns:productInstruction="urn:skogforsk:stanford2010"
           xmlns:qualityAttachment="http://standardit.tapio.fi/schemas/forestData/QualityAttachment"
           xmlns:resource="http://standardit.tapio.fi/schemas/forestData/Resource"
           xmlns:resourceSchedule="http://standardit.tapio.fi/schemas/forestData/ResourceSchedule"
		   xmlns:silvicultureOrder="http://standardit.tapio.fi/schemas/forestData/SilvicultureOrder"
		   xmlns:serviceBuyerResourceLocations="http://standardit.tapio.fi/schemas/forestData/ServiceBuyerResourceLocations"
		   xmlns:smsOperatorStatus="http://standardit.tapio.fi/schemas/forestData/SmsOperatorStatus"
           xmlns:stanfordFile="http://standardit.tapio.fi/schemas/forestData/StanfordFile"
           xmlns:userInformation="http://standardit.tapio.fi/schemas/forestData/UserInformation"
           xmlns:weekCalendar="http://standardit.tapio.fi/schemas/forestData/WeekCalendar"
           xmlns:workingSiteAccounting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteAccounting"
           xmlns:workingSiteEndNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteEndNotification"
           xmlns:workingSiteFeeBasis="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFeeBasis"
           xmlns:workingSiteFinalAuditBioMassForwarding="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditBioMassForwarding"
           xmlns:workingSiteFinalAuditDraining="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining"
           xmlns:workingSiteFinalAuditFertilization="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization"
           xmlns:workingSiteFinalAuditHarvesting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
           xmlns:workingSiteFinalAuditPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement"
           xmlns:workingSiteFinalAuditRoadMaking="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking"
           xmlns:workingSiteFinalAuditSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture"
           xmlns:workingSiteFinalAuditSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
           xmlns:workingSiteFinalAuditStumpForwarding="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpForwarding"
           xmlns:workingSiteFinalAuditStumpLifting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpLifting"
           xmlns:workingSiteFinalAuditDynamic="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDynamic"           
           xmlns:workingSiteForwardedProduction="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardedProduction"
           xmlns:workingSiteForwardingQualityControl="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardingQualityControl"
           xmlns:workingSiteHarvestedProduction="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestedProduction"
           xmlns:workingSiteHarvestingQualityControl="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControl"
           xmlns:workingSiteHarvestingQualityControlManual="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControlManual"
           xmlns:workingSiteOperational="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational"
           xmlns:workingSiteOperationalUpdate="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperationalUpdate"
           xmlns:workingSiteQualityControlCutting="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
           xmlns:workingSiteQualityControlFertilization="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlFertilization"
           xmlns:workingSiteQualityControlPlantManagement="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement"
           xmlns:workingSiteQualityControlSilviculture="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
           xmlns:workingSiteQualityControlSoilConditioning="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
           xmlns:workingSiteQualityNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityNotification"
           xmlns:workingSiteStatus="http://standardit.tapio.fi/schemas/forestData/WorkingSiteStatus"
           xmlns:workingSiteTravelNotification="http://standardit.tapio.fi/schemas/forestData/WorkingSiteTravelNotification"
           xmlns:workingSiteWorkLoad="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad"
           xmlns:workingSiteWorkTime="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkTime"
           xmlns:externalFile="http://standardit.tapio.fi/schemas/forestData/ExternalFile"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/envelope" elementFormDefault="qualified" version="V33.01">

    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Acknowledge" schemaLocation="Acknowledge.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/CompanyInformation" schemaLocation="CompanyInformation.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Contract" schemaLocation="Contract.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForwardingEstimate" schemaLocation="ForwardingEstimate.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification" schemaLocation="ForwardingNotification.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/HarvestingOrder" schemaLocation="HarvestingOrder.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/header" schemaLocation="Header.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Image" schemaLocation="Image.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/MapSymbol" schemaLocation="MapSymbol.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/OrderConfirmation" schemaLocation="OrderConfirmation.xsd"/>
    <xs:import namespace="urn:skogforsk:stanford2010" schemaLocation="../stanford2010/ProductInstruction_V3p1.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/QualityAttachment" schemaLocation="QualityAttachment.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Resource" schemaLocation="Resource.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ResourceSchedule" schemaLocation="ResourceSchedule.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/SilvicultureOrder" schemaLocation="SilvicultureOrder.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ServiceBuyerResourceLocations" schemaLocation="ServiceBuyerResourceLocations.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/SmsOperatorStatus" schemaLocation="SmsOperatorStatus.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/StanfordFile" schemaLocation="StanfordFile.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/UserInformation" schemaLocation="UserInformation.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WeekCalendar" schemaLocation="WeekCalendar.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteAccounting" schemaLocation="WorkingSiteAccounting.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteEndNotification" schemaLocation="WorkingSiteEndNotification.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFeeBasis" schemaLocation="WorkingSiteFeeBasis.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditBioMassForwarding" schemaLocation="WorkingSiteFinalAuditBioMassForwarding.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDraining" schemaLocation="WorkingSiteFinalAuditDraining.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization" schemaLocation="WorkingSiteFinalAuditFertilization.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting" schemaLocation="WorkingSiteFinalAuditHarvesting.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditPlantManagement" schemaLocation="WorkingSiteFinalAuditPlantManagement.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditRoadMaking" schemaLocation="WorkingSiteFinalAuditRoadMaking.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSilviculture" schemaLocation="WorkingSiteFinalAuditSilviculture.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning" schemaLocation="WorkingSiteFinalAuditSoilConditioning.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpForwarding" schemaLocation="WorkingSiteFinalAuditStumpForwarding.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditStumpLifting" schemaLocation="WorkingSiteFinalAuditStumpLifting.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDynamic" schemaLocation="WorkingSiteFinalAuditDynamic.xsd"/>	
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardedProduction" schemaLocation="WorkingSiteForwardedProduction.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteForwardingQualityControl" schemaLocation="WorkingSiteForwardingQualityControl.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestedProduction" schemaLocation="WorkingSiteHarvestedProduction.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControl" schemaLocation="WorkingSiteHarvestingQualityControl.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteHarvestingQualityControlManual" schemaLocation="WorkingSiteHarvestingQualityControlManual.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational" schemaLocation="WorkingSiteOperational.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperationalUpdate" schemaLocation="WorkingSiteOperationalUpdate.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting" schemaLocation="WorkingSiteQualityControlCutting.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlFertilization" schemaLocation="WorkingSiteQualityControlFertilization.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlPlantManagement" schemaLocation="WorkingSiteQualityControlPlantManagement.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture" schemaLocation="WorkingSiteQualityControlSilviculture.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning" schemaLocation="WorkingSiteQualityControlSoilConditioning.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityNotification" schemaLocation="WorkingSiteQualityNotification.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteStatus" schemaLocation="WorkingSiteStatus.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteTravelNotification" schemaLocation="WorkingSiteTravelNotification.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkLoad" schemaLocation="WorkingSiteWorkLoad.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteWorkTime" schemaLocation="WorkingSiteWorkTime.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ExternalFile" schemaLocation="ExternalFile.xsd"/>


    <xs:element name="Envelope" type="EnvelopeType"/>
	<xs:complexType name="EnvelopeType">
		<xs:sequence>
			<xs:element name="Header" type="header:HeaderType"/>
			<xs:element name="Message" type="PayloadType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayloadType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tähän kaikkien käytettävien viestityyppien tyyppimäärittelyt</xs:documentation>
		</xs:annotation>
		<xs:choice>
		    <xs:element name="Acknowledge" type="acknowledge:AcknowledgeType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Kuittaussanoma, header-osiossa tähän viitataan MessageType = 'Acknowlegde'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Acknowledge message, reference in header-part is MessageType = 'Acknowledge'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="CompanyInformation" type="companyInformation:CompanyInformationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Yrityksen perustiedot, header-osiossa tähän viitataan MessageType = 'CompanyInformation'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Company basic information, reference in header-part is MessageType = 'CompanyInformation'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
			<xs:element name="Contract" type="contract:ContractType">
			    <xs:annotation>
			        <xs:documentation xml:lang="fi">Sopimustiedot, header-osiossa tähän viitataan MessageType = 'Contract'</xs:documentation>
			        <xs:documentation xml:lang="sv"></xs:documentation>
			        <xs:documentation xml:lang="en">Contract information, reference in header-part is MessageType = 'Contract'</xs:documentation>
			    </xs:annotation>
			</xs:element>
			<xs:element name="ExternalFile" type="externalFile:ExternalFileType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tiedoston lähetys</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">File sending</xs:documentation>
				</xs:annotation>
			</xs:element>
		    <xs:element name="ForwardingEstimate" type="forwardingEstimate:ForwardingEstimateType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Mekuennuste, header-osiossa tähän viitataan MessageType = 'ForwardingEstimate'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Forwarding estimate, reference in header-part is MessageType = 'ForwardingEstimate'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="ForwardingNotification" type="forwardingNotification:ForwardingNotificationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Mekuilmoitus, header-osiossa tähän viitataan MessageType = 'ForwardingNotification'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Forwarding notification, reference in header-part is MessageType = 'ForwardingNotification'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="HarvestingOrder" type="harvestingOrder:HarvestingOrderType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Korjuun tilaus, header-osiossa tähän viitataan MessageType = 'HarvestingOrder'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Harvesting order, reference in header-part is MessageType = 'HarvestingOrder'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="Image" type="image:ImageType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Valokuvat, header-osiossa tähän viitataan MessageType = 'Image'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Photographs, reference in header-part is MessageType = 'Image'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="MapSymbol" type="mapSymbol:MapSymbolType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lohkon karttamerkit, header-osiossa tähän viitataan MessageType = 'MapSymbol'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Parcel map symbols, reference in header-part is MessageType = 'MapSymbol'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
			<xs:element name="OrderConfirmation" type="orderConfirmation:OrderConfirmationType">
			    <xs:annotation>
			        <xs:documentation xml:lang="fi">Tilauksen vahvistus, header-osiossa tähän viitataan MessageType = 'OrderConfirmation'</xs:documentation>
			        <xs:documentation xml:lang="sv"></xs:documentation>
			        <xs:documentation xml:lang="en">Order confirmation, reference in header-part is MessageType = 'OrderConfirmation'</xs:documentation>
			    </xs:annotation>
			</xs:element>
		    <xs:element ref="productInstruction:ProductInstruction"/>
		    <xs:element name="QualityAttachment" type="qualityAttachment:QualityAttachmentType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Laatuliite, header-osiossa tähän viitataan MessageType = 'QualityAttachment'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Quality attachment, reference in header-part is MessageType = 'QualityAttachment'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="Resource" type="resource:ResourceType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Resurssi, header-osiossa tähän viitataan MessageType = 'Resource'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Resource, reference in header-part is MessageType = 'OrderConfirmation'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="ResourceSchedule" type="resourceSchedule:ResourceScheduleType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Resurssin työsuunnitelma, header-osiossa tähän viitataan MessageType = 'ResourceSchedule'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Resource's schedule, reference in header-part is MessageType = 'ResourceSchedule'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
			<xs:element name="SilvicultureOrder" type="silvicultureOrder:SilvicultureOrderType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoitotyön tilaus, header-osiossa tähän viitataan MessageType = 'SilvicultureOrder'</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Ordering of silvicultural operation, reference in header-part is MessageType = 'SilvicultureOrder'</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceBuyerResourceLocations" type="serviceBuyerResourceLocations:ServiceBuyerResourceLocationsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajalle työskentelevien resurssien sijainnit</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Locations of resources working for a service buyer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SmsOperatorStatus" type="smsOperatorStatus:SmsOperatorStatusType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">SMS-operaattorin lähettämä statuspäivitys</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Status update sent by SMS Operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		    <xs:element name="StanfordFile" type="stanfordFile:StanfordFileType"/>
		    <xs:element name="UserInformation" type="userInformation:UserInformationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Käyttäjän tiedot, header-osiossa tähän viitataan MessageType = 'UserInformation'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">User information, reference in header-part is MessageType = 'UserInformation'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WeekCalendar" type="weekCalendar:WeekCalendarType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Viikkokalenteri, header-osiossa tähän viitataan MessageType = 'WeekCalendar'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Week calendar, reference in header-part is MessageType = 'WeekCalendar'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteAccounting" type="workingSiteAccounting:WorkingSiteAccountingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lohkon tilitystiedot, header-osiossa tähän viitataan MessageType = 'WorkingSiteAccounting'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Working site accounting information, reference in header-part is MessageType = 'WorkingSiteAccounting'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteEndNotification" type="workingSiteEndNotification:WorkingSiteEndNotificationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lohko päätetty keskeytettynä tai valmiina, header-osiossa tähän viitataan MessageType = 'WorkingSiteEndNotification'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Working site ended either interrupted or ready, reference in header-part is MessageType = 'WorkingSiteEndNotification'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFeeBasis" type="workingSiteFeeBasis:WorkingSiteFeeBasisType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Taksaperusteet, header-osiossa tähän viitataan MessageType = 'WorkingSiteFeeBasis'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Working site fee basis, reference in header-part is MessageType = 'WorkingSiteFeeBasis'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditBioMassForwarding" type="workingSiteFinalAuditBioMassForwarding:WorkingSiteFinalAuditBioMassForwardingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Metsäenergian kuljetuksen loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditBioMassForwarding'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Forest biomass forwarding final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditBioMassForwarding'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditDraining" type="workingSiteFinalAuditDraining:WorkingSiteFinalAuditDrainingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Kunnostusojituslohkon loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditDraining'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Overhaul ditching working site final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditDraining'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditFertilization" type="workingSiteFinalAuditFertilization:WorkingSiteFinalAuditFertilizationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lannoituksen loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditFertilization'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Fertilization final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditFertilization'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditHarvesting" type="workingSiteFinalAuditHarvesting:WorkingSiteFinalAuditHarvestingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Puunkorjuun loppuarvointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditHarvesting'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Harvesting final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditHarvesting'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditPlantManagement" type="workingSiteFinalAuditPlantManagement:WorkingSiteFinalAuditPlantManagementType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Taimikonhoidon loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditPlantManagement'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Plant management final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditPlantManagement'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditRoadMaking" type="workingSiteFinalAuditRoadMaking:WorkingSiteFinalAuditRoadMakingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Tienrakennuksen loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditRoadMaking'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Road construction final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditRoadMaking'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditSilviculture" type="workingSiteFinalAuditSilviculture:WorkingSiteFinalAuditSilvicultureType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Taimikonhoidon loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditSilviculture'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Silviculture operations final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditSilviculture'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditSoilConditioning" type="workingSiteFinalAuditSoilConditioning:WorkingSiteFinalAuditSoilConditioningType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Maanmuokkauksen loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditSoilConditioning'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Soil conditioning final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditSoilConditioning'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditStumpForwarding" type="workingSiteFinalAuditStumpForwarding:WorkingSiteFinalAuditStumpForwardingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Kantojen ajon loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditStumpForwarding'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Stump forwarding final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditStumpForwarding'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteFinalAuditStumpLifting" type="workingSiteFinalAuditStumpLifting:WorkingSiteFinalAuditStumpLiftingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Kantojen noston loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditStumpLifting'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Stump lifting final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditStumpLifting'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
			<xs:element name="WorkingSiteFinalAuditDynamic" type="workingSiteFinalAuditDynamic:WorkingSiteFinalAuditDynamicType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Dynaaminen loppuarviointi/laadunseuranta, header-osiossa tähän viitataan MessageType = 'WorkingSiteFinalAuditDynamic'</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Dynamic final audit/quality monitoring, reference in header-part is MessageType = 'WorkingSiteFinalAuditDynamic'</xs:documentation>
				</xs:annotation>
			</xs:element>			
		    <xs:element name="WorkingSiteForwardedProduction" type="workingSiteForwardedProduction:WorkingSiteForwardedProductionType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Metsätraktorin tuotostiedot, header-osiossa tähän viitataan MessageType = 'WorkingSiteForwardedProduction'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Forwarder production information, reference in header-part is MessageType = 'WorkingSiteForwardedProduction'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteForwardingQualityControl" type="workingSiteForwardingQualityControl:WorkingSiteForwardingQualityControlType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Metsätraktorin punnitustarkkuus, header-osiossa tähän viitataan MessageType = 'WorkingSiteForwardingQualityControl'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Forwarder weighing accuracy, reference in header-part is MessageType = 'WorkingSiteForwardingQualityControl'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteHarvestedProduction" type="workingSiteHarvestedProduction:WorkingSiteHarvestedProductionType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Hakkuukoneen tuotostiedot, header-osiossa tähän viitataan MessageType = 'WorkingSiteHarvestedProduction'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Harvester production information, reference in header-part is MessageType = 'WorkingSiteHarvestedProduction'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteHarvestingQualityControl" type="workingSiteHarvestingQualityControl:WorkingSiteHarvestingQualityControlType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi"></xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en"></xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteHarvestingQualityControlManual" type="workingSiteHarvestingQualityControlManual:WorkingSiteHarvestingQualityControlManualType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Käsin syötetty motokontrolli, header-osiossa tähän viitataan MessageType = 'WorkingSiteHarvestingQualityControlManual'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Manually supplied harvester control measurement, reference in header-part is MessageType = 'WorkingSiteHarvestingQualityControlManual'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
			<xs:element name="WorkingSiteOperational" type="workingSiteOperational:WorkingSiteOperationalType">
			    <xs:annotation>
			        <xs:documentation xml:lang="fi">Lohkon tiedot, header-osiossa tähän viitataan MessageType = 'WorkingSiteOperational'</xs:documentation>
			        <xs:documentation xml:lang="sv"></xs:documentation>
			        <xs:documentation xml:lang="en">Working site information, reference in header-part is MessageType = 'WorkingSiteOperational'</xs:documentation>
			    </xs:annotation>
			</xs:element>
		    <xs:element name="WorkingSiteOperationalUpdate" type="workingSiteOperationalUpdate:WorkingSiteOperationalUpdateType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lohkon tiedot, päivitys WF-> MJ, header-osiossa tähän viitataan MessageType = 'WorkingSiteOperationalUpdate'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Working site information, update WF-> MJ, reference in header-part is MessageType = 'WorkingSiteOperationalUpdate'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteQualityControlCutting" type="workingSiteQualityControlCutting:WorkingSiteQualityControlCuttingType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Jäävän puuston koealamittaus, header-osiossa tähän viitataan MessageType = 'WorkingSiteQualityControlCutting'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Cutting quality control measurement, reference in header-part is MessageType = 'WorkingSiteQualityControlCutting'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteQualityControlFertilization" type="workingSiteQualityControlFertilization:WorkingSiteQualityControlFertilizationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi"></xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en"></xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteQualityControlPlantManagement" type="workingSiteQualityControlPlantManagement:WorkingSiteQualityControlPlantManagementType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Taimikonhoidon koealatiedot, header-osiossa tähän viitataan MessageType = 'WorkingSiteQualityControlPlantManagement'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Plant management quality control, reference in header-part is MessageType = 'WorkingSiteQualityControlPlantManagement'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
            <xs:element name="WorkingSiteQualityControlSilviculture" type="workingSiteQualityControlSilviculture:WorkingSiteQualityControlSilvicultureType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Metsänviljelyn koeala, header-osiossa tähän viitataan MessageType = 'WorkingSiteQualityControlSilviculture'</xs:documentation>
                    <xs:documentation xml:lang="sv"></xs:documentation>
                    <xs:documentation xml:lang="en">Silviculture quality control, reference in header-part is MessageType = 'WorkingSiteQualityControlSilviculture'</xs:documentation>
                </xs:annotation>
            </xs:element>
		    <xs:element name="WorkingSiteQualityControlSoilConditioning" type="workingSiteQualityControlSoilConditioning:WorkingSiteQualityControlSoilConditioningType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi"></xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en"></xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteQualityNotification" type="workingSiteQualityNotification:WorkingSiteQualityNotificationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Tehtaiden laatupalaute, header-osiossa tähän viitataan MessageType = 'WorkingSiteQualityNotification'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Factory quality feedback, reference in header-part is MessageType = 'WorkingSiteQualityNotification'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteStatus" type="workingSiteStatus:WorkingSiteStatusType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Lohkon tila, header-osiossa tähän viitataan MessageType = 'WorkingSiteStatus'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Working site status, reference in header-part is MessageType = 'WorkingSiteStatus'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
		    <xs:element name="WorkingSiteTravelNotification" type="workingSiteTravelNotification:WorkingSiteTravelNotificationType">
		        <xs:annotation>
		            <xs:documentation xml:lang="fi">Kilometri-ilmoitus, header-osiossa tähän viitataan MessageType = 'WorkingSiteTravelNotification'</xs:documentation>
		            <xs:documentation xml:lang="sv"></xs:documentation>
		            <xs:documentation xml:lang="en">Travel notification, reference in header-part is MessageType = 'WorkingSiteTravelNotification'</xs:documentation>
		        </xs:annotation>
		    </xs:element>
            <xs:element name="WorkingSiteWorkLoad" type="workingSiteWorkLoad:WorkingSiteWorkLoadType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Työmääräilmoitus, header-osiossa tähän viitataan MessageType = 'WorkingSiteWorkLoad'</xs:documentation>
                    <xs:documentation xml:lang="sv"></xs:documentation>
                    <xs:documentation xml:lang="en">Workload information, reference in header-part is MessageType = 'WorkingSiteWorkLoad'</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WorkingSiteWorkTime" type="workingSiteWorkTime:WorkingSiteWorkTimeType">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Työaikailmoitus, header-osiossa tähän viitataan MessageType = 'WorkingSiteWorkTime'</xs:documentation>
                    <xs:documentation xml:lang="sv"></xs:documentation>
                    <xs:documentation xml:lang="en">Worktime information, reference in header-part is MessageType = 'WorkingSiteWorkTime'</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
	</xs:complexType>
</xs:schema>
