MetsatietostandardiskeematV33.03/V33/ForestRealizationData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Toimenpiteen toteumatiedot.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	***************************************************************
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/commonObjectData" 
	xmlns="http://standardit.tapio.fi/schemas/forestData/commonObjectData" 
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:st="http://standardit.tapio.fi/schemas/forestData/Stand"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:ts="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns:op="http://standardit.tapio.fi/schemas/forestData/operation"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V10.05">
	
	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Stand"
		schemaLocation="Stand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStand"
		schemaLocation="TreeStand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/operation" 
		schemaLocation="Operation.xsd"/>
   	
	<!-- Element definitions -->
   	<xs:element name="ForestRealizationData" type="ForestRealizationDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
   	</xs:element>
	<xs:element name="AdditionalDetails" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sender" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UseCase" type="xs:string"> <!-- MÄÄRITÄ KOODISTO -->
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GeometryObjects" type="GeometryObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GeometryObject" type="GeometryObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectGeometry" type="ObjectGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Area" type="co:AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alueen geometrian kokonaispinta-ala hehtaareina</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AreaDecrease" type="co:AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alueen vähennysala hehtaareina. Vähennysalalla tarkoitetaan muuhun kuin alueen pääasialliseen tarkoitukseen liittyvää pinta-alaa</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjects" type="ParentObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaukset muihin kohteisiin</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObject" type="ParentObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaus muuhun kohteeseen</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjectType" type="ObjectTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viitatun kohteen tyyppi</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParentObjectId" type="co:IdStringNotEmptyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viitatun kohteen id</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandBasicData" type="st:StandBasicDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- Type definitions -->
	<xs:complexType name="ForestRealizationDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsävaratietojen päivitystietojen (toteuma- ja muut tiedot) määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AdditionalDetails" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Sender" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UseCase" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="GeometryObjects" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi"></xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en"></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="GeometryObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Paikannetut kohteet -määrittely</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Geometry objects definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="GeometryObject" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>	
	</xs:complexType>

	<xs:complexType name="GeometryObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Paikannetun kohteen määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Geometry object definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ObjectGeometry" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ParentObjects" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StandBasicData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ts:TreeStandData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="op:Operations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="st:SpecialFeatures" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringNotEmptyType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kohde voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Object can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="ObjectTypeType">
			<xs:annotation>
				<xs:documentation xml:lang="fi"></xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en"></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ObjectGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="co:ChangeTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Paikkatiedon muutosajankohta</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Area" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AreaDecrease" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="gdt:AlternativeGeometriesGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ParentObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaukset muihin kohteisiin</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Reference to other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParentObject" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>	
	</xs:complexType>

	<xs:complexType name="ParentObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en"></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParentObjectType" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ParentObjectId" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ObjectTypeType"> <!-- ONKO TÄMÄ KOODISTO? -->
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

</xs:schema>