MetsatietostandardiskeematV33.03/V33/ForestCentreDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	*****************************************************************************
	Kemera rahoitushakemuksen päätösviesti
	Skeema on JHS-170 -suosituksen mukainen.
	Ensimmäinen versio 1.0
	
	18.9.2015
	- ForestryCentreDecisionType -tyypille lisätty lapsielementti fcc:FinancingActNumber
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.02:
	-Muutettu nimiavaruusmäärittely fac: (FinancingActCommon) -> fcc: (ForestCentreCommon)
	
	Muutokset skeemapakettiin V11.05:
	-Elementin DecisionDocument tyyppimäärittely muutettu co:DocumentType -> co:Document4MBType
	
	Muutokset skeemapakettiin V11.08:
	-Skeeman sisältö uusittu kokonaisuudessaan
	
	Muutokset skeemapakettiin V11.09:
	-Skeeman rakennetta jatkojalostettu uusimpaan esimerkkisanomaan pohjautuen

    Muutokset skeemapakettiin V11.10:
    -Skeeman rakennetta muutettu siten, että yleisten osien rakenne siirretty skeematiedostoon ForestCentreCommon.xsd ja tähän skeemaan jätetty päätössanomalle spesifit osat
    
    Muutokset skeemapakettiin V14.05:
    -Lisätty tyyppimäärittelyyn StandType optionaalinen attribuutti "id", tyypiltään "co:IdStringNotEmptyType"
    -Muutettu elementti Stand pakollisesta vapaaehtoiseksi
    -Tyyppimäärittelyyn SubsidyType lisätty uusi vapaaehtoinen elementti "StandId"
    -Tyyppimäärittelyyn DecisionGeometryType lisätty uusi vapaaehtoinen elementti "StandId"
    -Elementin Justification tyyppimäärittely muutettu String2000Type -> String5000Type
    -Elementin SubsidyArgumentText tyyppimäärittely muutettu String2000Type -> String5000Type
    -Elementin RectificationDemand tyyppimäärittely muutettu String2000Type -> String5000Type
    -Lisätty uusi elementti DecisionHandler, tyypiltään DecisionHandlerType
    -Lisätty uusi tyyppimäärittely DecisionHandlerType. Perustyypiltään (extensionBase) ci:ContactInformationType, laajennettu attribuutilla "role" (co:String100Type)
    -Lisätty uusi elementti DecisionHandlers, tyypiltään DecisionHandlersType
    -Lisätty uusi tyyppimäärittely DecisionHandlersType
    -Elementti FinancingActData muutettu pakollisesta vapaaehtoiseksi
    -Elementti SubsidyArgumentText muutettu SubsidyArgument-listan lapsielementiksi ja muutettu pakolliseksi
    -Lisätty uusi vapaaehtoinen elementti SubsidyArgument, tyypiltään SubsidyArgumentType
    -Lisätty uusi tyyppimäärittely SubsidyArgumentType. Tietosisältönä lista tukipäätöstekstejä.
    -Elementin DecidedTotalSubsidy tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elementin DecidedUnitPrice tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elementin DecidedAmountUnit tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elemention DecidedAmount tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elementin CostTypeDescription tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elementin CostType tyyppimäärittely siirretty skeemaan ForestCentreCommon.xsd
    -Elementti SubsidyArgumentText muutettu SubsidyArgument-listan lapsielementiksi ja muutettu pakolliseksi
    
    Muutokset skeemapakettiin V14.07:
    -Tyyppimäärittelyn CaseActionType lapsielementin määrittely ActionDescription muutettu vapaaehtoiseksi tiedoksi
    -Elementtimäärittelyn ApplicationAmount muutos: co:Decimal7And2PositiveType > co:Decimal7And2Type. Sallitaan myös negatiiviset luvut.
    -Elementtimäärittelyn ApplicationAmountUnit muutos: co:WorkCodeUnitType > co:ForestCentreUnitType. Alkuperäistä koodistoa laajennettu koodeilla 0 ja 11.
    -Elementtimäärittelyn ApplicationUnitPrice muutos: co:Decimal7And2PositiveType > co:MoneyType. Sallitaan myös negatiiviset euromäärät.
    -Elementtimäärittelyn ApplicationTotalSubsidy muutos: co:Decimal7And2PositiveType > co:MoneyType. Sallitaan myös negatiiviset euromäärät.
    -Lisätty uusi elementtimäärittely SubsidyPercent
    -Lisätty uusi elementti SubsidyPercent tyyppimäärittelyn SubsidyType lapsielementiksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedAmount muutettu vapaaehtoiseksi tiedoksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedAmountUnit muutettu vapaaehtoiseksi tiedoksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedUnitPrice muutettu vapaaehtoiseksi tiedoksi

    Muutokset skeemapakettiin V16.01:
    -Tyyppimäärittelyn CaseActionType lapsielementin määrittely ActionDescription muutettu vapaaehtoiseksi tiedoksi
    -Elementtimäärittelyn ApplicationAmount muutos: co:Decimal7And2PositiveType > co:Decimal7And2Type. Sallitaan myös negatiiviset luvut.
    -Elementtimäärittelyn ApplicationAmountUnit muutos: co:WorkCodeUnitType > co:ForestCentreUnitType. Alkuperäistä koodistoa laajennettu koodeilla 0 ja 11.
    -Elementtimäärittelyn ApplicationUnitPrice muutos: co:Decimal7And2PositiveType > co:MoneyType. Sallitaan myös negatiiviset euromäärät.
    -Elementtimäärittelyn ApplicationTotalSubsidy muutos: co:Decimal7And2PositiveType > co:MoneyType. Sallitaan myös negatiiviset euromäärät.
    -Lisätty uusi elementtimäärittely SubsidyPercent
    -Lisätty uusi elementti SubsidyPercent tyyppimäärittelyn SubsidyType lapsielementiksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedAmount muutettu vapaaehtoiseksi tiedoksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedAmountUnit muutettu vapaaehtoiseksi tiedoksi
    -Tyyppimäärittelyn SubsidyType lapsielementin määrittely DecidedUnitPrice muutettu vapaaehtoiseksi tiedoksi
    
    Muutokset skeemapakettiin V18.01:
    -Elementtimäärittelyn SubsidyZone tyyppimäärittelyn nimeksi vaihdettu co:ForestActAreaType

	****************************************************************************
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreDecision"
	xmlns="http://standardit.tapio.fi/schemas/forestData/ForestCentreDecision"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:fcc="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	elementFormDefault="qualified" version="V18.01">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
		schemaLocation="ForestCentreCommon.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstate.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase"
		schemaLocation="StandBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ForestCentreData" type="ForestCentreDecisionDataType"/>
	<xs:element name="ForestCentreDecision" type="ForestCentreDecisionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsäkeskuksen päätössanoma, kun Message = MKPS</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseNumber" type="fcc:FinancingActNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asianumero. Käytetään myös termiä (hankkeen) Riihi-numero. Tapauskohtaisesti tarkoittaa Riihinumeroa, MKI-nro... Kemera-hakemuksessa vastaava tieto FinancingActNumber.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiapäivämäärä, hakemuspäivämäärä tai vastaava</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionNumber" type="co:String100Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätösnumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionType" type="co:DecisionTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöstyyppikoodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöspäivämäärä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Acceptance" type="co:AcceptanceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätös: Hyväksytty / Hylätty / Osittain hyväksytty</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Acceptance: Accepted / Rejected / Partially accepted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseActions" type="CaseActionsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiatoimenpiteet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseAction" type="CaseActionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiatoimenpide</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionType" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpidetyyppi: hakemus | kuuleminen | päätös | maksatus | asiakirjan lähettäminen</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen kuvaus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ActionDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpidepäivämäärä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="OriginalSender" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Alkuperäinen lähettäjä/laatija</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionReceivers" type="DecisionReceiversType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen vastaanottaja(t)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionReceiver" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen vastaanottaja(t)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attorney" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Asiamies</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstates" type="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvät kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstate" type="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä kiinteistö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyZone" type="co:ForestActAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera tukialue</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Stands" type="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvät kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Stand" type="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä kuvio</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandNumber" type="stb:StandNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandNumberExtension" type="stb:StandNumberExtensionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvionumero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvioviite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandId" type="co:IdStringNotEmptyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvio id</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionGeometries" type="DecisionGeometriesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kaikki päätöksiin liittyvät geometriatiedot, mukaan lukien kuviot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionGeometry" type="DecisionGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätökseen liittyvä geometriatieto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ObjectType" type="co:DecisionGeometryObjectType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kohdetyyppi, koodisto</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Works" type="WorksType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajit</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Work" type="WorkType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlaji</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCode" type="co:ForestCentreWorkCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajikoodi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajin selite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Subsidies" type="SubsidiesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuet (Kemera) ja korvaukset (HVI)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Subsidy" type="SubsidyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RealEstateId" type="co:IdStringType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CostType" type="fcc:CostTypeType2">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kustannuslajikoodi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CostTypeDescription" type="fcc:CostTypeDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kustannuslajiselite</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyPercent" type="co:PercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiprosentti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationAmount" type="co:Decimal7And2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen haettu määrä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationAmountUnit" type="co:ForestCentreUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen haetun määrän yksikkö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationUnitPrice" type="co:MoneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Haetun tuen yksikköhinta, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ApplicationTotalSubsidy" type="co:MoneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Haetun tuen kokonaismäärä, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedAmount" type="fcc:DecidedAmountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuki, päätetty määrä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedAmountUnit" type="fcc:DecidedAmountUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuki, päätetyn määrän yksikkö</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedUnitPrice" type="fcc:DecidedUnitPriceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuen yksikköhinta, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecidedTotalSubsidy" type="fcc:DecidedTotalSubsidyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätetyn tuen kokonaismäärä, euroa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reasons" type="ReasonsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustelut tarkastustietojen perusteella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reason" type="ReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Perustelu tarkastustietojen perusteella</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReasonCode" type="co:String10Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperustelukoodi</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReasonDescription" type="co:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperusteluteksti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyArgument" type="SubsidyArgumentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperustelutekstit</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActData" type="FinancingActDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorksDueDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä johon mennessä työt saatettava viimeistään loppuun</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CompletionDeclarationDeliveryDueDate" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päivämäärä jolloin toteutusilmoitus on toimitettava viimeistään Metsäkeskukselle</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Justifications" type="JustificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Justification" type="co:String5000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätösperustelu tekstinä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="RectificationDemand" type="co:String5000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Oikaisuvaatimusosoitus tekstinä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Rectification demand as text</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCodeGroup" type="co:ForestCentreWorkCodeGroupType"/>
	<xs:element name="FirstName" type="ci:FirstNameType"/>
	<xs:element name="LastName" type="ci:LastNameType"/>
	<xs:element name="PersonOrganizationName" type="ci:PersonOrganizationNameType"/>
	<xs:element name="DecisionHandlers" type="DecisionHandlersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöskäsittelijät</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decision handlers</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DecisionHandler" type="DecisionHandlerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöskäsittelijä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Decision handler</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SubsidyArgumentText" type="co:String5000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukiperusteluteksti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->

	<xs:complexType name="ForestCentreDecisionDataType">
		<xs:complexContent>
			<xs:extension base="fcc:ForestCentreDataType">
				<xs:sequence>
					<xs:element ref="ForestCentreDecision" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ForestCentreDecisionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsäkeskuksen Kemera-päätös</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest centre Kemera desicion</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CaseNumber"/>
			<xs:element ref="CaseDate"/>
			<xs:element ref="DecisionNumber"/>
			<xs:element ref="DecisionType"/>
			<xs:element ref="DecisionDate"/>
			<xs:element ref="fcc:CustomerReference" minOccurs="0"/>
			<xs:element ref="fcc:FinancingActApplicationReference" minOccurs="0"/>
			<xs:element ref="fcc:CompletionDeclarationReference" minOccurs="0"/>
			<xs:element ref="fcc:ForestUseDeclarationReference" minOccurs="0"/>
			<xs:element ref="Acceptance"/>
			<xs:element ref="CaseActions"/>
			<xs:element ref="OriginalSender"/>
			<xs:element ref="DecisionReceivers"/>
			<xs:element ref="Attorney" minOccurs="0"/>
			<xs:element ref="RealEstates"/>
			<xs:element ref="DecisionGeometries" minOccurs="0"/>
			<xs:element ref="Works"/>
			<xs:element ref="SubsidyArgument" minOccurs="0"/>
			<xs:element ref="FinancingActData" minOccurs="0"/>
			<xs:element ref="Justifications"/>
			<xs:element ref="RectificationDemand"/>
			<xs:element ref="DecisionHandlers"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Päätöksen id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Decision id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CaseActionsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CaseAction" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CaseActionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ActionType"/>
			<xs:element ref="ActionDescription" minOccurs="0"/>
			<xs:element ref="ActionDate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionReceiversType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DecisionReceiver" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstate" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="re:BaseRealEstateType2">
				<xs:sequence>
					<xs:element ref="SubsidyZone"/>
					<xs:element ref="Stands" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Stand" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Päätöksen kuvio</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StandNumber"/>
			<xs:element ref="StandNumberExtension" minOccurs="0"/>
			<xs:element ref="StandReference" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringNotEmptyType" use="optional"/>
	</xs:complexType>

	<xs:complexType name="DecisionGeometriesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kaikki päätöksiin liittyvät geometriatiedot mukaan lukien kuviot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DecisionGeometry" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionGeometryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ObjectType"/>
			<xs:element ref="StandReference" minOccurs="0"/>
			<xs:element ref="StandId" minOccurs="0"/>
			<xs:group ref="gdt:PointLineAndPolygonGeometriesGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Geometrian id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Geometry id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="WorksType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Work" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WorkType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WorkCodeGroup"/>
			<xs:element ref="WorkCode"/>
			<!-- <xs:element ref="WorkDescription"/> -->
			<xs:element ref="Subsidies"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubsidiesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Subsidy" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubsidyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstateId"/>
			<xs:element ref="StandReference" minOccurs="0"/>
			<xs:element ref="StandId" minOccurs="0"/>
			<xs:element ref="CostType"/>
			<xs:element ref="CostTypeDescription"/>
			<xs:element ref="SubsidyPercent" minOccurs="0"/>
			<xs:element ref="ApplicationAmount" minOccurs="0"/>
			<xs:element ref="ApplicationAmountUnit" minOccurs="0"/>
			<xs:element ref="ApplicationUnitPrice" minOccurs="0"/>
			<xs:element ref="ApplicationTotalSubsidy" minOccurs="0"/>
			<xs:element ref="DecidedAmount" minOccurs="0"/>
			<xs:element ref="DecidedAmountUnit" minOccurs="0"/>
			<xs:element ref="DecidedUnitPrice" minOccurs="0"/>
			<xs:element ref="DecidedTotalSubsidy"/>
			<xs:element ref="Reasons" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReasonsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Reason" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReasonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ReasonCode"/>
			<xs:element ref="ReasonDescription"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FinancingActDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WorksDueDate"/>
			<xs:element ref="CompletionDeclarationDeliveryDueDate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="JustificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Justification" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionContactInformationType">
		<xs:sequence>
			<xs:element ref="FirstName"/>
			<xs:element ref="LastName"/>
			<xs:element ref="PersonOrganizationName"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType" use="optional"/>
	</xs:complexType>

	<xs:complexType name="DecisionHandlersType">
		<xs:sequence>
			<xs:element ref="DecisionHandler" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DecisionHandlerType">
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<xs:attribute name="role" type="co:String100Type">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Päätöskäsittelijän rooli</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SubsidyArgumentType">
		<xs:sequence>
			<xs:element ref="SubsidyArgumentText" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
