MetsatietostandardiskeematV33.03/V33/ForestStatisticsData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	**********************************************************************************************
	Puukaupan tilastojen elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	VERSIOKOMMENTIT 1.0 
	5.2.2015
	Metsänhoito- ja metsänparannustöiden tilastostandardi
		-Pohjaksi on otettu puukaupan tilastostandardin skeema
	
	VERSIOKOMMENTIT 1.1
	25.3.2015
    Pakollisuudet määritetty elementeille,	
	PurchaseModeCode lisätty LogingRows elementtiin,
	Tilastostandardiin liittyviä koodistomuutoksia:
    OperationSpecificationType tarkistettu ja korjattu,
    StatisticsOperationType päivitetty istutustyölajien osalta,
    'Julkisyhteisö' lisätty ForestOwnerGroup- koodistoon    
	
	RoundWoodSalesRows elementit on toteutettu Puukaupan tilastostandardin skeemassa PUUKTIL. 
	Tässä skeemassa viitataan näiltä osin siis WorkingSiteTrade_WoodPurchaseStatistics_20120508.xsd skeemaan,
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.08:
	-Päivitetty elementin LoggingsRow dokumentaatio
	-Päivitetty elementin LoggingsRows dokumentaatio
	-Päivitetty elementin OperationRow dokumentaatio
	-Päivitetty elementin OperationRows dokumentaatio
	-Päivitetty complexTypen LoggingsRowType dokumentaatio
	
	Muutokset skeemapakettiin V14.01:
	-Elementille ForestStatisticsData lisätty pakollinen attribuutti "schemaPackageVersion", lisäksi vapaaehtoiset attribuutit "schemaPackageSubversion" ja "schemaPackageVersionDate"
	
	Muutokset skeemapakettiin V31.03:
    -Päivitetty tyyppimäärittelyn AreaCodeType dokumentaatiota
    -Vaihdettu tyyppimäärittelyn AssortmentCompactClassType nimeksi AssortmentCompactType
    -Lisätty uusi tyyppimäärittely nimellä AssortmentCompactClassType ja mukailtu sen sisällössä RoundWoodSalesRow:n AssortmentCompactClassTypen rakennetta
    -Lisätty uusi tyyppimäärittely AssortmentsCompactType (puutavaralajit)
    -Lisätty uudet elementit AssortmentClassCode (as:AssortmentClassCodeType), AssortmentsCompact (AssortmentsCompactType) ja AssortmentCompact (AssortmentCompactType)
	
	*************************************************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/ForestStatisticsData"
    xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/ForestStatisticsData"
    xmlns:as="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
    xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common"
    xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
    xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
    xmlns:rws="http://standardit.tapio.fi/schemas/workingsitetrade/woodpurchasestatistics"
    elementFormDefault="qualified" attributeFormDefault="qualified" version="V31.03">

    <!-- Imports / Includes -->
    <xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
        schemaLocation="WorkingSiteTrade_Assortment.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
        schemaLocation="WorkingSiteTrade_Common.xsd"/>
    <xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
        schemaLocation="JHS170_20090304.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
        schemaLocation="Common.xsd"/>
    <xs:import
        namespace="http://standardit.tapio.fi/schemas/workingsitetrade/woodpurchasestatistics"
        schemaLocation="WorkingSiteTrade_WoodPurchaseStatistics.xsd"/>

    <!-- Elementtimääritykset -->
    <!-- Element definitions -->
    <xs:element name="ForestStatisticsData" type="ForestStatisticsDataType"/>
    <xs:element name="AreaType" type="AreaTypeType"/>
    <xs:element name="AreaCode" type="AreaCodeType"/>
    <xs:element name="StartDate" type="StartDateType"/>
    <xs:element name="EndDate" type="EndDateType"/>
    <xs:element name="CompanyID" type="CompanyIDType"/>
    <xs:element name="PurchaseModeCode" type="co:StatisticsPurchaseModeCodeType"/>
    <xs:element name="AssortmentCompactClasses" type="as:AssortmentCompactClassesType"/>
    <xs:element name="StatisticsAssortmentCompactClasses" type="AssortmentCompactClassesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajien tiedot (nimi viittaa virheellisesti puutavaralajiluokkaan).</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="AssortmentInfo" type="AssortmentInfoType"/>
    <xs:element name="AssortmentCompactClass" type="AssortmentCompactClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralaji suppein tiedoin (nimi viittaa virheellisesti puutavaralajiluokkaan).</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
    </xs:element>
    <xs:element name="LoggingsRow" type="LoggingsRowType"/>
    <xs:element name="LoggingsRows" type="LoggingsRowsType"/>
    <xs:element name="OperationRows" type="OperationRowsType"/>
    <xs:element name="OperationRow" type="OperationRowType"/>
    <xs:element name="StatisticsOperation" type="StatisticsOperationType"/>
    <xs:element name="ForestOwnerGroup" type="ForestOwnerGroupType"/>
    <xs:element name="StatisticsClassifier"/>
    <xs:element name="StatisticsQuantities" type="StatisticsQuantitiesType"/>
    <xs:element name="StatisticsQuantity" type="StatisticsQuantityType"/>
    <xs:element name="Quantity" type="QuantityType"/>
    <xs:element name="QuantityUnit" type="co:ExtendedQuantityUnitType"/>
    <xs:element name="TreeSpecies" type="TreeSpeciesType"/>
    <xs:element name="StemType" type="StemTypeType"/>
    <xs:element name="ReportedStatisticsOperationType" type="co:ReportedStatisticsOperationTypeType"/>
    <xs:element name="AssortmentClassCode" type="as:AssortmentClassCodeType"/>
    <xs:element name="AssortmentsCompact" type="AssortmentsCompactType"/>    
    <xs:element name="AssortmentCompact" type="AssortmentCompactType"/>

    <!-- Tyyppimääritykset -->
    <!-- Type definitions -->
    <xs:complexType name="ForestStatisticsDataType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Alueittaisen puukauppatilaston rakenteen määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Structure for areal roundwood sales statistics.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="CompanyID" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StartDate" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="EndDate" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="rws:RoundWoodSalesRows" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="OperationRows" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Metsänhoito- ja metsänparannustöiden tilastot</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
            <xs:element ref="LoggingsRows" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Puunkorjuutilastot</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaPackageVersion" type="co:ForestDataStandardSchemaPackageVersionType" use="required"/>
        <xs:attribute name="schemaPackageSubversion" type="co:ForestDataStandardSchemaPackageSubversionType" use="optional"/>
        <xs:attribute name="schemaPackageVersionDate" type="co:DateType" use="optional"/>
    </xs:complexType>
    
    <xs:simpleType name="CompanyIDType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Yrityksen Y-tunnus</xs:documentation>
        </xs:annotation>
        <xs:restriction base="jhs:YritysTunnusTyyppi"/>
    </xs:simpleType>
    <xs:simpleType name="StartDateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilastojakson (viikon/kuukauden/vuoden/...) alkupäivämäärä</xs:documentation>
        </xs:annotation>
        <xs:restriction base="jhs:AlkuPvmTyyppi"/>
    </xs:simpleType>
    <xs:simpleType name="EndDateType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilastojakson (viikon/kuukauden/vuoden/...) loppupäivämäärä</xs:documentation>
        </xs:annotation>
        <xs:restriction base="jhs:LoppuPvmTyyppi"/>
    </xs:simpleType>
    <!-- metsänparannustyöt -->
    <xs:complexType name="OperationRowsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="OperationRow" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Metsänhoito- ja metsänparannustöiden tilasto</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OperationRowType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="AreaType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="AreaCode" minOccurs="1" maxOccurs="1"/>
            <!-- Metsävarasanoman työlajit, tarvitaan laajennus ainakin tien rakennukseen liittyvissä työlajeissa. Ks. alustava koodisto. -->
            <!-- Työlajin tarkenne, tältä osin pohjana voi olla metsäväarasanoman tarkenteet. Mahdollisesti tarve supistaa metsävarakoodistoa. Ks. alustava koodisto. -->
            <xs:element ref="StatisticsOperation" minOccurs="1" maxOccurs="1"/>
            <!-- Tilastoitavan työlajin koodi. Erillinen Excel-listaus työlajeista. Ks. alustava koodisto. -->
            <xs:element ref="ForestOwnerGroup" minOccurs="1" maxOccurs="1"/>
            <!-- Tilaston lähtötietojen luokittelu metsänomistajaryhmän mukaan. Ks. alustava koodisto. -->
            <xs:element ref="ReportedStatisticsOperationType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="StatisticsQuantities" minOccurs="1" maxOccurs="1"/>
            <!-- Tilastoitavat määrätiedot, yksittäiseen työlajiin voidaan littää samaan alueyksikköön liittyen useampi määrätieto -->
        </xs:sequence>
    </xs:complexType>
    <!--HakkuuTilastot -->
    <xs:complexType name="LoggingsRowsType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puukauppatilastojen rakenteiden määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="LoggingsRow" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Puunkorjuutilasto</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoggingsRowType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Alueittaisen puunkorjuutilaston rakenteen määrittely.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Structure for areal roundwood harvesting statistics.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="AreaType" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="AreaCode" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="PurchaseModeCode" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ForestOwnerGroup" minOccurs="1" maxOccurs="1"/>
            <!-- Tilaston lähtötietojen luokittelu metsänomistajaryhmän mukaan. Ks. alustava koodisto. -->
            <xs:element ref="StatisticsAssortmentCompactClasses" minOccurs="1" maxOccurs="1"/>
            <!-- RAPORTOITAVA TIETO VOIDAAN LUOKITELLA / OSITTAA LUOKITTELIJAN AVULLA -->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssortmentCompactClassesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajit suppein tiedoin (nimi viittaa virheellisesti puutavaralajiluokkaan).</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="AssortmentCompactClass" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssortmentsCompactType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajit.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Assortments with compact information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="AssortmentCompact" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssortmentCompactClassType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajiluokan tiedot suppein tiedoin.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="AssortmentClassCode">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Puutavaralajiluokan tunnus, esim. hakkuutapa, hintaluokka, toimituskelpoisuus tai em. yhdistelmä.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en">Assortment class code, usually "first thinning", "thinning", "regeneretion felling".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="AssortmentsCompact">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Puutavaralajiluokan puutavaralajit suppein tiedoin.</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssortmentCompactType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralaji suppein tiedoin (nimi viittaa virheellisesti puutavaralajiluokkaan).</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="TreeSpecies"/>
            <xs:element ref="StemType"/>
            <xs:element ref="Quantity"/>
            <xs:element ref="QuantityUnit"/>
            <xs:element ref="AssortmentInfo"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- yleiset tyyppimääritykset -->
    <xs:simpleType name="AreaTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kunnittainen vai suuralueittainen tieto.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="co:AreaTypeType"/>
    </xs:simpleType>
    <xs:simpleType name="AreaCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Kuntakoodi kolmella numerolla (tarvittaessa etunollat)</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="StatisticsOperationType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="co:StatisticsOperationType"/>
    </xs:simpleType>
    <xs:simpleType name="ForestOwnerGroupType">
        <xs:annotation>
            <xs:documentation xml:lang="fi"/>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="co:ForestOwnerGroupType"/>
    </xs:simpleType>
    <xs:complexType name="StatisticsQuantitiesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilastoitavat määrätiedot, yksittäiseen työlajiin voidaan littää samaan alueyksikköön liittyen useampi määrätieto</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="StatisticsQuantity" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Tilastoitava määrätieto</xs:documentation>
                    <xs:documentation xml:lang="sv"/>
                    <xs:documentation xml:lang="en"/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsQuantityType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilastoitava määrätieto</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="Quantity"/>
            <xs:element ref="QuantityUnit"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QuantityType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilastoitava määrä</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:restriction base="co:Decimal2FractionDigitsType"/>
    </xs:simpleType>
    <xs:simpleType name="TreeSpeciesType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajin puulajikoodi.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Tree species of assortment.</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="co:TreeSpeciesType co:EmptyStringType co:ExtraTreeSpeciesType"/>
    </xs:simpleType>
    <xs:simpleType name="StemTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajin runkolaji, esim. tukki, kuitu, runko, kanto, energiapuu, pikkutukki, parru</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Stem type of assortment.</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="co:StemTypeType co:ExtraStemTypeType"/>
    </xs:simpleType>
    <xs:simpleType name="AssortmentInfoType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Puutavaralajin lisätietoteksti.</xs:documentation>
            <xs:documentation xml:lang="sv"/>
            <xs:documentation xml:lang="en">Some additional information.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
