MetsatietostandardiskeematV33.03/V33/ForestUseDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	*****************************************************************************
	Metsänkäyttöilmoituksen elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	Ensimmäinen versio 1.0

	VERSIOKOMMENTIT 1.0
	15.8.2014
	- Skeemat Common.xsd,Common_BasicDataType.xsd,ForestEnumeratives.xsd on 
	yhdeksi namespaceksi: xmlns="http://standardit.tapio.fi/schemas/forestData/common" 
	- ContactInformation_20110214.xsd -> ContactInformation.xsd
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/contactInformation/2011/02/14"
	-> 	targetNamespace="http://standardit.tapio.fi/schemas/forestData/contactInformation
    Tässä skeemassa otettu käyttöön uudet common ja contactInformation nimiavaruudet 
	
	29.9.2014 CuttingType elementti poistettu sanomasta, SoilPreparationOperation,
	RegenerationOperation, OtherOperaton ja CuttingRightsOwner vapaavalintaisiksi
	
	VERSIOKOMMENTIT 1.0 >>> 1.1
	10.4.2015 Otettu käyttön lokaalit gml skeemat
	
	26.5.2015 DeclarationStand-rakenteesta poistettu pakollisuus kentiltä
	HabitatOperations, OtherHabitatCode, DeclarationDevelopmentClass, DeclarationRegenerationCommitment,
	DeclarationStandTextInformation, FertilityClass, MainGroup, MainTreeSpecies, MeanAge, MeanDiameter,
	SoilType, SubGroup
	Nimi muutettu MainTreeSpecies -> DeclarationMainTreeSpecies
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.05:
	-Elementin Documents tyyppimäärittely muutettu DocumentsType -> fcc:DocumentsType. Lisäksi tyyppimäärittely DocumentsType poistettu skeematiedostosta.
	****************************************************************************
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForestUseDeclaration"
	xmlns="http://standardit.tapio.fi/schemas/forestData/ForestUseDeclaration"
	xmlns:fcc="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
	xmlns:stb="http://standardit.tapio.fi/schemas/forestData/standbase"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:spf="http://standardit.tapio.fi/schemas/forestData/specialFeature"
	xmlns:re="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="V11.05">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/standbase"
		schemaLocation="StandBase.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
		schemaLocation="RealEstate.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/specialFeature"
		schemaLocation="SpecialFeature.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreCommon"
		schemaLocation="ForestCentreCommon.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="ForestUseDeclaration" type="ForestUseDeclarationType"/>
	<xs:element name="CuttingRightsOwner" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuuoikeuden omistaja</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CuttingsRightsOwnerRepresentative" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuuoikeiden omistajan edustaja / yhteyshenkilö, jota tiedotetaan metsänkäyttöilmoitukseen liittyvissä asioissa </xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sender" type="SenderType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ilmoituksen lähettäjä / laatija</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="PowerOfAttorney" type="fcc:PowerOfAttorneyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valtakirja olemassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Power of attorney exists</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdatePreviousDeclaration" type="co:YesNoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kyllä- / Ei-tieto, jolla ilmoituksen lähettäjä ilmaisee korvaako hän aikaisemman ilmoituksen lähettämällä uuden täydellisen ilmoituksen vai lähettääkö hän uutta ilmoitusta. Arvo 0 uudella ilmoituksella ja arvo 1 päivittävällä ilmoituksella.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ilmoituksen lähettäjän antama ilmoituskohtainen, valtakunnallisesti yksilöivä viite. Ilmoitusviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama ilmoituksen yksilöivä tunnus.  Lähettävän organisaation tunnukset:  Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI,  L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2015999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationTextInformation" type="co:String2000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen lisätiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SpecialPermission" type="co:YesNoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Haetaanko poikkeusta määräajasta</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationRealEstates" type="DeclarationRealEstatesType"/>
	<xs:element name="ProcessingAreas" type="ProcessingAreasType"/>
	<xs:element name="ProcessingArea" type="ProcessingAreaType"/>
	<xs:element name="ProcessingAreaNumber" type="ProcessingAreaNumberType"/>
	<xs:element name="ProcessingAreaReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ilmoituksen lähettäjän antama käsittelyaluekohtainen, valtakunnallisesti yksilöivä viite. Käsittelyalueviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama käsittelyalueen yksilöivä tunnus. Lähettävän organisaation tunnukset: Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI, L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2003999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationStands" type="DeclarationStandsType"/>
	<xs:element name="DeclarationStand" type="DeclarationStandType"/>
	<xs:element name="StandNumber" type="stb:StandNumberType"/>
	<xs:element name="StandNumberExtension" type="stb:StandNumberExtensionType"/>
	<xs:element name="DeclarationStandReference" type="co:ReferenceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ilmoituksen lähettäjän antama kuviokohtainen, valtakunnallisesti yksilöivä viite. Kuvioviitteen muodostamissääntö: lähettäjän organisaatiotunnus, vuosi, lähettäjän antama kuvion yksilöivä tunnus. Lähettävän organisaation tunnukset: Metsähallitus=M-H, Metsämannut=M-M, Metsänhoitoyhdistys=MHY, Stora Enso=S-E, Tornator=TOR, UPM-Kymmene=UPM, MetsäGroup=M-G, Metsään.fi = MFI, L&amp;T Biowatti Oy = BWO, Muu organisaatio=MUU. Esim. MHY2003999999999999999999999. Jos siirtotiedostossa käytetään MUU-organisaatiotunnusta, on siitä oltava yhteydessä tiedonsiirtopalvelun ylläpitäjään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Area" type="stb:AreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion kokonaispinta-ala hehtaareina (geometrian pinta-ala)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CuttingPurpose" type="co:CuttingPurposeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun tarkoitus metsänkäyttöilmoituksesta</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CuttingRealizationPractice" type="co:CuttingRealizationPracticeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen hakkuutapa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForestDamageQualifier" type="co:ForestDamageQualifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuhon laatu</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="HabitatCode" type="co:HabitatCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityisen tärkeä elinympäristö, metsälaki. Yhdellä MKI-kuviolla voi ilmoittaa vain yhden erityisen tärkeän eliympäristön. Jos samalla kuviolla on useampia elinympäristöjä, ne voidaan ilmoittaa ”Lisätieto” –kentässä (DeclarationStandTextInformation).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="HabitatOperation" type="co:HabitatOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Erityisen tärkeä elinympäristö (metsälaki), muu toimenpide. Erityisen tärkeään elinympäristöön liittyvä toimenpide kohdistetaan HabitatCode-koodin mukaiseen elinympäristöön ao. kuviolle. Jos on samalle kuviolle on ”Lisätieto” –kentässä (DeclarationStandTextInformation) ilmoitettu toinen elinympäristö, siihen liittyvä toimenpide ilmoitetaan myös ”Lisätieto” –kentässä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="HabitatOperations" type="HabitatOperationsType"/>
	<xs:element name="OtherHabitatCode" type="co:OtherHabitatCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Muu luontokohde. Muuhun luontokohteeseen (ei metsälakikohde) ei tarvitse liittää toimenpidettä, koska sitä ei ole metsälaissa määritelty. Tarvittaessa voi kuitenkin käyttää kuvion ”Lisätieto” -kenttää (DeclarationStandTextInformation) lisäselvityksen antamiseen.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="MainGroup" type="co:ExtendedMainGroupType"/>
	<xs:element name="SubGroup" type="co:SubGroupType"/>
	<xs:element name="FertilityClass" type="co:FertilityClassType"/>
	<xs:element name="SoilType" type="co:SoilTypeType"/>
	<xs:element name="DeclarationMainTreeSpecies" type="co:TreeSpeciesConciseType"/>
	<xs:element name="DeclarationDevelopmentClass" type="co:DeclarationDevelopmentClassType"/>
	<xs:element name="MeanAge" type="co:AgeType"/>
	<xs:element name="MeanDiameter" type="MeanDiameterType"/>
	<xs:element name="DeclarationRegenerationCommitment" type="co:RegenerationCommitmentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Syykoodi uudistamisvelvoitteelle.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationRegenerationOperation"
		type="co:DeclarationRegenerationOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Uudistamistapa ja puulaji</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationSoilPreparationOperation"
		type="co:DeclarationSoilPreparationOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maanpinnan käsittelytapa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationOtherOperations" type="DeclarationOtherOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Muut perustamistoimenpiteet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationOtherOperation" type="co:DeclarationOtherOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Muu perustamistoimenpide</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeclarationStandTextInformation" type="co:String2000Type"/>
	<xs:element name="LocationEstate" type="fcc:LocationEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Id-viittaus RealEstate.id -attribuuttiin.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationEstates" type="LocationEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viittaukset sijaintikiinteitöihin.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SpecialFeature" type="spf:LocatedSpecialFeature3Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tietoja ei tallenneta Metsäkeskusjärjestelmään. Tiedot voidaan kuitenkin sisällyttää sanomaan jo nyt, mutta niitä ei huomioida ilmoituksen käsittelyn yhteydessä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="SpecialFeatures" type="SpecialFeaturesType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="ForestUseDeclarationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänkäyttöilmoitus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest use declaration.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="UpdatePreviousDeclaration" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DeclarationReference" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DeclarationTextInformation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SpecialPermission" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="CuttingRightsOwner" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CuttingsRightsOwnerRepresentative" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Sender" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DeclarationRealEstates" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="fcc:Documents" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Dokumentit</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SpecialFeatures" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Forest use declaration id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="SenderType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ilmoituksen lähettäjä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Sender</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType">
				<xs:sequence>
					<xs:element ref="PowerOfAttorney" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DeclarationRealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen kiinteistöt</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estates of forest use declaration</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="re:RealEstatesWithOwnersInformationType2">
				<xs:sequence>
					<xs:element ref="ProcessingAreas" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ProcessingAreasType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Käsittelyalueiden tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Data of processing areas</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ProcessingArea" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessingAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Käsittelyalueen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Data of Processing Area.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ProcessingAreaNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ProcessingAreaReference" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DeclarationStands" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Käsittelyalueen id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">ProcessingArea id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="ProcessingAreaNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Käsittelyalueen numero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Processing area number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>

	<xs:complexType name="DeclarationStandsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvioiden tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stands data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DeclarationStand" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DeclarationStandType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stand data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StandNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="StandNumberExtension" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationStandReference" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="Area" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="CuttingPurpose" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="CuttingRealizationPractice" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ForestDamageQualifier" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="HabitatCode" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="HabitatOperations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="OtherHabitatCode" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="MainGroup" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SubGroup" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FertilityClass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SoilType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationMainTreeSpecies" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationDevelopmentClass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="MeanAge" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="MeanDiameter" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationRegenerationCommitment" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationRegenerationOperation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationSoilPreparationOperation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationOtherOperations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="DeclarationStandTextInformation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="gml:polygonProperty" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen kuvion aluegeometria sisäalueineen.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Polygon geometry of stand of forest use declaration with interior polygons.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="LocationEstates" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kuvion id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="MeanDiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskiläpimitta, cm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Mean diameter, cm.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DiameterType"/>
	</xs:simpleType>

	<xs:complexType name="HabitatOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="HabitatOperation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DeclarationOtherOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DeclarationOtherOperation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LocationEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion sijaintikiinteistöjen id:t</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estate ids of stands</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="LocationEstate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SpecialFeaturesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijainnilliset erityispiirteet.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Located special features.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SpecialFeature" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
