MetsatietostandardiskeematV33.03/V33/ForestCentreMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Metsäkeskus viesti
	Skeema on JHS-170 -suosituksen mukainen.
	Ensimmäinen versio 1.0
	
	1.12.2104 Nimi muutettu kaikkialle: ForestryCentreMessage -> ForestCentreMessage
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.01:
	-Elementti CommonObjectData otettu käyttöön poistamalla se kommenttitageista. Samalla siirretty choice-blokin viimeiseksi elementiksi.
	-Elementin CommonObjectData dokumentaatio päivitetty vastaamaan käyttötarkoitustaan eli omavalvontaa
	
	Muutokset skeemapakettiin V11.02:
	-Skeematiedostosta siivottu käyttämättömät määrittelyt
	-Elementti CommonObjectData uudelleennimetty -> ForestCentreCommonObjectData. Samalla elementti muutettu käyttämään tyyppimäärittelyä ForestCentreCommonObjectDataType.
	
	Muutokset skeemapakettiin V11.04:
	-Elementti ForestCentreCommonObjectData piilotettu näkyvistä sijoittamalla se kommenttitageihin
	
	Muutokset skeemapakettiin V12.01:
	-Elementti ForestCentreCommonObjectData uudelleennimetty SelfMonitoringData:ksi. Samalla elementti otettu käyttöön poistamalla se kommenttitageista.
	
	Muutokset skeemapakettiin V13.01
	-Lisätty elementti ForestDataUpdate
	-Lisätty ForestDataUpdate-sanomaan elementit ObjectGeometry, ObjectBasicData, UseCases, Actors, StandBasicData, SoilData, TreeStandBasedData, TreeStandData, Operations, SpecialFeatures ja Documents
	-Piilotettu elementit ForestUseDeclaration, FinancingActApplication, FinancingActCompletionDeclaration ja MooseDamageDeclaration 
	-Muutettu Image:Image muotoon Image
	
	Muutokset skeemapakettiin V13.03:
	-Tyyppimäärittely SelfMonitoringDataType siirretty skeematiedostoon CommonObjectData.xsd, samalla nimetty uudelleen -> ForestCentreSelfMonitoringDataType
	-Tyyppimäärittely ObjectsType siirretty skeematiedostoon CommonObjectData.xsd, samalla nimetty uudelleen -> ForestCentreSelfMonitoringObjectsType
	-Elementti ForestDataUpdate poistettu käytöstä sijoittamalla se kommenttitageihin
	
	Muutokset skeemapakettiin V14.01:
	-Elementille ForestCentreMessage lisätty vapaaehtoiset attribuutit "schemaPackageSubversion" ja "schemaPackageVersionDate". Lisäksi lisätty attribuutille "schemaPackageVersion" pakollisuus.
	-ForestCentreMessage-elementin vapaaehtoiset määritykset otettu käyttöön SelfMonitoringData-elementin rinnalle.
	
	Muutokset skeemapakettiin V14.02:
	-Tyyppimäärittely ForestDataUpdateType siirretty siirretty skeematiedostosta ForestCentreMessage.xsd skeematiedostoon CommonObjectData.xsd
	-Tyyppimäärittely ForestCentreForestDataUpdateObjectsType siirretty skeematiedostosta ForestCentreMessage.xsd skeematiedostoon CommonObjectData.xsd
	
	Muutokset skeemapakettiin V14.03
	-Piilotettu lapsielementit ForestUseDeclaration, FinancingActApplication, FinancingActCompletionDeclaration, MooseDamageDeclaration ja SelfMonitoringData sekä niiden tyyppimääritykset
	
	Muutokset skeemapakettiin V26.01
	-Piilotettu lapsielementit SelfMonitoringData ja ForestDataUpdate sekä niiden tyyppimääritykset
	-Palautettu näkyviin lapsielementti ForestUseDeclaration ja sen tyyppimääritykset.	

	***************************************************************
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForestCentreMessage"
	xmlns="http://standardit.tapio.fi/schemas/forestData/ForestCentreMessage"
	xmlns:fud="http://standardit.tapio.fi/schemas/forestData/ForestUseDeclaration"
	xmlns:faa="http://standardit.tapio.fi/schemas/forestData/FinancingActApplication"
	xmlns:facd="http://standardit.tapio.fi/schemas/forestData/FinancingActCompletionDeclaration"
	xmlns:cod="http://standardit.tapio.fi/schemas/forestData/commonObjectData"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:mdd="http://standardit.tapio.fi/schemas/forestData/MooseDamageDeclaration"
	elementFormDefault="qualified" version="V26.01">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/ForestUseDeclaration"
		schemaLocation="ForestUseDeclaration.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/FinancingActApplication"
		schemaLocation="FinancingActApplication.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/forestData/FinancingActCompletionDeclaration"
		schemaLocation="FinancingActCompletionDeclaration.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/commonObjectData"
		schemaLocation="CommonObjectData.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/MooseDamageDeclaration"
		schemaLocation="MooseDamageDeclaration.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="ForestCentreMessage" type="ForestCentreMessageType"/>
	<xs:element name="TimeStamp" type="co:TimeStampType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Viestin lähetysajankohta, aikaleima</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Message" type="co:MessageType"/>
	<xs:element name="SenderEmail" type="ci:EmailAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Selain-lähetyksen palautteet lähetetään tähän sähköpostiosoitteeseen</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForestUseDeclaration" type="fud:ForestUseDeclarationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen tiedot, kun Message = MKI</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest use declaration data, when Message = MKI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActApplication" type="faa:FinancingActApplicationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera-hakemuksen tiedot, kun Message = KMRHA</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Financing act completion declaration data, when Message = KMRHA</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FinancingActCompletionDeclaration"
		type="facd:FinancingActCompletionDeclarationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kemera-toteutusilmoituksen tiedot, kun Message = KMRTI</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Financing act completion declaration data, when Message = KMRTI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SelfMonitoringData" type="cod:ForestCentreSelfMonitoringDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Omavalvonnan tiedot, kun Message = OVT</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Self-monitoring information, when Message = OVT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MooseDamageDeclaration" type="mdd:MooseDamageDeclarationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hirvivahinkoilmoituksen tiedot, kun Message = HVI</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Moose damage declaration data, when Message = HVI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForestDataUpdate" type="cod:ForestDataUpdateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsävaratiedon päivityspyyntö, kun Message = MVTP</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest data update request, when Message = MVTP</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="ForestCentreMessageType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsäkeskusviesti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Forest Centre Message</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="Message" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="SenderEmail" minOccurs="0"/>
			<xs:choice>
			<xs:element ref="ForestUseDeclaration" minOccurs="1" maxOccurs="1"/>
				<!--<xs:element ref="FinancingActApplication" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="FinancingActCompletionDeclaration" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="MooseDamageDeclaration" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="SelfMonitoringData" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ForestDataUpdate" minOccurs="1" maxOccurs="1"/>-->
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viestin id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Message id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schemaPackageVersion"
			type="co:ForestDataStandardSchemaPackageVersionType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viesti perustuu skeemapakettiin ...</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Message based on schema package ...</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schemaPackageSubversion"
			type="co:ForestDataStandardSchemaPackageSubversionType" use="optional"/>
		<xs:attribute name="schemaPackageVersionDate" type="co:DateType" use="optional"/>
	</xs:complexType>

</xs:schema>
