MetsatietostandardiskeematV33.03/V33/ForwardingNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.

    Muutokset skeemapakettiin V10.07:
    -Lisätty uusi elementti "DestinationStorage" (toimituspiste) ScaleFactorDataType:en. Elementti tyypiltään bdt:String20Type.
    
    Muutokset skeemapakettiin V11.07:
    -Elementin TreeSpecies tyyppimäärittely muutettu wct:StanfordTreeSpeciesType -> wct:ScaleFactorTreeSpeciesType
    
    Muutokset skeemapakettiin V14.03:
    -Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
    
    Muutokset skeemapakettiin V16.02:
    - StorageId-elementin maksimipituus kasvatettu 50 merkkiin

    Muutokset skeemapakettiin V21.01:
    - Lisätty tyyppimäärittelyyn ForwardingNotificationType uusi vapaaehtoinen elementti ClientApplicationId, tyypiltään bdt:ClientApplicationIdType

    Muutokse skeemapakettiin V23.01:
    - Vaihdettu elementin Weight tyyppimäärittelyksi bdt:Integer7digitsType
    
    Muutokset skeemapakettiin V32.01:
    - Lisätty tyyppimäärittelyyn ForwardingNotificationType uusi vapaaehtoinen elementti LoadRange(LoadRangeType)
	- Lisätty tyyppimäärittelyyn AssortmentDataType uudet vapaaehtoiset elementit DeliveryUserId (bdt:String50Type) ja Unit (bdt:WorkCodeUnitType)
	- Lisätty tyyppimäärittely LoadRangeType jossa elementit StartLoadNumber (bdt:PositiveInteger4digitsType) ja EndLoadNumber (bdt:PositiveInteger4digitsType)
	
	Muutokset skeemapakettiin V32.02:
	- Lisätty tyyppimäärittelyyn AssortmentDataType uusi vapaaehtoinen elementit AssortmentId (bdt:String50Type)

	Muutokset skeemapakettiin V33.02:
	- Päivitetty määrittelyn "ForwardingNotificationType" elementtien "WorkingSiteId" ja StorageId" tyypeiksi ERPIdType
	- Päivitetty määrittelyn "AssortmentDataType" elementin "AssortmentId" tyypiksi ERPIdType

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/ForwardingNotification"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="V33.02">

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
               schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<xs:element name="ForwardingNotification" type="ForwardingNotificationType"/>
	<xs:element name="DestinationStorage" type="bdt:String20Type"/>
	
	<xs:complexType name="ForwardingNotificationType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseContractNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puukaupan ostosopimusnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestHaulageDistance" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mekumatka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsForestHaulageDistanceContinued" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jatkettu mekumatka (kyllä/ei)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageFinished" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikka päättynyt?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageFinishedDate" type="bdt:TimeStampType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikka päättynyt pvm+klo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteFinished" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohko päättynyt?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteFinishedDate" type="bdt:TimeStampType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohko päättynyt pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Talletus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Assortments" type="AssortmentsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mekuilmoituksen PTL:t</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssortmentsChanges" type="AssortmentsChangesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lajisiirtymät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonMessages" type="CommonMessagesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vakioviestit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScaleFactors" type="ScaleFactorsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuormainvaakatekijät</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="ClientApplicationId" type="bdt:ClientApplicationIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Luotu sovelluksella</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadRange" type="LoadRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">StanForD 2012 ForwardedProduction (FPR) raportoitavat kuormat</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AssortmentsType">
		<xs:sequence>
			<xs:element name="Assortment" type="AssortmentDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssortmentsChangesType">
		<xs:sequence>
			<xs:element name="AssortmentsChange" type="AssortmentChangeDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonMessagesType">
		<xs:sequence>
			<xs:element name="CommonMessage" type="CommonMessageDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScaleFactorsType">
		<xs:sequence>
			<xs:element name="ScaleFactor" type="ScaleFactorDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AssortmentDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mekuilmoituksen PTL:t</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssortmentId" type="wct:ERPIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL:n yksilöivä tunniste (esim. GUID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DestinationStorage" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspiste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ptl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="bdt:Decimal3FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Määrä (oletusyksikkönä m3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unit" type="bdt:WorkCodeUnitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SentStorageVolume" type="bdt:Decimal3FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähetetty vp  m3. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SentWorkingSiteVolume" type="bdt:Decimal3FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähetetty lohko m3. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HarvesterVolume" type="bdt:Decimal3FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mitattu m3. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestHaulageDistanceContinued" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jatkettu mekumatka. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Covered" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Peitetty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasAssortmentChanges" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lajisiirtymiä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScaleTransformation" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Finished" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Päättynyt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryUserId" type="bdt:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajin yksilöivä tunniste. (Mihin toimituspuutavaralajiin PIN:nin mukaisesti hakattavat puut sisältyvät.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AssortmentChangeDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mekuilmoituksen lajisiirtymät</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OldDestinationStorage" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspiste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OldCode" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewDestinationStorage" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">uusi toimituspiste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewCode" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Uusi PTL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeVolume" type="bdt:Decimal3FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Siirretään m3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommonMessageDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vakioviestit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommonMessageId" type="wct:CommonMessageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vakioviestin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonMessageFreeText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viesti</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ScaleFactorDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuormainvaakatekijät</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScaleAssortmentType" type="bdt:ScaleAssortmentType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muunnostyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadCount" type="bdt:PositiveIntegerType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuormaluku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" type="wct:AreaCodeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aluekoodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="bdt:String50Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element ref="DestinationStorage">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspiste</xs:documentation>
				</xs:annotation>
            </xs:element>
			<xs:element name="CodeName" type="bdt:String50Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puutavaralajin nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSpecies" type="wct:ScaleFactorTreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuormainvaaka-puulajikoodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Month" type="wct:MonthType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittauskuukausi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HarvestingFinishedDate" type="bdt:TimeStampType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuu päättyi pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SemiDry" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puolikuiva</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SnowOrIce" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lumijää</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightClass" type="bdt:PositiveInteger1digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Painoluokka (puun kosteusprosentti)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Humidity" type="bdt:Decimal1FractionDigitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kosteus %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HumidityMeasured" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kosteus % mitattu käyttäjän toimesta (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestHaulageFinishedDate" type="bdt:TimeStampType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäkuljetus päättyi pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CleanlinessClass" type="bdt:CleanlinessClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puhtausluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Weight" type="bdt:Integer7digitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Paino kg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Density" type="bdt:Decimal3FractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tiheys</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="bdt:Decimal3FractionDigitsType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muunnettu m3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeltedWater" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sulamisvesi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LoadRangeType">
		<xs:sequence>	
			<xs:element name="StartLoadNumber" type="bdt:PositiveInteger4digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Alkukuormanumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndLoadNumber" type="bdt:PositiveInteger4digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppukuormanumero</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
