MetsatietostandardiskeematV33.03/V33/RealEstateBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kiinteistötietoihin liittyvät elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	VERSIOKOMMENTIT 1.0 
	RealEstateBase.xsd on uusi skeema, johon on siirretty skeemasta RealEstate_20110214.xsd
	peruskiinteistöelementit. Näillä skeemoilla on yhteinen nimiavaruus
	"http://standardit.tapio.fi/schemas/forestData/realEstate/2011/02/14"
	
	BaseRealEstateType ja RealEstateDataType yhdistetty, Tällä hetkellä RealEstateDataType
	jätetty olemassa olevien viittausten takia, mutta se vittaa BaseRealEstate- tyyppiin
	
	18.9.2015
	- BaseRealEstateType2 -tyypin LocationMunicipalityNumber -elementti muutettu pakolliseksi.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V14.05:
	-Muutettu tyyppimäärittelyssä BaseRealEstateType2 attribuutin "id" tyyppimäärittely xs:string -> co: IdStringNotEmptyType
	
	Muutokset skeemapakettiin V17.02:
	-Täydennetty dokumentaatioita
	***********************************************************************************
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns="http://standardit.tapio.fi/schemas/forestData/realEstate"
	xmlns:st="http://standardit.tapio.fi/schemas/forestData/Stand"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V17.02">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" schemaLocation="JHS170_20090304.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/Stand" schemaLocation="Stand.xsd"/>

	<!-- KIINTEISTÖ, REAL ESTATE -->
	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="BaseRealEstate" type="BaseRealEstateType"/>
	<xs:element name="RealEstateData" type="RealEstateDataType"/>
	<xs:element name="MunicipalityNumber" type="co:MunicipalityNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuntanumero, kiinteistörekisterin kunta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Municipality number of a real estate.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MunicipalityName" type="co:MunicipalityNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kunnan nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Name of municipality.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AreaNumber" type="AreaNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kylänumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="GroupNumber" type="GroupNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Talonumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="UnitNumber" type="UnitNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilanumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="UnseparetedParcelTypeChar" type="UnseparetedParcelTypeCharType"/>
	<xs:element name="UnseparetedParcelNumber" type="UnseparetedParcelNumberType"/>
	<xs:element name="RealEstateName" type="RealEstateNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistön nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationMunicipalityNumber" type="co:MunicipalityNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijaintikunnan numero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Location municipality number.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationMunicipalityName" type="co:MunicipalityNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Sijaintikunnan nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Name of location municipality.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegisterUnitId" type="RegisterUnitIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistötunnus on 4-osainen. Se muodostuu 3-numeroisesta kuntanumerosta, 3-numeroisesta sijaintialuenumerosta, 4-numeroisesta ryhmänumerosta ja 4-numeroisesta yksikkönumerosta. Esimerkiksi 42740300020017 on kiinteistötunnus, jossa 427 on kuntanumero, 403 on sijaintialuenumero, 0002 on ryhmänumero ja 0017 on yksikkönumero. </xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>

	</xs:element>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="BaseRealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistöjen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estates data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="BaseRealEstate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BaseRealEstatesType2">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistöjen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estates data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RealEstate" type="BaseRealEstateType2" minOccurs="1"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseRealEstateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estate data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="RegisterUnitId" minOccurs="1" maxOccurs="1"/>
				<xs:group ref="EstateRegisterUnitGroup" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
			<xs:element ref="UnseparetedParcelTypeChar" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UnseparetedParcelNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="RealEstateName" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="LocationMunicipalityNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LocationMunicipalityName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kiinteistö voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Real estate can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="BaseRealEstateType2">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estate data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RegisterUnitId" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UnseparetedParcelTypeChar" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="UnseparetedParcelNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="RealEstateName" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="LocationMunicipalityNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="LocationMunicipalityName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="co:IdStringNotEmptyType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kiinteistö voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Real estate can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="RealEstateDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suppeat kiinteistön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Compact real estate data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="BaseRealEstate"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Kiinteistö voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Real estate can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="AreaNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kolmenumeroinen kylänumero, kiinteistörekisterin sijaintialue.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Area (village) number of real estate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GroupNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Neljänumeroinen talonumero, kiinteistörekisterin ryhmä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Group (house) number of real estate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UnitNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Neljänumeroinen tilanumero, kiinteistörekisterin yksikkö.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Unit number of real estate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UnseparetedParcelTypeCharType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistötunnuksen määräalakirjain, kiinteistörekisterin tyyppikirjain.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Unsepareted parcel type character of real estate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UnseparetedParcelNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistötunnuksen määräalanumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Unsepareted parcel number of real estate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RealEstateNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistön nimi maksimissaan 120 merkkiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Name of real estate, max. 120 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="jhs:NimiTekstiTyyppi">
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RegisterUnitIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistötunnus 14-merkkisenä merkkijonona</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">EstateId in 14-character string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:group name="EstateRegisterUnitGroup">
		<xs:sequence>
			<xs:element ref="MunicipalityNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="MunicipalityName" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="AreaNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="GroupNumber" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="UnitNumber" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>

	<!-- PALSTA - PARCEL -->
	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="Parcels" type="ParcelsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palstat.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Parcel" type="ParcelType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palsta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ParcelNumber" type="ParcelNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palstan numero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="ParcelsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palstojen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Parcels data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Parcel" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ParcelType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palstan tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Parcel data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ParcelNumber"/>
			<xs:element ref="st:Stands" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Palsta voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Parcel can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="ParcelNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palstanumero.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Parcel number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PositiveIntegerType"/>
	</xs:simpleType>
</xs:schema>
