MetsatietostandardiskeematV33.03/V33/Resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V14.03:
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd

	Muutokset skeemapakettiin V19.01:
    -Lisätty tyyppimäärittelyyn ResourceType uudet vapaaehtoiset elementit ExternalSystemInUse ja ExternalSystemName
    
	Muutokset skeemapakettiin V33.02:
	- Namespace-muutos xmlns:gml > xmlns:gdt

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/Resource"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/Resource"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="V33.02">

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
               schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
               schemaLocation="Common_GeometricDataType.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
               schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<xs:element name="Resource" type="ResourceType">
		<xs:annotation>
			<xs:documentation>Resurssin tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ResourceType">
		<xs:sequence>
			<xs:element name="Contractors" type="wct:ContractorsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Yritykset (urakoitsijat), joiden lohkoja resurssi tekee eli pääyritykset.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StanfordResourceId" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stanford Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Resurssin yksilöivä tunniste WF:ssa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceBuyerResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Urakanantajan resurssi Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceType" type="bdt:ResourceTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Resurssityyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceName" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Resurssin nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceTypes" type="ServiceTypesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Palvelukokonaisuudet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeGroups" type="WorkCodeGroupsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Tyolajiryhmän koodit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodes" type="WorkCodesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tyolajin koodit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="bdt:MachineManufacturerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Valmistaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Malli</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelYear" type="bdt:YearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mallin vuosi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HarvesterModel" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hakkuupään malli</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HavesterModelYear" type="bdt:YearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hakkuupään vuosi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeploymentYear" type="bdt:YearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Käyttöönottovuosi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeploymentMonth" type="bdt:String5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Käyttöönottokk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnWeight" type="bdt:PositiveInteger6digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kilpipaino (Koneen) kg</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingWeight" type="bdt:WorkingWeightType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Työpaino (Koneen) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommunicationType" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tiedonsiirtotiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuringDeviceVersion" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mittalaiteversio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuringDeviceLastControl" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mittalaitteen viimeisin tarkastuspäivä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoaderScaleModel" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kuormainvaaka malli</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoaderScaleModelYear" type="bdt:YearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kuormainvaaka vuosimalli</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceStartDate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Palvelun aloitus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutOfServiceStartDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Palvelu poiskaytostä alkupvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutOfServiceEndDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Palvelu poiskaytostä loppupvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadRating" type="wct:LoadRatingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resurssin kantavuusluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="gdt:PointGeometryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sijaintitieto, Kotipaikan sijainti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElevatorCertificate" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voimassa olevat nosturitodistukset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtinguisherVerificationDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sammuttimen tarkastuspvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Puhelinnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sähköposti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubContractorResource" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1, jos osayrittäjän kone, 0 jos ei ole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerContractorId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Resurssin omistavan yrityksen ALV-tunnus (osayrittäjä)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubContractorVerified" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Onko osayrittäjän tiedot tarkastettu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Removed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resurssi poistettu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemoveDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resurssi poistettu pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrdererResponsibilityDocumentsChecked" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tilaajavastuulain mukaiset asiakirjat tarkastettu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Peripherals" type="PeripheralsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lisälaitteet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalSystemInUse" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ulkoinen järjestelmä käytössä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExternalSystemName" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ulkoisen järjestelmän nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
	<xs:complexType name="ServiceTypesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palvelukokonaisuudet</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceType" type="bdt:ServiceTypeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodeGroupsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Palvelukokonaisuudet</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WorkCode" type="WorkCodeInfoType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodeInfoType">
		<xs:sequence>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajikoodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Productivity" type="bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuottavuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductivityUnit" type="bdt:WorkCodeUnitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuottavuuden yksikko esim. m3. Tuottavuus on ilmoitettu yksikköä per tunti.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeripheralsType">
		<xs:sequence>
			<xs:element name="PeripheralCode" type="bdt:PeripheralCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisälaitteen koodit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
