MetsatietostandardiskeematV33.03/V33/SmsOperatorStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
    Muutokset skeemapakettiin V14.03:
    -Skeemapakettiin lisätty uusi skeema SmsOperatorStatus.xsd tekstiviesti-ilmoitusten operaattorikuittauksille
    
    Muutokset skeematiedostoon V15.01
    -StandId-elementin maksimipituus kasvatettu 20 merkkiin
    
	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty määrittelyn "SmsOperatorStatusType" elementin "WorkingSiteId" tyypiksi ERPIdType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/SmsOperatorStatus"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/SmsOperatorStatus"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="V33.02">
    
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
        schemaLocation="WoodForceCommonTypes.xsd"/>
    
    <xs:element name="SmsOperatorStatus" type="SmsOperatorStatusType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">SMS-operaattorin lähettämä statuspäivitys</xs:documentation>
            <xs:documentation xml:lang="en">Status update sent by SMS Operator</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SmsOperatorStatusType">
        <xs:sequence>
            <xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WorkingSiteId" type="wct:ERPIdType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Lohkon tunniste, yksilöivä id</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StandId" type="bdt:String20Type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" type="bdt:String20Type" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Puhelinnumero</xs:documentation>
                    <xs:documentation xml:lang="en">Phone number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NotificationType" type="NotificationTypeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Ilmoituksen tyyppi</xs:documentation>
                    <xs:documentation xml:lang="en">Notification type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecipientType" type="RecipientTypeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Vastaanottajan tyyppi</xs:documentation>
                    <xs:documentation xml:lang="en">Recipient type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SenderUserId" type="bdt:String20Type" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Lähettäjän tunniste</xs:documentation>
                    <xs:documentation xml:lang="en">Sender user identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SendTimestamp" type="bdt:TimeStampType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Lähetysaika</xs:documentation>
                    <xs:documentation xml:lang="en">Time of sending</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatusTimestamp" type="bdt:TimeStampType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">SMS-keskuksen aikaleima</xs:documentation>
                    <xs:documentation xml:lang="en">Time of status message</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatusCode" type="StatusCodeType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Viestin tila</xs:documentation>
                    <xs:documentation xml:lang="en">Message status code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OriginalMessage" type="bdt:String1000Type" minOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Alkuperäinen viesti</xs:documentation>
                    <xs:documentation xml:lang="en">Original message</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatusMessage" type="bdt:String100Type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">SMS-keskuksen viesti</xs:documentation>
                    <xs:documentation xml:lang="en">Status from SMS Operator</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotificationTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Ilmoituksen tyyppi</xs:documentation>
            <xs:documentation xml:lang="en">Notification type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Ennakkoilmoitus</xs:documentation>
                    <xs:documentation xml:lang="en">Prenotification</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Aloitusilmoitus</xs:documentation>
                    <xs:documentation xml:lang="en">Start notification</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Päättymisilmoitus</xs:documentation>
                    <xs:documentation xml:lang="en">End notification</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RecipientTypeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Vastaanottajan tyyppi</xs:documentation>
            <xs:documentation xml:lang="en">Recipient type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Metsänomistaja</xs:documentation>
                    <xs:documentation xml:lang="en">Forest owner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Metsänomistajan edustaja</xs:documentation>
                    <xs:documentation xml:lang="en">Forest owner representative</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Urakanantajan edustaja</xs:documentation>
                    <xs:documentation xml:lang="en">Service buyer representative</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Yrityksen suunnittelija</xs:documentation>
                    <xs:documentation xml:lang="en">Contractor's planner</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatusCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="fi">Tilapäivityksen tyyppi</xs:documentation>
            <xs:documentation xml:lang="en">SMS status type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Toimitettu</xs:documentation>
                    <xs:documentation xml:lang="en">Delivered</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Odottaa SMS-keskuksessa</xs:documentation>
                    <xs:documentation xml:lang="en">Waiting in SMS center</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Viesti vanheni</xs:documentation>
                    <xs:documentation xml:lang="en">Message validity period has expired</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Virheellinen numero</xs:documentation>
                    <xs:documentation xml:lang="en">Invalid number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">SMS-keskuksen virhe</xs:documentation>
                    <xs:documentation xml:lang="en">SMS center error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Tuntematon virhe</xs:documentation>
                    <xs:documentation xml:lang="en">Unknown error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
