MetsatietostandardiskeematV33.03/V33/TreeStratum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Puustotiedon ajankohdan puusto-ositteiden elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.

	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.

    Muutokset skeemapakettiin V11.08:
    -Elementti TreeClass otettu käyttöön poistamalla se kommenttitageista

    Muutokset skeemapakettiin V11.10:
    -Päivitetty ja täydennetty skeeman elementtien dokumentaatioita
    
    Muutokset skeemapakettiin V14.03:
    -Lisätty uusi vapaaehtoinen elementti StratumOrigin tyypiltään SeedlingOriginType osaksi ositetietoja. 
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/treeStratum"
	xmlns="http://standardit.tapio.fi/schemas/forestData/treeStratum"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:cdd="http://standardit.tapio.fi/schemas/forestData/commondistributiondata"
	xmlns:tli="http://standardit.tapio.fi/schemas/forestData/treelistitem"
	elementFormDefault="qualified" version="V14.03">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/commondistributiondata"
		schemaLocation="CommonDistributionData.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treelistitem"
		schemaLocation="TreeListItem.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="TreeStrata" type="TreeStrataType"/>
	<xs:element name="TreeStratum" type="TreeStratumType"/>
	<xs:element name="StratumNumber" type="co:StratumNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen numero</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TreeSpecies" type="TreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puulaji</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree species</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Storey" type="StoreyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puustojakso</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum storey</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Age" type="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen ikä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum age</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BasalArea" type="co:BasalAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen pohjapinta-ala.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum basal area</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StemCount" type="StemCountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen runkoluku</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum stem count</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MeanDiameter" type="MeanDiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen keskiläpimitta</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum mean diameter</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MeanHeight" type="co:MeanHeightType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen keskipituus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum mean height</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StratumOrigin" type="co:SeedlingOriginType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen syntytapa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Coding for origin of the tree stratum</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Volume" type="VolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen tilavuus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum volume</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SawLogPercent" type="SawLogPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen tukkiprosentti</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum saw log percent</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SawLogVolume" type="SawLogVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen tukkipuun tilavuus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum saw log volume</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PulpWoodVolume" type="PulpWoodVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen kuitupuun tilavuus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum pulp wood volume</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VolumeGrowth" type="VolumeGrowthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen kasvu</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum volume growth</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LeafBiomass" type="LeafBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen lehtien biomassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum leaf biomass</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BranchBiomass" type="BranchBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen oksien biomassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum branch biomass</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StemBiomass" type="StemBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen runkojen biomassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum stem biomass</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StumpBiomass" type="StumpBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen kantojen biomassa</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum stump biomass</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Value" type="co:Decimal2FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pystypuuston arvo hehtaarilla. Käytettävä yksikkö on euro.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Currency" type="co:CurrencyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pystypuuston arvo -kentässä käytettävä valuuttayksikkö.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ValueGrowthPercent" type="co:Decimal2FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pystypuuston arvon kasvuprosentti. Käytettävä yksikkö on %.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Trees" type="TreesType"/>
	<xs:element name="TreeListItem" type="tli:TreeListItemType"/>
	<xs:element name="Distribution" type="cdd:DistributionType"/>
	<xs:element name="Weibull" type="cdd:WeibullType"/>
	<xs:element name="Shape" type="cdd:ShapeType"/>
	<xs:element name="Scale" type="cdd:ScaleType"/>
	<xs:element name="Location" type="cdd:LocationType"/>
	<xs:element name="JohnsonSB" type="cdd:JohnsonSBType"/>
	<xs:element name="ShapeGamma" type="cdd:ShapeGammaType"/>
	<xs:element name="ShapeDelta" type="cdd:ShapeDeltaType"/>
	<xs:element name="Normal" type="cdd:NormalType"/>
	<xs:element name="Mean" type="cdd:MeanType"/>
	<xs:element name="Variance" type="cdd:VarianceType"/>
	<xs:element name="Beta" type="cdd:BetaType"/>
	<xs:element name="ShapeAlfa" type="cdd:ShapeAlfaType"/>
	<xs:element name="ShapeBeta" type="cdd:ShapeBetaType"/>
	<xs:element name="Minimum" type="cdd:MinimumType"/>
	<xs:element name="Maximum" type="cdd:MaximumType"/>
	<xs:element name="Gamma" type="cdd:GammaType"/>
	<xs:element name="CumulativePointDistribution" type="cdd:CumulativePointDistributionType"/>
	<xs:element name="CumulativePoint" type="cdd:CumulativePointType"/>
	<xs:element name="Diameter" type="cdd:DiameterType"/>
	<xs:element name="CumulativeMass" type="cdd:CumulativeMassType"/>
	<xs:element name="TreeClass" type="co:TreeClassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puuluokka</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree class</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="TreeStrataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ajankohdan puusto-ositteet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree strata</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeStratum" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeStrata2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ajankohdan puusto-ositteet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree strata</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TreeStratum" type="TreeStratum2Type" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeStratumType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ositteen muutostila</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Tree stratum change state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="co:ChangeTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ositteen muutosajankohta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Tree stratum change time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="StratumNumber"/>
			<xs:element ref="TreeSpecies"/>
			<xs:element ref="TreeClass" minOccurs="0"/>
			<xs:element ref="Storey"/>
			<xs:element ref="Age"/>
			<!-- Käyttösuositus: Joko Ppa tai Runkoluku pitää löytyä sanomasta -->
			<!-- Recommendation: Either basal area or stem count has to find out in message -->
			<xs:element ref="BasalArea" minOccurs="0"/>
			<xs:element ref="StemCount" minOccurs="0"/>
			<xs:element ref="MeanDiameter" minOccurs="0"/>
			<xs:element ref="MeanHeight"/>
			<xs:element ref="StratumOrigin" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Volume" minOccurs="0"/>
			<xs:element ref="SawLogPercent" minOccurs="0"/>
			<xs:element ref="SawLogVolume" minOccurs="0"/>
			<xs:element ref="PulpWoodVolume" minOccurs="0"/>
			<xs:element ref="VolumeGrowth" minOccurs="0"/>
			<xs:element ref="LeafBiomass" minOccurs="0"/>
			<xs:element ref="BranchBiomass" minOccurs="0"/>
			<xs:element ref="StemBiomass" minOccurs="0"/>
			<xs:element ref="StumpBiomass" minOccurs="0"/>
			<xs:element ref="co:DataSource" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tietolähde</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Data source</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Value" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ValueGrowthPercent" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Puusto-osite voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Tree stratum can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="TreeStratum2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puusto-ositteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stratum data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ositteen muutostila</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Tree stratum change state</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="co:ChangeTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ositteen muutosajankohta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Tree stratum change time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="StratumNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TreeSpecies" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TreeClass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Storey" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Age" minOccurs="0" maxOccurs="1"/>
			<!-- Käyttösuositus: Joko Ppa tai Runkoluku pitää löytyä sanomasta -->
			<!-- Recommendation: Either basal area or stem count has to find out in message -->
			<xs:element ref="BasalArea" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StemCount" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="MeanDiameter" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="MeanHeight" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StratumOrigin" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Volume" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SawLogPercent" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SawLogVolume" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="PulpWoodVolume" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="VolumeGrowth" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LeafBiomass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="BranchBiomass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StemBiomass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="StumpBiomass" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="co:DataSource" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tietolähde</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Data source</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Value" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Currency" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ValueGrowthPercent" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Puusto-osite voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Tree stratum can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="TreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puulajikoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Code of tree species.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:TreeSpeciesType"/>
	</xs:simpleType>

	<xs:simpleType name="StoreyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen jakso.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Storey of tree stratum.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StoreyType"/>
	</xs:simpleType>

	<xs:simpleType name="AgeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen ikä, v.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Age of tree stratum, year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:AgeType"/>
	</xs:simpleType>

	<xs:simpleType name="StemCountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Runkoluku, kpl/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stem count, stem/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StemCountType"/>
	</xs:simpleType>

	<xs:simpleType name="MeanDiameterType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Keskiläpimitta, cm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Mean diameter, cm.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DiameterType"/>
	</xs:simpleType>

	<xs:simpleType name="SeedlingOriginType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Taimen syntytapa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Seedling origin.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SeedlingOriginType"/>
	</xs:simpleType>

	<xs:simpleType name="VolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:VolumeType"/>
	</xs:simpleType>

	<xs:simpleType name="SawLogPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkiosuus %.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Percent of saw log, %.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SawLogPercentType"/>
	</xs:simpleType>

	<xs:simpleType name="SawLogVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tukkitilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume of saw log, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SawLogVolumeType"/>
	</xs:simpleType>

	<xs:simpleType name="PulpWoodVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuitutilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Volume of pulp wood, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PulpWoodVolumeType"/>
	</xs:simpleType>

	<xs:simpleType name="VolumeGrowthType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tilavuuskasvu, m3/ha/v.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Growth of volume, m3/ha/year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:VolumeGrowthType"/>
	</xs:simpleType>

	<xs:simpleType name="LeafBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen lehtien biomassa, t/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Leaf biomass of stratum, ton/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:LeafBiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="BranchBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen oksien biomassa, t/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Branch biomass of stratum, ton/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:BranchBiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="StemBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen runkojen biomassa, t/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stem biomass of stratum, ton/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StemBiomassType"/>
	</xs:simpleType>

	<xs:simpleType name="StumpBiomassType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ositteen kantojen biomassa, t/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stem biomass of stratum, ton/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StumpBiomassType"/>
	</xs:simpleType>

	<xs:complexType name="TreesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeListItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
