MetsatietostandardiskeematV33.03/V33/UserInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V14.03:
	-Elementin "A1" dokumentaatio päivitetty
	-Elementin "E101" dokumentaatio päivitetty
	-BirthDate vapaaehtoiseksi

	Muutokset skeemapakettiin V33.02:
	- Päivitetty määrittelyn "UserInformationType" elementin "TaxNumber" tyypiksi TaxNumberType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/UserInformation"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/UserInformation"
           elementFormDefault="qualified" attributeFormDefault="unqualified" version="V14.03">
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
               schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
               schemaLocation="Common_GeometricDataType.xsd"/>
    <xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
               schemaLocation="WoodForceCommonTypes.xsd"/>

	<xs:element name="UserInformation" type="UserInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Käyttäjä</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UserInformationType">
		<xs:sequence>
			<xs:element name="UserId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käyttäjän yksilöivä ID</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="Contractors" type="wct:ContractorsType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>Yritykset (urakoitsijat), joiden lohkoilla käyttäjä tekee töitä eli pääyritykset.
                    </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerContractorId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Henkilön työnantajan ALV-tunnus (osayrittäjä)</xs:documentation>
				</xs:annotation>
			</xs:element>
		  	<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxNumber" type="wct:TaxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Veronumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="bdt:String100Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Osoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Postinumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostOffice" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Postitoimipaikka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Syntymäaika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puhelin</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="ICEName" type="bdt:String100Type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Hätäyhteyshenkilön nimi</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ICETelephone" type="bdt:String20Type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="fi">Hätäyhteyshenkilön puhelinnumero</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="Email" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">sähköposti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserRoles" type="UserRolesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käyttäjäroolit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserName" type="bdt:String100Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käyttäjätunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalName" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vapaamuotoinen nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trainings" type="TrainingsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koulutustiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Employment" type="EmploymentDataType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työsuhde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Machines" type="MachinesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Konetiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Languages" type="LanguagesType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kielet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityCode" type="bdt:String5Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kansalaisuus, 3-merkkinen koodi (WF-Koodistosta)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalityFreeText" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kansalaisuus (muu + mikä)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeGroups" type="WorkCodeGroupsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajiryhmät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="gdt:PointGeometryType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sijaintitieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="E101" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">E101-todistus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="A1" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">A1-todistus</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserRolesType">
		<xs:sequence>
			<xs:element name="UserRole" type="bdt:UserRoleType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrainingsType">
		<xs:sequence>
			<xs:element name="Training" type="TrainingDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MachinesType">
		<xs:sequence>
			<xs:element name="Machine" type="bdt:MachineTypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LanguagesType">
		<xs:sequence>
			<xs:element name="Language" type="bdt:LanguageCode1Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceTypesType">
		<xs:sequence>
			<xs:element name="ServiceType" type="bdt:ServiceTypeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodeGroupsType">
		<xs:sequence>
			<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodesType">
		<xs:sequence>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentDataType">
		<xs:sequence>
			<xs:element name="Startdate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työsuhteen alku pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Enddate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työsuhteen loppu pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingContract" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työsopimus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Töissä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrainingDataType">
		<xs:sequence>
			<xs:element name="TrainingId" type="bdt:PositiveInteger4digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koulutuksen tunnus. Yleinen koulutus tai
						urakanantajakohtainen koulutus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainingFreeText" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koulutus, vapaa teksti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainingDate" type="bdt:DateType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suoritus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
