MetsatietostandardiskeematV33.03/V33/WorkingSiteFinalAuditSoilConditioning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.09:
	-Lisätty uusi vapaaehtoinen elementti "StumpsLifted"
	-Lisätty uusi vapaaehtoinen elementti "StumpsLiftedText"
	-Lisätty uusi vapaaehtoinen elementti "DitchingBreaks"
	-Lisätty uusi vapaaehtoinen elementti "DitchingBreaksText"
	-Lisätty uusi vapaaehtoinen elementti "SettlingPits"
	-Lisätty uusi vapaaehtoinen elementti "SettlingPitsText"
	-Lisätty uusi vapaaehtoinen elementti "SettlingBasins"
	-Lisätty uusi vapaaehtoinen elementti "SettlingBasinsText"
	-Lisätty uusi vapaaehtoinen elementti "SurfaceDrainingAreas"
	-Lisätty uusi vapaaehtoinen elementti "SurfaceDrainingAreasText"
	-Lisätty uusi vapaaehtoinen elementti "OtherConservationMethods"
	-Lisätty uusi vapaaehtoinen elementti "OtherConservationMethodsText"
	-Lisätty uusi vapaaehtoinen elementti "NotificationsAndImprovements"
	-Lisätty uusi vapaaehtoinen elementti "NotificationsAndImprovementsText"
	
	Muutokset skeemapakettiin V10.13:
	-Lisätty uusi tyyppimäärittely WorkingSiteFinalAuditSoilConditioningBaseType
	-Elementti ServiceBuyerId muutettu käyttämään viittausta (ref)
	-Elementti WorkingSiteId muutettu käyttämään viittausta (ref)
	-Elementti OrderId muutettu käyttämään viittausta (ref)
	-Elementti ContractorId muutettu käyttämään viittausta (ref)
	-Elementti ResourceId muutettu käyttämään viittausta (ref)
	-Elementti WorkCodeGroup muutettu käyttämään viittausta (ref)
	-Elementti WorkCode muutettu käyttämään viittausta (ref)
	-Elementti Area muutettu käyttämään viittausta (ref)
	-Elementti WorkingTime muutettu käyttämään viittausta (ref)
	-Elementti Audit muutettu käyttämään viittausta (ref)
	-Elementti SamplePlotCount muutettu käyttämään viittausta (ref)
	-Elementti SamplePlotCountRequired muutettu käyttämään viittausta (ref)
	-Elementti InfoText muutettu käyttämään viittausta (ref)
	-Elementti Images muutettu käyttämään viittausta (ref)
	-Elementti Audits muutettu käyttämään viittausta (ref)
	-Lisätty uusi tyyppimäärittely SelfMonitoringWorkingSiteFinalAuditSoilConditioningType, sisältääomavalvontatiedot
	
	Muutokset skeemapakettiin V10.14:
	-Korjattu omavalvontatyyppimäärittelyn (SelfMonitoringWorkingSiteFinalAuditSoilConditioningType) elementtien pakollisuudet
	
	Muutokset skeemapakettiin V14.03:
	-Elementille "Audits" lisätty puuttuva dokumentaatio
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd

    Muutokset skeemapakettiin V18.03:
    -Lisätty elementti WorkingSiteName ja sille tyyppimäärittely bdt:String100Type
    -Lisätty elementti StandId ja sille tyyppimäärittely bdt:FinalAuditAnswerType
    -Lisätty elementti StandId ja sille tyyppimäärittely bdt:FinalAuditQuestionType
    -Lisätty elementti AuditQuestion ja sille tyyppimäärittely AuditQuestionType
    -Lisätty elementti AuditsList ja sille tyyppimäärittely AuditsListType
    -Lisätty elementti StandId ja sille tyyppimäärittely bdt:String20Type
    -Lisätty tyypille WorkingSiteFinalAuditSoilConditioningBaseType uudet vapaaehtoiset elementit WorkingSiteName ja StandId
    -Lisätty tyypille WorkingSiteFinalAuditSoilConditioningBaseType uusi vapaaehtoinen elementti AuditsList
    
    Muutokset skeemapakettiin V18.04:
    -Otettu elementit WorkingSiteName, StandId ja AuditsList käyttöön WorkingSiteFinalAuditSoilConditioningType tyyppimäärittelyssä
    
    Muutokset skeemapakettiin V18.05:
    -Muutettu elementit Audit ja AuditsList vaihtoehtoisiksi ja vähintään toinen pakolliseksi tyyppimäärittelyissä
     WorkingSiteFinalAuditSoilConditioningBaseType, WorkingSiteFinalAuditSoilConditioningType ja SelfMonitoringWorkingSiteFinalAuditSoilConditioningType
     
	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty elementtimäärittely "WorkingSiteId": uusi tyyppi ERPIdType
	- Päivitetty elementtimäärittely "OrderId": uusi tyyppi ERPIdType

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditSoilConditioning"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V33.02">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteFinalAuditSoilConditioning"
		type="WorkingSiteFinalAuditSoilConditioningType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maanmuokkauksen loppuarviointi/laadunseuranta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceBuyerId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
    <xs:element name="WorkingSiteName" type="bdt:String100Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon nimi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OrderId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContractorId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yrittäjän tunniste (alv-tunnus)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResourceId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCode" type="bdt:WorkCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Area" type="bdt:Decimal2FractionDigitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pinta-ala ha</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingTime" type="bdt:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työskentelyn ajankohta (YYYY-MM-DD)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Audit" type="AuditionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlotCount" type="bdt:PositiveInteger3digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealojen lkm (toteutunut)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlotCountRequired" type="bdt:PositiveInteger3digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealojen lkm (vaadittu)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfoText" type="bdt:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Images" type="bdt:PositiveInteger2digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Audits" type="AuditsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioitavat asiat</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuditsList" type="AuditsListType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioitavat asiat (uusi rakenne)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuditQuestion" type="AuditQuestionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvion kysymys</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="StandId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionId" type="bdt:FinalAuditQuestionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kysymyksen id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionAnswer" type="bdt:FinalAuditAnswerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kysymyksen tyyppi</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteFinalAuditSoilConditioningBaseType">
		<xs:sequence>
			<xs:element ref="ServiceBuyerId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element ref="WorkingSiteName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="StandId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OrderId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContractorId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän tunniste (alv-tunnus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkCodeGroup" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Area" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pinta-ala ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työskentelyn ajankohta (YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Audit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlotCount" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen lkm (toteutunut)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlotCountRequired" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen lkm (vaadittu)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="InfoText" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Images" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1">
				<xs:element ref="Audits" minOccurs="1"/>
				<xs:element ref="AuditsList" minOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WorkingSiteFinalAuditSoilConditioningType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteFinalAuditSoilConditioningBaseType">
				<xs:sequence>
					<xs:element ref="ServiceBuyerId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteName" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="StandId" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="OrderId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ContractorId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Yrittäjän tunniste (alv-tunnus)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ResourceId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCodeGroup" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCode" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Area" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Pinta-ala ha</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingTime" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työskentelyn ajankohta (YYYY-MM-DD)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audit" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotCount" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen lkm (toteutunut)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotCountRequired" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen lkm (vaadittu)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="InfoText" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:choice minOccurs="1">
			    		<xs:element ref="Audits" minOccurs="1"/>
						<xs:element ref="AuditsList" minOccurs="1"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SelfMonitoringWorkingSiteFinalAuditSoilConditioningType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteFinalAuditSoilConditioningBaseType">
				<xs:sequence>
					<xs:element ref="WorkCodeGroup" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Area" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Pinta-ala ha</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työskentelyn ajankohta (YYYY-MM-DD)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audit" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotCount" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen lkm (toteutunut)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotCountRequired" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen lkm (vaadittu)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="InfoText" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="1">
						<xs:element ref="Audits" minOccurs="1"/>
						<xs:element ref="AuditsList" minOccurs="1"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AuditionType">
		<xs:sequence>
			<xs:element name="FinalAuditType" type="bdt:FinalAuditTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tyyppi (laaja/suppea)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerType" type="bdt:FinalAuditerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditRequired" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin vaadittu MJ:stä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AuditsType">
		<xs:sequence>
			<xs:element name="BioMassCollectionDone" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko hakkuutähteiden ja latvusmassan keräys tehty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BioMassCollectionDoneText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko hakkuutähteiden ja latvusmassan keräys tehty selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClearingDone" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko raivaus tehty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClearingDoneText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko raivaus tehty selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilConditioningMethodCorrect" type="bdt:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko Maanmuokkausmenetelmä oikea</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilConditioningMethodCorrectText" type="bdt:String200Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko Maanmuokkausmenetelmä oikea selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilConditioningQuality" type="bdt:WorkingQualityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjäljen laatu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilConditioningQualityText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjäljen laatu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasFoundNewEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticedText" type="bdt:String200Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystem" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystemText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterEconomySystemsNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko lohkon vesitalous kunnossa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterEconomySystemsNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko lohkon vesitalous kunnossa selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtection" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtectionText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficient" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficientText" type="bdt:String200Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpsLifted" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kannonnosto tehty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpsLiftedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kannonnosto tehty selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchingBreaks" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella kaivukatkoja (ympäristön ja vesiensuojelun toimenpide)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchingBreaksText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella kaivukatkoja (ympäristön ja vesiensuojelun toimenpide) selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlingPits" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella lietekuoppia (ympäristön ja vesiensuojelun toimenpide)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlingPitsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella lietekuoppia (ympäristön ja vesiensuojelun toimenpide) selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlingBasins" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella laskeutusaltaita (ympäristön ja vesiensuojelun toimenpide)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlingBasinsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella laskeutusaltaita (ympäristön ja vesiensuojelun toimenpide) selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceDrainingAreas" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella pintavalutuskenttiä (ympäristön ja vesiensuojelun toimenpide)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceDrainingAreasText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella pintavalutuskenttiä (ympäristön ja vesiensuojelun toimenpide) selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherConservationMethods" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella muita ympäristön ja vesiensuojelun toimenpiteitä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherConservationMethodsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohteella muita ympäristön ja vesiensuojelun toimenpiteitä selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationsAndImprovements" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Huomioita ja korjausehdotuksia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationsAndImprovementsText" type="bdt:String200Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Huomioita ja korjausehdotuksia selite</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    <xs:complexType name="AuditQuestionType">
		<xs:sequence>
			<xs:element ref="QuestionId">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kysymyksen tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="QuestionAnswer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vastaus</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AuditsListType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="AuditQuestion" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kysymykset</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
