MetsatietostandardiskeematV33.03/V33/WorkingSiteTrade_WoodPurchaseMeasurementCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Puukaupan mittaustodistuksen elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V17.02:
	- Täydennetty dokumentaatioita
	- Lisätty uudet elementtimääritykset PaidValue, tyypiltään "PaidValueType" ja PaymentTransactions, tyypiltään "wtco:PaymentTransactionType" 
	- Lisätty MeasurementCertificateType:en uudet vapaaehtoiset elementit PaidValue ja PaymentTransactions
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/woodpurchasemeasurementcertificate" 
xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/woodpurchasemeasurementcertificate" 
xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common" 
xmlns:as="http://standardit.tapio.fi/schemas/workingsitetrade/assortment" 

elementFormDefault="qualified" attributeFormDefault="qualified" version="V17.03">

	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/assortment" schemaLocation="WorkingSiteTrade_Assortment.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common" schemaLocation="WorkingSiteTrade_Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../w3c/2005/xmlmime.xsd"/>

	<!-- Elementtimääritykset -->
   	<!-- Element definitions -->
   	<xs:element name="MeasurementCertificate" type="MeasurementCertificateType"/>
	<xs:element name="SequenceNumber" type="SequenceNumberType"/>
	<xs:element name="MeasurementDate" type="MeasurementDateType"/>
	<xs:element name="InsertDate" type="InsertDateType"/>
	<xs:element name="MeasurementCertificateType" type="MeasurementCertificateTypeType"/>
	<xs:element name="Text" type="TextType"/>
	<xs:element name="Value" type="ValueType"/>
	<xs:element name="VAT" type="VATType"/>
	<xs:element name="TotalValue" type="TotalValueType"/>
	<xs:element name="PaidValue" type="PaidValueType"/>
	<xs:element name="Currency" type="CurrencyType"/>
	<xs:element name="PaymentTransactions" type="wtco:PaymentTransactionsType"/>
	<xs:element name="Document" type="xmime:base64Binary"/>
	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
    <xs:complexType name="MeasurementCertificateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen rakenteen määrittely.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Structure of Measurement certificate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp"/>
			<xs:element ref="SequenceNumber"/>
			<xs:element ref="MeasurementDate"/>
			<xs:element ref="InsertDate"/>
			<xs:element ref="MeasurementCertificateType">
          		<xs:annotation>
          			<xs:documentation xml:lang="fi"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Text" minOccurs="0"/>
			<xs:element ref="Value">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mitatun puutavaran arvonlisäveroton kokonaisarvo.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Total value of measurement in money without VAT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="VAT">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mitatun puutavaran arvonlisäveron kokonaisarvo.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Total VAT value of measurement in money.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TotalValue">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mitatun puutavaran arvonlisäverollinen kokonaisarvo.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Total value of measurement in money with VAT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PaidValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaustodistuksen perusteella maksettava kokonaisarvo (puutavara + ALV +/- muut erät).</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Measurement based payable total value in money (assortmen + VAT +/- other payments).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Currency"/>
			<xs:element ref="as:AssortmentClasses">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaustodistuksen puutavaralajiluokittaiset määrä- ja hintatiedot.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Amount and price information of assortments included in measurement certificate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PaymentTransactions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kustannus- ja tuloerät.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:Documents" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaustodistus tiedostossa.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en">Measurement certificate in binary file.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="parentId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">parentId:llä viitataan kauppaan. Mittaustodistuksen yksilöivä avain on parentId + SequenceNumber + versionNo.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">parentId is a foreign key to wood purchace id. Measurement is identified by parentId + SequenceNumber + versionNo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Mittaustodistus yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Measurement certificate can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="versionNo" type="VersionNoType">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Mittaustodistuksen versionumero (päänumeron alanumero). Yksilöi yhdessä parentId:n ja SequenceNumber:n (mittaustodistuksen numero) kanssa mittaustodistuksen.</xs:documentation>
				<xs:documentation xml:lang="sv"></xs:documentation>
				<xs:documentation xml:lang="en">Running version number for measurement certificate (under certain sequence number of measurement certificate). With parentId and SequenceNumber identifies measurement.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="SequenceNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen numero. Yksilöi yhdessä parentId:n ja VersionNumber:n (versionumeron) kanssa mittaustodistuksen.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Running number for measurement certificate (under certain purchase). With parentId and VersionNumber identifies measurement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PositiveIntegerType"/>
	</xs:simpleType>
	
	<xs:simpleType name="VersionNoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen versionumero (päänumeron alanumero). Yksilöi yhdessä parentId:n ja SequenceNumber:n (mittaustodistuksen numero) kanssa mittaustodistuksen.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Running version number for measurement certificate (under certain sequence number of measurement certificate). With parentId and SequenceNumber identifies measurement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PositiveIntegerType"/>
	</xs:simpleType>
	
	<xs:simpleType name="MeasurementDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittauksen tekemispvm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Date when actual measurement has been done.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="InsertDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen tallennuspvm.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Date when measurement has been saved in information system (might be separated from measurement date).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="MeasurementCertificateTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen tyypit.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Different types for measurement certificates: intermediate/final etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:MeasurementCertificateTypeType"/>
	</xs:simpleType>
	<xs:simpleType name="TextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaustodistuksen lisätieto.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Additional information of measurement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittauksen rahallinen arvo ilman arvonlisäveroa.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Value of measurement in money without VAT.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="VATType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittauksen ALV:n arvo.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">VAT value of measurement in money.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="TotalValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittauksen rahallinen arvo mukaan lukien ALV.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Total value of measurement in money (VAT included).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="PaidValueType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maksettava kokonaisarvo</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Payable total value in money.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittauksen valuutta.</xs:documentation>
			<xs:documentation xml:lang="sv"></xs:documentation>
			<xs:documentation xml:lang="en">Currency for value of measurement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CurrencyType"/>
	</xs:simpleType>
</xs:schema>