MetsatietostandardiskeematV33.03/V33/WorkingSiteQualityControlSilviculture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.09:
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "PlantedSeedlingCountInCultivatedSpots"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "PlantedSeedlingCountInNotCultivatedSpots"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestSeedlingPlantingDepth"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestSeedlingDistance"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestSeedlingSoilCompressed"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "RockySoil"
	
	Muutokset skeemapakettiin V10.13:
	-Lisätty uusi tyyppimäärittely WorkingSiteQualityControlSilvicultureBaseType
	-Elementti ServiceBuyerId muutettu käyttämään viittausta (ref)
	-Elementti WorkingSiteId muutettu käyttämään viittausta (ref)
	-Elementti Images muutettu käyttämään viittausta (ref)
	-Elementti SamplePlotSummaries muutettu käyttämään viittausta (ref)
	-Elementti SamplePlots muutettu käyttämään viittausta (ref)
	-Lisätty uusi tyyppimäärittely SelfMonitoringWorkingSiteQualityControlSilvicultureType, sisältää omavalvontatiedot
	
	Muutokset skeemapakettiin V10.14:
	-Korjattu omavalvontatyyppimäärittelyn (SelfMonitoringWorkingSiteQualityControlSilvicultureType) elementtien pakollisuudet
	
	Muutokset skeemapakettiin V13.03:
	-Lisätty uusi vapaaehtoinen elementti SamplePlotInfoText koealan vapaamuotoisen tekstin syöttämistä varten
	
	Muutokset skeemapakettiin V14.03:
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
	
	Muutokset skeemapakettiin V14.04:
	-Tyyppimäärittelyyn SamplePlotType lisätty uusi vapaaehtoinen attribuutti ”id”, tyypiltään IdStringNotEmptyType
	
	Muutokset skeematiedostoon V15.01
	-StandNumber-elementin maksimipituus kasvatettu 20 merkkiin

	Muutokset skeemapakettiin V18.03:
    -Muutettu tyyppimäärittelyn SamplePlotType elementti Measurable vapaaehtoiseksi 
    -Lisätty tyyppimäärittelylle SamplePlotType uudet vapaaehtoiset elementit Target, PlantLocationErrorCount, PlantingDepthErrorCount, PlantSealingErrorCount, 
    ClodMoistureErrorCount, PlantPositionErrorCount, DumplingLevelingErrorCount ja DamagedPlantsErrorCount, jotak kaikki ovat tyypiltään bdt:PositiveIntegerType
    
    Muutokset skeemapakettiin V18.04:
    -Muutettu tyyppimäärittelyn SamplePlotType elementti Measurable pakolliseksi 

    Muutokset skeemapakettiin V27.01:
    -Lisätty uudet vapaaehtoiset elementit UserId ja TaxNumber, tyyppimäärittelyiltään bdt:String20Type
    
	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty elementtimäärittely "WorkingSiteId": uusi tyyppi ERPIdType
	- Päivitetty määrittelyn "SamplePlotType" elementin "TaxNumber" tyypiksi TaxNumberType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSilviculture"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V33.02">
	
	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteQualityControlSilviculture" type="WorkingSiteQualityControlSilvicultureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänuudistamisen koeala</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceBuyerId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Images" type="bdt:PositiveInteger2digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlotSummaries" type="SamplePlotSummariesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlots" type="SamplePlotsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteQualityControlSilvicultureBaseType">
		<xs:sequence>
			<xs:element ref="ServiceBuyerId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Images" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlotSummaries" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WorkingSiteQualityControlSilvicultureType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlSilvicultureBaseType">
				<xs:sequence>
					<xs:element ref="ServiceBuyerId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotSummaries" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SelfMonitoringWorkingSiteQualityControlSilvicultureType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlSilvicultureBaseType">
				<xs:sequence>
					<xs:element ref="Images" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lukumäärä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotSummaries" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummariesType">
		<xs:sequence>
			<xs:element name="SamplePlotSummary" type="SamplePlotSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummaryType">
		<xs:sequence>
			<xs:element name="StandNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeasurementSummary" type="SamplePlotMeasurementSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotMeasurementSummaryType">
		<xs:sequence>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantCountSummary" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hehtaarikohtainen taimien lukumäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ServiceBuyerIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="WorkingSiteIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="SamplePlotNumber" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealanumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssi ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureDate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittausaika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurable" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko mitattavissa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan yksilöivä järjestelmän tietokanta id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxNumber" type="wct:TaxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan veronumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryReal" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan sijainti, geometria_mitattu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryRequired" type="gdt:PointGeometryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan MJ:stä saatu sijainti, geometria_vaadittu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan säde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGPSlocation" type="bdt:YesNoType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Gps</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="Target" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantLocationErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Taimen sijainti, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantingDepthErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Istutussyvyys, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantSealingErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Taimen tiivistys, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClodMoistureErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Istutuspaakun kosteus, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantPositionErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Taimen asento, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DumplingLevelingErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Mättään tasoitus, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DamagedPlantsErrorCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
			<xs:documentation xml:lang="fi">Vaurioituneet taimet, merkittävästi virheellisten taimien määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantCount" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantedSeedlingCountInCultivatedSpots" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutettujen taimien lkm muokkausjäljessä, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantedSeedlingCountInNotCultivatedSpots" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutettujen taimien lkm muualla kuin muokkausjäljessä, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestSeedlingPlantingDepth" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähimmän taimen istutussyvyys, cm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestSeedlingDistance" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähimmän taimen etäisyys, cm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestSeedlingSoilCompressed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin taimi, tiivistäminen tehty (kyllä / ei)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RockySoil" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maapohja kivinen (kyllä / ei)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotInfoText" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan vapaamuotoista tekstiä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="bdt:IdStringNotEmptyType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Koealan id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Sample plot id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="StandNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MeasurerType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="MeasurerTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="isGPSlocationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">gps</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
