MetsatietostandardiskeematV33.03/V33/WorkingSiteTrade_OfferWorkingSite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Tarjouksen kohteen / työmaan elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.06:
	-Lisätty uusi tyyppimäärittely "RealEstatesType"
	-Lisätty uusi vapaaehtoinen elementti "RealEstates", tyypiltään "RealEstatesType". Mahdollistaa kiinteistölistan välittämisen. Sijoitettu choice-elementin sisään yksittäisen kiinteistön välitysmahdollisuuden (RealEstate-elementti) kanssa.
	
	Muutokset skeemapakettiin V16.01:
	-Lisätty uusi vapaaehtoinen elementti WorkingSiteMoneyTransactions, tyypiltään "wtco:WorkingSiteMoneyTransactionsType". Puukauppatulosta vähennettävät kustannukset ja korottavat tuloerät.
	-Otettu uusi WorkingSiteMoneyTransactions elementti käyttöön WorkingSiteType:ssä. 
	
	Muutokset skeemapakettiin V17.02:
	-Uudelleennimetty WorkingSiteMoneyTransactions elementti WorkingSitePaymentTransactions:siksi ja sen tyyppimäärittely WorkingSitePaymentTransactionsType:ksi
	
	Muutokset skeemapakettiin V18.02:
	-Poistettu OfferWorkingSiteSilvicultureInfoType -tyypiltä elementin DueDate pakollisuus ja laitettu se vaihtoehtoiseksi SilvicultureValidity elementille.
	***************************************************************
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/offerworkingsite"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/offerworkingsite"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:as="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
	xmlns:ws="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite"
	xmlns:cows="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite"
	xmlns:wsst="http://standardit.tapio.fi/schemas/workingsitetrade/stand"
	xmlns:pr="http://standardit.tapio.fi/schemas/workingsitetrade/product"
	elementFormDefault="qualified" attributeFormDefault="qualified" version="V18.02">

	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/assortment"
		schemaLocation="WorkingSiteTrade_Assortment.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite"
		schemaLocation="WorkingSiteTrade_WorkingSite.xsd"/>
	<xs:import
		namespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite"
		schemaLocation="WorkingSiteTrade_CallForOfferWorkingSite.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
		schemaLocation="WorkingSiteTrade_Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/stand"
		schemaLocation="WorkingSiteTrade_Stand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/product"
		schemaLocation="WorkingSiteTrade_Product.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="OWorkingSite" type="WorkingSiteType"/>
	<xs:element name="IncludedInOffer" type="IncludedInOfferType"/>
	<xs:element name="PurchaserRepresentativePerson" type="PurchaserRepresentativePersonType"/>
	<xs:element name="WorkingSiteText" type="WorkingSiteTextType"/>
	<xs:element name="OfferWorkingSiteWoodTradeInfo" type="OfferWorkingSiteWoodTradeInfoType"/>
	<xs:element name="OfferWorkingSiteSilvicultureInfo" type="OfferWorkingSiteSilvicultureInfoType"/>
	<xs:element name="FellingRightDuration" type="FellingRightDurationType"/>
	<xs:element name="FellingRightValidityDate" type="FellingRightValidityDateType"/>
	<xs:element name="CallForOfferWorkingSiteWoodTradeInfo"
		type="wtco:CallForOfferWorkingSiteWoodTradeInfoType"/>
	<xs:element name="WorkingSiteName" type="wtco:WorkingSiteNameType"/>
	<xs:element name="SellerRepresentativePerson" type="wtco:SellerRepresentativePersonType"/>
	<xs:element name="Sellers" type="wtco:SellersType"/>
	<xs:element name="VATInfo" type="wtco:VATInfoType"/>
	<xs:element name="RealEstate" type="wtco:RealEstateType"/>
	<xs:element name="RoadUsingRight" type="wtco:RoadUsingRightType"/>
	<xs:element name="WorkingSiteGeometries" type="wtco:WorkingSiteGeometriesType"/>
	<xs:element name="OfferWorkingSiteSilvicultureText" type="xs:string"/>
	<xs:element name="SilvicultureValidity" type="SilvicultureValidityType"/>
	<xs:element name="DueDate" type="co:DateType"/>
	<xs:element name="StartDate" type="co:DateYYYY-MMOrYYYY-MM-DDType"/>
	<xs:element name="EndDate" type="co:DateYYYY-MMOrYYYY-MM-DDType"/>
	<xs:element name="Products" type="pr:ProductsType"/>
	<xs:element name="Text" type="xs:string"/>
	<xs:element name="Documents" type="wtco:DocumentsType"/>
	<xs:element name="RealEstates" type="RealEstatesType"/>
	<xs:element name="OfferWorkingSitePaymentTransactions" type="wtco:OfferWorkingSitePaymentTransactionsType"/>


	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen työkohteen tarjouksen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single working site data included in offer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp"/>
			<xs:element ref="IncludedInOffer"/>
			<xs:element ref="PurchaserRepresentativePerson"/>
			<xs:element ref="WorkingSiteText" minOccurs="0"/>
			<xs:element ref="OfferWorkingSiteWoodTradeInfo" minOccurs="0"/>
			<xs:element ref="OfferWorkingSiteSilvicultureInfo" minOccurs="0"/>
			<xs:element ref="OfferWorkingSitePaymentTransactions" minOccurs="0"/>
			<xs:element ref="wtco:Documents" minOccurs="0"/>
			<xs:element ref="WorkingSiteName" minOccurs="0"/>
			<xs:element ref="SellerRepresentativePerson" minOccurs="0"/>
			<xs:element ref="Sellers" minOccurs="0"/>
			<xs:element ref="VATInfo" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="RealEstate" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="fi"/>
					</xs:annotation>
				</xs:element>
				<xs:element ref="RealEstates" minOccurs="0"/>
			</xs:choice>
			<xs:element ref="RoadUsingRight" minOccurs="0"/>
			<xs:element ref="CallForOfferWorkingSiteWoodTradeInfo" minOccurs="0"/>
			<xs:element ref="wsst:Stands" minOccurs="0"/>
			<xs:element ref="WorkingSiteGeometries" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="parentId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain pääsanoman avaintietoon (tarjouksen tunniste).</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Surrogate reference key for offer (offer id).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parentVersionNo" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain pääsanoman avaintietoon (tarjouksen versionumero).</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Reference key for offer (offer version number).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarjouksen työmaa yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Working site of offer can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="IncludedInOfferType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kertoo onko leimikko sisällytty tarjoukseen (0 = ei sisällytetty, 1 = sisällytetty).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tell whether this stand is included in offer or no (0 = not included, 1 = included).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>

	<xs:complexType name="PurchaserRepresentativePersonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ostajan edustaja työmaahan liittyvissä käytännön kysymyksissä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Representative person for this particular working site (not necessarily for whole offer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="WorkingSiteTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Myyjän työmaakohtainen ostajalle toimitettava teksti (huomautusteksti).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FellingRightDurationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuuoikeuden kesto kuukausina. Hakkuuoikeuden alkamisajankohta kaupan tekoajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Felling right duration in moths. Usually starts when offer is accepted.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PositiveIntegerType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FellingRightValidityDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Pvm, johon asti hakkuuoikeus voimassa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>

	<xs:complexType name="OfferWorkingSiteWoodTradeInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen leimikon tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single stand data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="FellingRightDuration"/>
				<xs:element ref="FellingRightValidityDate"/>
			</xs:choice>
			<xs:element ref="as:AssortmentClasses">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tarjouksen puutavaralajiluokittaiset yhteenveto puutavaralajien hinnat ja mittavaatimukset.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Assortments with offered prices.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vapaamuotoista tekstiä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Documents" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SilvicultureValidityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Voimassaolo (alkamis- ja/tai loppumisajankohta).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Validity (starting and/or ending date).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="StartDate"/>
			<xs:element ref="EndDate"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OfferWorkingSiteSilvicultureInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyön toteutuksen aikavälistä pitäisi sopia kuten hakkuuoikeudesta. Puutavaralajien sijaan pitäisi olla ainakin metsänviljelymateriaalien luettelo. Luettelo muista materiaaliesta ja aineista esim. sora, murske, kantokäsittelyaine jne.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="DueDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Päivämäärä johon mennessä metsänhoitotyöt sitoudutaan suorittamaan</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Due date for completing the silvicultural operation</xs:documentation>
				</xs:annotation>
			</xs:element>
				<xs:element ref="SilvicultureValidity" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aikaväli jolla metsänhoitotyöt sitoudutaan hoitamaan</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">The actor is committed to complete the silvicultural operation in between the specified interval (StartDate and EndDate)</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:choice>
			<xs:element ref="Products" minOccurs="0"/>
			<xs:element ref="OfferWorkingSiteSilvicultureText" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vapaa tekstikenttä tarjottavasta materiaalista tai palvelusta.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Free text field for informatino about offered materials or services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:Documents" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Liitetiedosto, jossa voi olla esim pdf-muodossa välitettävän materiaalin tai palvelun tarkemmat tiedot. Esim. käyttöturvallisuustiedote, tekninen esite, kuva, mainos, käyttöohje yms.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Attached file that may contain details about offered material or service in pdf format. For example safety data sheet, technical brochure, picture, advertisement, manual etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistöjen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estates data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
