MetsatietostandardiskeematV33.03/V33/WorkingSiteTrade_CallForOffer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Työmaiden tarjouspyynnön elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.

	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V18.02:
	-Poistettu käytöstä tyyppimäärittelystä CallForOfferSilvicultureInfoType vapaaehtoiset elementit SilvicultureMode ja UsedPricingMethodType
	-Tyyppimäärittelyn SilvicultureModeType nimi muutettu muotoon OperationModeType ja käytettäväksi koodistoksi vastaavasti OperationModeType
	
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:ws="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common" elementFormDefault="qualified"
	attributeFormDefault="qualified" version="V29.03">

	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/workingsite"
		schemaLocation="WorkingSiteTrade_WorkingSite.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
		schemaLocation="WorkingSiteTrade_Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="CallForOffer" type="CallForOfferType"/>
	<xs:element name="CallForOfferWoodTradeInfo" type="wtco:CallForOfferWoodTradeInfoType"/>
	<xs:element name="PurchaseMode" type="PurchaseModeType"/>
	<xs:element name="AdditionalCode" type="AdditionalCodeType"/>
	<xs:element name="Publicity" type="PublicityType"/>
	<xs:element name="CallForOfferBusinessSender" type="wtco:CallForOfferBusinessSenderType"/>
	<xs:element name="TechnicalContactPerson" type="TechnicalContactPersonType"/>
	<xs:element name="CallForOfferDate" type="CallForOfferDateType"/>
	<xs:element name="OfferExpirationDate" type="OfferExpirationDateType"/>
	<xs:element name="UsedPricingMethods" type="wtco:UsedPricingMethodsType"/>
	<xs:element name="UsedPricingMethod" type="wtco:UsedPricingMethodType"/>
	<xs:element name="CallForOfferText" type="wtco:CallForOfferTextType"/>
	<xs:element name="CallForOfferSilvicultureInfo" type="CallForOfferSilvicultureInfoType"/>
	<xs:element name="OperationMode" type="OperationModeType"/>
	<xs:element name="IncludePaymentPlan" type="wtco:IncludePaymentPlanType"/>
	<xs:element name="UsedPricingMethodType" type="UsedPricingMethodTypeType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="CallForOfferType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Call for offer data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp">
				<xs:annotation>
					<xs:documentation xml:lang="fi"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedCallForOffers" type="RelatedCallForOffersType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Linkitetyt tarjouspyynnöt</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AdditionalCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CallForOfferBusinessSender"/>
			<xs:element minOccurs="0" name="Sellers" type="wtco:SellersType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Myyjäosapuolen tiedot. Huom! jos kyseessä jokin yhteiskaupan muoto, useamman omistajan leimikoita, tulee ostajat esittää vain leimikkosanomassa</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TechnicalContactPerson" minOccurs="0"/>
			<xs:element ref="CallForOfferDate"/>
			<xs:element ref="OfferExpirationDate"/>
			<xs:element ref="CallForOfferText" minOccurs="0"/>
			<xs:element ref="CallForOfferWoodTradeInfo" minOccurs="0"/>
			<xs:element ref="CallForOfferSilvicultureInfo" minOccurs="0"/>
			<xs:element ref="ws:CallForOfferWorkingSites">
				<xs:annotation>
					<xs:documentation xml:lang="fi"></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:Documents" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarjouspyyntö yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Call for offer can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="RelatedCallForOffersType">
		<xs:sequence>
			<xs:element name="RelatedCallForOffer" type="RelatedCallForOfferType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Linkki yksittäiseen tarjouspyyntöön</xs:documentation>
					<xs:documentation xml:lang="sv"> </xs:documentation>
					<xs:documentation xml:lang="en"> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RelatedCallForOfferType">
		<xs:sequence>
			<xs:element name="RelatedCallForOfferId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Linkityksen id</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedCallForOfferDescription" type="co:String1500Type" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Linkityksen tekstimuotoinen kuvaus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PurchaseModeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lopullisen puukaupan kauppamuoto.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Mode for planned purchase (stumpage, roadside etc).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="wtco:PurchaseModeType"/>
	</xs:simpleType>

	<xs:simpleType name="AdditionalCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koodi määrittelee tarkemmin kaupanteko tapaa. Käytännöt ja sisällöt tiedonsiirto-osapuolien vapaasti sovittavissa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Additional code for eg. accommodate purchase mode. Practices and contents are freely agreed of data transfer partners.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicityType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön julkisuus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Publicity of call for offer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PublicityType"/>
	</xs:simpleType>
	<xs:complexType name="TechnicalContactPersonType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Teknisistä asioista vastaavan henkilön yhteystiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Technical person, used for solving and informing if technical problems occurs.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ci:ContactInformationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CallForOfferDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouspyynnön jättöpvm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Date when call for offer has been generated and sent to recipients (business point of view).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="OfferExpirationDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tarjouksen viimeinen jättöpvm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Last day for recipient to sent offer back.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="OperationModeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:OperationModeType"/>
	</xs:simpleType>
	<xs:simpleType name="UsedPricingMethodTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hinnoittelumenetelmä. Viisielementtinen koodistoarvo. Varmista koodien arvot!</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:UsedPricingMethodTypeType"/>
	</xs:simpleType>
	<xs:complexType name="CallForOfferSilvicultureInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Silviculture data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!--<xs:element ref="SilvicultureMode" minOccurs="0"/>-->
			<xs:element ref="IncludePaymentPlan" minOccurs="0"/>
			<!--<xs:element ref="UsedPricingMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koodistoarvo: pinta-alahinnoittelu, tilavuushinnoittelu, kappalehinnoittelu, aikahinnoittelu, sekahinnoittelu.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Enumerative.</xs:documentation>
				</xs:annotation>
				</xs:element>-->
		</xs:sequence>
	</xs:complexType>
</xs:schema>
