MetsatietostandardiskeematV33.03/V33/WorkingSiteFinalAuditHarvesting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Muutokset skeemapakettiin V10.05:
	- Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.13:
	- Uusi kantatyyppimäärittely WorkingSiteFinalAuditBaseHarvestingType.
	- Kantatyyppimäärittelyyn pohjautuvat tyyppimäärittelyt WorkingSiteFinalAuditHarvestingType (toiminnanohjaus) ja SelfmonitoringFinalAuditHarvestingType (omavalvonta).
	- Tyyppimäärittely WorkingSiteFinalAuditHarvestingType vastaa alkuperäistä määrittelyä validoituvuudeltaan.
	- Uudet elementtimäärittelyt ServiceBuyerId, WorkingSiteId, HarvesterId, ForwarderId, PurchaseContractId, WorkCodeGroup, WorkCode, Audit, InfoText, Images ja Audits, joita käytetään referensseinä tyyppimäärittelyissä WorkingSiteFinalAuditBaseHarvestingType, WorkingSiteFinalAuditHarvestingType ja SelfmonitoringFinalAuditHarvestingType.
	- Tyyppimäärittely YesNoNotNeededType (koodisto) siirretty koodistoon, muutettu elementtien tyyppimäärittelyt käyttämään co: nimiavaruutta

    Muutokset skeemapakettiin V11.07:
    -Lisätty uudet vapaaehtoiset elementit AmountOfRottenTreesInSpareGroupOfTrees, AmountOfRottenSnagsInSpareGroupOfTrees, AmountOfLivingTreesInSpareGroupOfTrees ja AmountOfScatteredDecayingFallenTreesAndNobleDeciduousTrees
    
    Muutokset skeemapakettiin V14.03:
    -Elementille "Audits" lisätty puuttuva dokumentaatio
    -Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
    
    Muutokset skeemapakettiin V17.03:
    - Poistettu elementit AmountOfRottenTreesInSpareGroupOfTrees, AmountOfRottenSnagsInSpareGroupOfTrees, AmountOfLivingTreesInSpareGroupOfTrees ja AmountOfScatteredDecayingFallenTreesAndNobleDeciduousTrees
    - Lisätty vapaaehtoiset elementit SeparateSpareTrees ja SpareTreesFromMapSymbol sekä niille tyyppimäärittelyt wct:SpareTreesByCategoryType ja wct:SpareTreesByCategoryType

	Muutokset skeemapakettiin V33.02:
	- Päivitetty elementtimäärittely "WorkingSiteId": uusi tyyppi ERPIdType

-->

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditHarvesting"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V33.02">
	
	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteFinalAuditHarvesting" type="WorkingSiteFinalAuditHarvestingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuun loppuarviointi/laadunseuranta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceBuyerId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HarvesterId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuukoneen tunniste (ResourceId)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ForwarderId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsätraktorin tunniste (ResourceId)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PurchaseContractId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkCode" type="bdt:WorkCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Audit" type="AuditionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InfoText" type="bdt:String1000Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Images" type="bdt:PositiveInteger2digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Audits" type="AuditsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioitavat asiat</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteFinalAuditBaseHarvestingType">
		<xs:sequence>
			<xs:element ref="ServiceBuyerId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="HarvesterId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuukoneen tunniste (ResourceId)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ForwarderId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsätraktorin tunniste (ResourceId)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PurchaseContractId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkCodeGroup" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkCode"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Audit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="InfoText" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Images" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Audits" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WorkingSiteFinalAuditHarvestingType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteFinalAuditBaseHarvestingType">
				<xs:sequence>
					<xs:element ref="ServiceBuyerId" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteId" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="HarvesterId" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Hakkuukoneen tunniste (ResourceId)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ForwarderId" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Metsätraktorin tunniste (ResourceId)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="PurchaseContractId" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Metsänhoitotilauksen sopimusnumero</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCodeGroup" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCode" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audit" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="InfoText" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audits" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SelfMonitoringFinalAuditHarvestingType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteFinalAuditBaseHarvestingType">
				<xs:sequence>
					<xs:element ref="WorkCodeGroup" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkCode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audit" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="InfoText" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Audits" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AuditionType">
		<xs:sequence>
			<xs:element name="FinalAuditType" type="bdt:FinalAuditTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerType" type="bdt:FinalAuditerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditRequired" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko loppuarviointi vaadittu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AuditsType">
		<xs:sequence>
			<xs:element name="SaveTreesLeft" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko säästöpuita jätetty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaveTreesLeftText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko säästöpuita jätetty selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko lohkolla luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko lohkolla luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasFoundNewEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko havaittu uusia luontokohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectsNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö ja muinaismuistokohteet huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystem" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitsToWaterSystemText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoittuuko vesistöön selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtection" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtectionText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficient" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficientText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpTreatment" type="bdt:YesNoNotNeededType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko kantokäsittelyn peittävyys riittävä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpTreatmentText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko kantokäsittelyn peittävyys riittävä selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighStumps" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko korkeita kantoja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighStumpsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko korkeita kantoja selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storage" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko varastopaikka ohjeistuksen mukainen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko varastopaikka ohjeistuksen mukainen selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadDamages" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko tiestövaurioita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadDamagesText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko tiestövaurioita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearing" type="bdt:YesNoNotNeededType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoraivaus ohjeen mukainen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearingText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoraivaus ohjeen mukainen selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeDamages" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko puustovaurioita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeDamagesText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko puustovaurioita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathPressures" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko ajourapainaumia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathPressuresText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aiheutuiko ajourapainaumia selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeparateSpareTrees" type="wct:SpareTreesByCategoryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Loppuarviolla ilmoitetut yksittäiset säästöpuut (0..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpareTreesFromMapSymbols" type="wct:SpareTreesByCategoryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Karttamerkeillä ilmoitetut säästöpuut yhteensä (0..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
