MetsatietostandardiskeematV33.03/V33/WorkingSiteFinalAuditFertilization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.03:
	-Lisätty uusi pakollinen elementti SamplePlotCount, tyypiltään bdt:PositiveInteger3digitsType
	-Lisätty uusi pakollinen elementti SamplePlotCountRequired, tyypiltään bdt:PositiveInteger3digitsType
	-Korjattu elementin nimi TreeOrGroundDameges -> TreeOrGroundDamages
	-Korjattu elementin nimi TreeOrGroundDamegesText -> TreeOrGroundDamagesText
	-Muutettu elementin AirdromeAsInstructed minOccurs 1 -> 0
	-Skeematiedostosta poistettu elementti DetectedDeviation
	-Skeematiedostosta poistettu elementti DetectedDeviationText
	-Skeematiedostosta poistettu elementti RemedialAction
	-Skeematiedostosta poistettu elementti RemedialActionText
	-Skeematiedostosta poistettu elementti LimitsToWaterSystem
	-Skeematiedostosta poistettu elementti LimitsToWaterSystemText
	
	Muutokset skeemapakettiin V14.03:
	-Elementille "Audits" lisätty puuttuva dokumentaatio
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
	
	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty määrittelyn "WorkingSiteFinalAuditFertilizationType" elementin "WorkingSiteId" tyypiksi ERPIdType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditFertilization"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="V33.02">
	
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<xs:element name="WorkingSiteFinalAuditFertilization" type="WorkingSiteFinalAuditFertilizationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lannoituksen loppuarviointi/laadunseuranta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WorkingSiteFinalAuditFertilizationType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractorId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCodeGroup" type="bdt:WorkCodeGroupType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajiryhmän koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pinta-ala ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingTime" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työskentelyn ajankohta (YYYY-MM-DD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Audit" type="AuditionType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotCount" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen lkm (toteutunut)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotCountRequired" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen lkm (vaadittu)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoText" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FertilizerVolumeOrdered" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite lannoitemäärä kg/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FertilizerVolumeMeasured" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toteutunut lannoitemäärä kg/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FertilizerVolumeMeasuredText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toteutunut lannoitemäärä selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Images" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Audits" type="AuditsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitavat asiat</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditionType">
		<xs:sequence>
			<xs:element name="FinalAuditType" type="bdt:FinalAuditTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tyyppi (laaja/suppea)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerType" type="bdt:FinalAuditerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitsijan tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitsijan Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerName" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitsijan nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditRequired" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin vaadittu MJ:stä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditsType">
		<xs:sequence>
			<xs:element name="FertilizationTotalAudit" type="bdt:WorkingQualityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lannoitustyön kokonaisarvio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FertilizationTotalAuditText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lannoitustyön kokonaisarvio selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeOrGroundDamages" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ja/tai maastovaurioita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeOrGroundDamagesText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puusto-ja/tai maastovaurioita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentCleanlinessNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristön siisteys huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentCleanlinessNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristön siisteys huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrainStorageAsInstructed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lannoitteiden varastointi tehty ohjeen mukaisesti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrainStorageAsInstructedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lannoitteiden varastointi tehty ohjeen mukaisesti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirdromeAsInstructed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lentopaikka (nousu/lasku) ohjeistuksen mukainen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirdromeAsInstructedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lentopaikka (nousu/lasku) ohjeistuksen mukainen selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työmaalla ympäristökohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työmaalla ympäristökohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEnvironmentalObjects" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työmaalla havaittu uusia ympäristökohteita</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewEnvironmentalObjectsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työmaalla havaittu uusia ympäristökohteita selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö- ja muinaismuistokohteet huomioitu ohjeistuksen mukaisesti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko ympäristö- ja muinaismuistokohteet huomioitu ohjeistuksen mukaisesti selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterEconomySystemNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vesitalouden järjestelyt huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterEconomySystemNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vesitalouden järjestelyt huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtection" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterSystemProtectionText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suojakaista vesistöön huomioitu koneellisessa istutuksessa selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyNoticedText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työturvallisuusasiat huomioitu selite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficient" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingInstructionsSufficientText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko työohje ja maastomerkinnät riittävät selite</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
