MetsatietostandardiskeematV33.03/V33/WorkingSiteTrade_Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Tarjouksen ja tarjouspyynnön luettelo metsänviljelymateriaaleista.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V18.02:
	-Muutoksia dokumentaatioihin.
	-Lisätty ProductType:elle vapaaehtoiset attribuutit OperationId ja StandId 
	-Lisätty ProductType -tyyppille uusi vapaaehtoinen elementti PlannedRecource ja sille tyyppimäärittely wtc:PlannedRecourceType
	-Poistettu pakollisuus ProductType:n elementiltä Code ja lisätty sille vaihtoehdoksi OperationInfoGroup -ryhmä
	-Lisätty ryhmä OperationInfoGroup ja sille elementit op:OperationType sekä wsco:OperationMode
	
	Muutokset skeemapakettiin V18.03:
	-Uudelleen nimetty elementti PlannedRecource muotoon PlannedResource
	-Lisätty elementit OperationType ja OperationMode sekä niiden tyyppiimäärittelyt OperationTypeType ja OperationModeType
	-Muutoksia elementtien tyyppimäärittelyihin: ProductName -> co:String500Type, Description -> co:String1500Type, TotalPrice -> wtc:TotalPriceType ja Currency -> co:CurrencyType
	-Siirretty elementti Code ja ryhmä OperationInfoGroup uuden pakollisen ryhmän ProductKeyGroup lapsielementeiksi
	-Muutettu OperationType pakolliseksi elementiksi OperationInfoGroupissa
	-Lisätty vapaaehtoiset elementit Consumption sekä ConsumptionUnit ja niille tyyppimäärittelyt ConsumptionType sekä ConsumptionUnitType 
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/product"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/product"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:op="http://standardit.tapio.fi/schemas/forestData/operation"
	xmlns:wsco="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common/2011/02/14"
	xmlns:wtc="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	elementFormDefault="qualified" attributeFormDefault="qualified" version="V18.03">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
		schemaLocation="WorkingSiteTrade_Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforoffer"
		schemaLocation="WorkingSiteTrade_CallForOffer.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/operation"
		schemaLocation="Operation.xsd"/>

	<!-- Element definitions -->
	<!--<xs:element name="Products" type="ProductsType"/>-->
	<xs:element name="Product" type="ProductType"/>
	<xs:element name="Code" type="xs:string"/>
	<xs:element name="ProductName" type="co:String500Type"/>
	<xs:element name="Quantity" type="co:Decimal2FractionDigitsType"/>
	<xs:element name="QuantityUnit" type="co:WideUnitType"/>
	<xs:element name="Unit" type="xs:string"/>
	<xs:element name="UnitPrice" type="co:Decimal2FractionDigitsType"/>
	<xs:element name="TotalPrice" type="wtc:TotalPriceType"/>
	<xs:element name="Currency" type="co:CurrencyType"/>
	<xs:element name="Description" type="co:String1500Type"/>
	<xs:element name="PlannedResource" type="wtc:PlannedResourceType"/>
	<xs:element name="OperationType" type="OperationTypeType"/>
	<xs:element name="OperationMode" type="OperationModeType"/>
	<xs:element name="Consumption" type="ConsumptionType"/>
	<xs:element name="ConsumptionUnit" type="ConsumptionUnitType"/>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="ProductsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Product" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlannedResourceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PlannedResource" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ehdotetun toteuttajan yksilöivä tunnus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="OperationInfoGroup">
		<xs:sequence>
			<xs:element ref="OperationType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteeseen liittyvä toimenpide.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OperationMode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteen toimenpiteen tyyppi.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="ProductType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Luettelo metsänhoidollisiin toimenpiteisiin käytettävistä materiaaleista, tuotteista ja palveluista.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ProductKeyGroup" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteen perustiedot.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Basic info of product</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element ref="ProductName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteen nimi.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Product name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Quantity" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Määrä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Quantity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="QuantityUnit" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Määrän yksikkö.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Unit of quantity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--		<xs:element ref="Unit" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ensimmäinen versio tyypistä merkkijonona, myöhemmin voidaan ottaa käyttöön yksikkökoodisto.</xs:documentation>
					<xs:documentation xml:lang="sv"></xs:documentation>
					<xs:documentation xml:lang="en"></xs:documentation>
				</xs:annotation>
				</xs:element> -->
			<xs:element ref="UnitPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yksikköhinta.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TotalPrice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kokonaishinta.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Currency" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hinnan yksikkö.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Consumption" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteen menekki yksikköä kohden.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ConsumptionUnit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Menekin yksikkö.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PlannedResource" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Suunniteltu työn toteuttaja</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Description" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vapaata tekstiä/huomioita.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Free text/notifications.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tuotteen tai palvelun yksilöivä tunnus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operationId" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tuotteen tai palvelun toimenpiteeseen yhdistävä tunnus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="standId" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tuotteen tai palvelun kuvioon yhdistävä tunnus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="productId" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tuotteen tai palvelun toiseen tuotteeseen yhdistävä tunnus.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="OperationTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen laji: hakkuu- tai työlaji.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation type: accurate type of cutting or silvicultural operation.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="op:CuttingTypeType op:SilvicultureTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="OperationModeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:OperationModeType"/>
	</xs:simpleType>
	
	<xs:group name="ProductKeyGroup">
		<xs:sequence>
			<xs:element ref="Code" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteen koodi.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Code for product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="OperationInfoGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tuotteeseen littyvän toimenpiteen tiedot.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Basic information about operation.</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>	
	
	<xs:simpleType name="ConsumptionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Tuotteen menekki.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Product consumption.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal2FractionDigitsType"/>
	</xs:simpleType>
	
	<xs:simpleType name="ConsumptionUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Menekin yksikkö.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Unit for consumption.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:UnitPerHectareType"/>
	</xs:simpleType>
	
</xs:schema>
