MetsatietostandardiskeematV33.03/V33/WorkingSiteQualityControlSoilConditioning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.09:
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "ScalpedMoundsCount"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "DitchMoundsCount"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "TurnoverMoundsCount"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "ScalpsCount"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestCultivatedSpotLength"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestCultivatedSpotWidth"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "NearestCultivatedSpotHeight"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "SoilType"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "RockySoil"
	-Kuvio-/lohkotietoihin lisätty uusi vapaaehtoinen elementti "DitchesInAdditionToCultivation"
	
	Muutokset skeemapakettiin V10.13:
	-Lisätty uusi tyyppimäärittely WorkingSiteQualityControlSoilConditioningBaseType
	-Elementti ServiceBuyerId muutettu käyttämään viittausta (ref)
	-Elementti WorkingSiteId muutettu käyttämään viittausta (ref)
	-Elementti Images muutettu käyttämään viittausta (ref)
	-Elementti SamplePlotSummaries muutettu käyttämään viittausta (ref)
	-Elementti SamplePlots muutettu käyttämään viittausta (ref)
	-Lisätty uusi tyyppimäärittely SelfMonitoringWorkingSiteQualityControlSoilConditioningType, sisältää omavalvontatiedot
	
	Muutokset skeemapakettiin V10.14:
	-Korjattu omavalvontatyyppimäärittelyn (SelfMonitoringWorkingSiteQualityControlSoilConditioningType) elementtien pakollisuudet
	
	Muutokset skeemapakettiin V13.03:
	-Lisätty uusi vapaaehtoinen elementti SamplePlotInfoText koealan vapaamuotoisen tekstin syöttämistä varten
	
	Muutokset skeemapakettiin V14.03:
	-Elementille "SamplePlots" lisätty puuttuva dokumentaatio
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
	
	Muutokset skeemapakettiin V14.04:
	-Tyyppimäärittelyyn SamplePlotType lisätty uusi vapaaehtoinen attribuutti ”id”, tyypiltään IdStringNotEmptyType
	
	Muutokset skeematiedostoon V15.01
	-StandNumber-elementin maksimipituus kasvatettu 20 merkkiin

	Muutokset skeemapakettiin V18.03:
    -Muutettu tyyppimäärittelyn SamplePlotType elementti Measurable vapaaehtoiseksi 
    -Lisätty tyyppimäärittelylle SamplePlotType uudet vapaaehtoiset elementit Target (tyypiltään bdt:PositiveIntegerType), WorkCode (tyypiltään bdt:WorkCodeType) 
    sekä CultivationScope, BulgeHeight, MineralSoilLayer ja SoilConditioningDepth, jotka ovat tyypiltään bdt:FinalAuditAnswerType

    Muutokset skeemapakettiin V18.05:
    -Muutettu tyyppimäärittelyn SamplePlotType elementti Measurable pakolliseksi 

    Muutokset skeemapakettiin V27.01:
    -Lisätty uudet vapaaehtoiset elementit UserId ja TaxNumber, tyyppimäärittelyiltään bdt:String20Type

	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty elementtimäärittely "WorkingSiteId": uusi tyyppi ERPIdType
	- Päivitetty määrittelyn "SamplePlotType" elementin "TaxNumber" tyypiksi TaxNumberType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlSoilConditioning"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	version="V33.02">
	
	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteQualityControlSoilConditioning" type="WorkingSiteQualityControlSoilConditioningType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maanmuokkauskoeala</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceBuyerId" type="bdt:String20Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSiteId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Images" type="bdt:PositiveInteger2digitsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlotSummaries" type="SamplePlotSummariesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SamplePlots" type="SamplePlotsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteQualityControlSoilConditioningBaseType">
		<xs:sequence>
			<xs:element ref="ServiceBuyerId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Images" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlotSummaries" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WorkingSiteQualityControlSoilConditioningType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlSoilConditioningBaseType">
				<xs:sequence>
					<xs:element ref="ServiceBuyerId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="Images" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotSummaries" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SelfMonitoringWorkingSiteQualityControlSoilConditioningType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlSoilConditioningBaseType">
				<xs:sequence>
					<xs:element ref="Images" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Valokuvien lkm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotSummaries" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummariesType">
		<xs:sequence>
			<xs:element name="SamplePlotSummary" type="SamplePlotSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummaryType">
		<xs:sequence>
			<xs:element name="StandNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeasurementSummary" type="SamplePlotMeasurementSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen mittaajatyyppikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotMeasurementSummaryType">
		<xs:sequence>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantSiteCountSummary" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hehtaarikohtainen istutuspaikkojen lukumäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchesInAdditionToCultivation" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkauksen lisäksi kaivettu ojaa, metriä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="SamplePlotNumber" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureDate" type="bdt:DateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurable" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko mitattavissa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan yksilöivä järjestelmän tietokanta id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxNumber" type="wct:TaxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan veronumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryReal" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan sijainti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryRequired" type="gdt:PointGeometryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäjärjestelmästä toimitettu koealan sijainti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan säde</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGPSlocation" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko sijainti gps:ltä</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="Target" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkCode" type="bdt:WorkCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CultivationScope" type="bdt:FinalAuditAnswerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viljelypaikkojen laajuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BulgeHeight" type="bdt:FinalAuditAnswerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kohoumien korkeus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MineralSoilLayer" type="bdt:FinalAuditAnswerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kivennäismaakerros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilConditioningDepth" type="bdt:FinalAuditAnswerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muokkausjäljen syvyys</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlantingSiteCount" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Istutuspaikkojen lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScalpedMoundsCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laikkumättäiden lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchMoundsCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ojamättäiden lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TurnoverMoundsCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kääntömättäiden lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScalpsCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laikkujen lkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestCultivatedSpotLength" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, pituus, cm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestCultivatedSpotWidth" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, leveys, cm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NearestCultivatedSpotHeight" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähin muokkausjälki, korkeus, cm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilType" type="bdt:CompactSoilTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maalaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RockySoil" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maapohja kivinen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotInfoText" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan vapaamuotoista tekstiä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="bdt:IdStringNotEmptyType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Koealan id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Sample plot id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
</xs:schema>
