MetsatietostandardiskeematV33.03/V33/WorkingSiteOperational.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.

	Muutokset skeemapakettiin V11.03:
	-Päivitetty elementin RoadDitchObjects dokumentaatio
	-Muutettu elementin Diameter tyyppimäärittely bdt:Decimal2FractionDigitsType -> bdt:PositiveInteger4digitsType, samalla päivitetty elementin dokumentaatio
	-Muutettu elementin Length tyyppimäärittely bdt:Decimal2FractionDigitsType -> bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType, samalla päivitetty elementin dokumentaatio
	-Muutettu elementin GrainSize tyyppimäärittely bdt:Decimal2FractionDigitsType -> bdt:PositiveInteger3digitsType, samalla päivitetty elementin dokumentaatio

	Muutokset skeemapakettiin V12.01:
	-Muutettu elementin Geometry tyyppimäärittely gdt:PolygonOrMultiPolygonType -> gdt:PolygonOrMultiPolygon2Type
	
	Muutokset skeemapakettiin V14.01: 
	-Lisätty uudet vapaaehtoiset elementit CanCultivateInAutumn ja IsValueForceWorkingSite, molemmat tyypiltään "bdt:YesNoType" 
	
	Muutokset skeemapakettiin V14.03:
	-Lisätty uusi vapaaehtoinen elementti MaterialProducer
	
	Muutokset skeemapakettiin V14.05:
	-Elementin ProductUserIds dokumentaatio päivitetty "Jakaumataulukot" -> "PIN-tiedostot"
	
	Muutokset skeemapakettiin V15.01:
	-Lisätty uusi vapaaehtoinen elementti ForestSystemPaymentReference
	- OperationalRegion -elementin maksimipituus kasvatettu 50 merkkiin
	- StandId-elementin maksimipituus kasvatettu 20 merkkiin

	Muutokset skeemapakettiin V16.02:
	- StorageId-elementin maksimipituus kasvatettu 50 merkkiin

    Muutokset skeemapakettiin V19.01:
    - Lisätty uusi vapaaehtoinen elementti MaterialDeliveryType ja sille tyyppimäärittely MaterialDeliveryTypeType

    Muutokset skeemapakettiin V20.01:
    -Lisätty uudet vapaaehtoiset elementit RegisterUnitId ja ParcelLabel, tyyppimäärittelyltään bdt:String20Type

    Muutokset skeemapakettiin V22.01:
    -Muutettu elementti FeeUnit vapaaehtoiseksi FeeBasisDataType tyyppimäärittelyssä
    -Lisätty tyyppimäärittelyyn FeeBasisDataType uusi vapaaehtoinen elementti FeeBasisList, tyyppimäärittelyltään FeeBasisListType
    -Lisätty uusi tyyppimäärittely FeeBasisListType sisältäen pakollisen elementin FeeBasisListItem, tyyppimäärittelyltään FeeBasisListItemType
    -Lisätty uusi tyyppimäärittely FeebasisListItemType jossa pakolliset elementit Id tyyppimäärittelyltään bdt:PositiveIntegerType, FeeText tyyppimäärittelyltään bdt:String50Type ja FeeUnit tyyppimäärittelyltään bdt:String10Type

    Muutokset skeemapakettiin V23.01:
    -Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uudet vapaaehtoiset elementit (ja niille tyyppimäärittelyt) AuthorizationsToSendWsoInformation (AuthorizationsToSendWsoInformationType), 
    ResultsOfAccessibilityAnalysis (ResultsOfAccessibilityAnalysisType), PreClearingnformation (PreClearingInformationType), FinancingSustainableForestry (FinancingSustainableForestryType),
    MixedForestRegenarationMethods (bdt:YesNoType), PricingMethod (PricingMethodType)
    -Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uusi vapaaehtoinen ryhmä TargetDensityGroup ja siihen vapaaehtoiset elementit TargetDensity (bdt:PositiveInteger5digitsType) ja BirchTargetDensityProcent (bdt:PercentType)
    -Lisätty tyyppimäärittelyyn ForestUseDeclarationType uusi vapaaehtoinen elementti ForesUseDeclarationNotNeeded (bdt:YesNoType)
    -Lisätty uusi tyyppimäärittely FinancingSustainableForestryType, ja siihen vapaaehtoiset elementit BlockIsFSFBlock ja FSFInformation
    -Lisätty uusi tyyppimäärittely FSFInformationType, ja siihen vapaaehtoiset elementit FSFNumber ja FSFValidity
    -Lisätty uusi tyyppimäärittely FSFValidityType, ja siihen vapaaehtoiset elementit StartDate ja EndDate
    -Lisätty uusi tyyppimäärittely PreClearingInformationType, ja siihen vapaaehtoiset elementit ResponsibleOfPreClearing ja PreClearingExecutionTime
    -Lisätty uusi tyyppimäärittely ResultsOfAccessibilityAnalysisType, ja siihen pakollinen elementti ResultOfAccessibilityAnalysis
    -Lisätty uusi tyyppimäärittely ResultOfAccessibilityAnalysisType, ja siihen pakolliset elementit Accessibility ja Percentage
    -Lisätty uusi tyyppimäärittely AuthorizationsToSendWsoInformationType, ja siihen pakollinen elementti AuthorizationToSendWsoInformation
    -Lisätty uusi tyyppimäärittely AuthorizationToSendWsoInformation, ja siihen pakolliset elementit ServiceNameOfAPI ja AuthorizedToSend
    -Lisätty tyyppimäärittelyyn StandType uusi vapaaehtoinen elementti ParcelNo (bdt:PositiveInteger6digitsType)
    -Vaihdettu elementin ParcelLabel tyyppimäärittelyksi bdt:String100Type
    
    Muutokset skeemapakettiin V25.01:
    -Päivitetty dokumentaatioita
    -Elementin nimeämismuutos BirchTargetDensityProcent -> DeciduousTreeTargetDensityPercent
    -Lisätty tyyppimäärittelyyn MaterialType uudet vapaaehtoiset elementit RegionOfOrigin (bdt:String10Type), DegreeDays (bdt:PositiveInteger4digitsType) ja Altitude (bdt:PositiveInteger4digitsType)
    -Vaihdettu elementin Volume tyyppimäärittelyksi bdt:PositiveInteger5digitsType
    -Lisätty tyyppimäärittelyyn FeebasisListItemType uusi vapaaehtoinen elementti DefaultValue (bdt:String50Type)
    -Lisätty uusi tyyppimäärittely SpecialFeatureType ja siihen ryhmä sf:FeatureDataGroup
    -Lisätty uusi tyyppimäärittely SpecialFeaturesType ja siihen pakollinen elementti SpecialFeature (SpecialFeatureType)
    -Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uusi vapaaehtoinen elementti SpecialFeatures (SpecialFeaturesType)
    
    Muutokset skeemapakettiin V28.01:
    -Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uudet vapaaehtoiset elementit ContinuousCoverForestry (bdt:YesNoType) ja TreeSpeciesAttributes (TreeSpeciesAttributesType)
    -Lisätty uusi tyyppimäärittely TreeSpeciesAttributesType ja siihen vapaaehtoinen elementti TreeSpeciesAttribute (TreeSpeciesAttributeType)
    -Lisätty uusi tyyppimäärittely TreeSpeciesAttributeType ja siihen pakollinen elementti TreeSpecies (bdt:TreeSpeciesType) sekä vapaahetoiset elemntit Bulk (bdt:PositiveInteger4digitsType) ja Quality (wct:QualityOfTreeSpecies)
    -Poistettu tyyppimäärittelystä WorkCodeType vapaaehtoinen elementti RoadDitchObjects
    -Poistettu tyyppimäärittelyt RoadDitchObjectMaterialType, RoadDitchObjectMaterialsType, RoadDitchObjectsType ja RoadDitchObjectType

	Muutokset skeemapakettiin V28.02:
	-Lisätty tyyppimäärittelyssä TreeSpeciesAttributeType mahdollisuus lisätä elementti TreeSpeciesAttribute useasti
	
	Muutokset skeemapakettiin V30.01:
	-Vaihdettu elementin WorkingSiteId tyyppimäärittelyksi bdt:String50Type
	-Lisätty tyyppimäärittelyyn ForestOwnersType uusi vapaaehtoinen elementti OwnerRepresentativePerson (bdt:ContactInformationType)
	-Lisätty tyyppimäärittelyyn SpecialFeatureType uusi vapaaehtoinen elementti sf:FeatureInfo 
	-Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uudet vapaaehtoiset elementit PurchaseContractExtraInfo (bdt:String3000Type),
	WorkingSiteStatus (bdt:WorkingSiteStatusType), WorkingSitePlannedForHarvestingDate (bdt:DateType), WorkingSitePlanningStatus (bdt:WorkingSitePlanningStatusType), 
	WorkingSitePlanningOperation (bdt:WorkingSitePlanningOperationStatusType), WorkingSitePlanningInfo (bdt:String3000Type), WorkingSitePlannedForHarvestingDate (bdt:DateType),
	CertificationHandlingInstructions (bdt:String3000Type), StorageForestHaulageDistances (StorageForestHaulageDistancesType), OtherRemarks (bdt:String3000Type)
	-Lisätty uusi ryhmä RealEstatesGroup, jonka elementteinä pakollisena RealEstate ja vapaaehtoisena uusi elementti RealEstateName 
	-Korvattu RealEstateType tyyppimäärittelyssä RealEstate -elementti ryhmällä RealEstatesGroup
	-Vaihdettu elementtien AccessRightsInfo, EnvironmentalObjectInfo ja WorkingSafetyInfo tyyppimäärittelyksi bdt:String3000Type
	-Lisätty tyyppimäärittelyyn AssortmentType uudet vapaaehtoiset elementit TreeSpecies (bdt:TreeSpeciesType) ja StemType (bdt:StemTypeType)
	-Lisätty tyyppimäärittelyyn StandType uudet vapaaehtoiset elementit ForestUseDeclarationStandExtraInfo (bdt:String2000Type) ja ForestUseDeclarationStandFellingPurpos (bdt:CuttingPurposeType)
	-Vaihdettu StorageType tyyppimäärittelyn Geometry elementin tyyppimäärittelyä gdt:PointGeometryType -> gdt:AlternativeGeometriesWithAttributesType
	-Lisätty StorageType tyyppimäärittelyyn uudet vapaaehtoiset elementit StorageLandOwner (bdt:StorageLandOwnerType), StorageLandOwnerInformation (bdt:ExtendedContactInformationType), 
	StorageAdditionalRemarks (bdt:String3000Type) ja StorageLinkedToWorkingSite (bdt:YesNoType)	
	-Lisätty uusi tyyppimäärittely StoragesForestHaulageDistancesType johon pakollinen elementti StorageForestHaulageDistance (StorageForestHaulageDistanceType)
	-Lisätty uusi tyyppimäärittely StorageForestHaulageDistanceType johon pakollinen ryhmä StorageForestHaulageDistanceGroup
	-Lisätty uusi ryhmän määrittely StorageForestHaulageDistanceGroup johon pakolliset elementit StorageId (bdt:String50Type) ja ForestHaulageDistance (bdt:PositiveInteger5digitsType)
	sekä vapaaehtoinen elementti StandId (bdt:String20Type)

	Muutokset skeemapakettiin V30.02:
	-Vaihdettu tyyppimäärittelyn AssortmentType elementin Volume tyyppimäärittelyksi bdt:Decimal3FractionDigitsType
	-Poistettu ryhmän määrittelystä StorageForestHaulageDistanceGroup vapaaehtoinen elementti StandId (bdt:String20Type)
	-Vaihdettu tyyppimäärittely gdt:AlternativeGeometriesWithAttributesType uudelleen nimetyksi gdt:PointAndLineOrPolygonType:ksi

	Muutokset skeemapakettiin V31.01:
	-Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uudet vapaaehtoiset elementit RetentionTreeTarget (wct:SpareTreesType) ja BiomassCollectionFinishedDate (bdt:DateType) 
	
	Muutokset skeemapakettiin V31.02: 
	-Vaihdettu elementin RetentionTreeTarget tyyppimäärittelyksi wct:SpareTreesByCategoryType

	Muutokset skeemapakettiin V31.03:
	-Uudelleennimetty BiomassCollectionFinishedDate -> BiomassFinishedDate elementti ja kehitetty sen selitettä
	-Vaihdettu elementin StorageLandOwnerInformation tyyppimäärittelyä (bdt:ExtendedContactInformationType) -> (bdt:ContactInformationType)
	
	Muutokset skeemapakettiin V32.01:
	- Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uusi vapaaehtoinen elementti Deliveries
	- Lisätty tyyppimäärittely DeliveriesType (DeliveryType) Toimituspuutavaralajit
	- Lisätty tyyppimäärittely DeliveryType jossa pakolliset elementit DeliveryUserId (bdt:String50Type), DeliveryInfo (bdt:String50Type) ja DeliveryName (bdt:String50Type)
	- Lisätty tyyppimäärittelyyn AssortmentType uudet vapaaehtoiset elementit AssortmentId (bdt:String50Type), Unit (bdt:WorkCodeUnitType) ja DeliveryUserId (bdt:String50Type),

	Muutokset skeemapakettiin V33.01:
	- Lisätty tyyppimäärittelyyn WorkingSiteOperationalType uusi vapaaehtoinen elementti GrowingTreeSpecies (bdt:TreeSpeciesType) kasvatettava puulaji

	Muutokset skeemapakettiin V33.02:
	- Päivitetty määrittelyn "WorkingSiteOperationalType" elementin "WorkingSiteId" tyypiksi ERPIdType
	- Päivitetty määrittelyn "AssortmentType" elementin "AssortmentId" tyypiksi ERPIdType
	- Päivitetty määrittelyn "StorageType" elementin "StorageId" tyypiksi ERPIdType
	- Päivitetty määrittelyn "MaterialType" elementin "StorageId" tyypiksi ERPIdType
	- Päivitetty määrittelyn "StorageForestHaulageDistanceGroup" elementin "StorageId" tyypiksi ERPIdType
	- Päivitetty määrittelyn "WorkingSiteOperationalType" elementin "WorkingSiteNumber" tyypiksi WorkingSiteNumberType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational"
	xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
	xmlns:sf="http://standardit.tapio.fi/schemas/forestData/specialFeature"
	xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteOperational"
	elementFormDefault="qualified" attributeFormDefault="qualified" version="V33.01">

	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/specialFeature"
		schemaLocation="SpecialFeature.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>

	<xs:element name="WorkingSiteOperational" type="WorkingSiteOperationalType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name="WorkingSiteOperationalType">
		<xs:sequence>
			<xs:element name="ServiceBuyerId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseContractNumber" type="bdt:String20Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sopimusnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseContractExtraInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sopimuksen lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteNumber" type="wct:WorkingSiteNumberType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkonumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteName" type="bdt:String100Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractorId" type="bdt:String20Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän tunniste (alv-tunnus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän sopimus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceType" type="bdt:ServiceTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Palvelukokonaisuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerType" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Asiakastyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SilvicultureContractNumber" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoitosopimus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation1" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Organisaatiotunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation2" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Organisaatiotunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation3" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Organisaatiotunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation4" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Organisaatiotunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationalRegion" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toiminta-alue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceBuyerContactInformation"
				type="ServiceBuyerContactInformationType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerRepresentativePerson" type="bdt:ContactInformationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Asiakkaan edustajan tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestOwners" type="ForestOwnersType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiinteistöt ja niiden omistajat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorizationsToSendWsoInformation"
				type="AuthorizationsToSendWsoInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lupa siirtää lohkon tietoja jonkin toisen palveluntarjoajan rajapintaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCompany" type="bdt:ContactInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimialueen kuljetusyrittäjän tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BearingCapacityClass" type="bdt:BearingCapacityClassType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maaston kantavuusluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accessibility" type="bdt:AccessibilityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuukelpoisuus (stand. saavutettavuus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerrainClass" type="bdt:TerrainClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maastoluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialFeatures" type="SpecialFeaturesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon erityispiirteet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultsOfAccessibilityAnalysis"
				type="ResultsOfAccessibilityAnalysisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuukelpoisuusanalyysin tulos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestHaulageDistance" type="bdt:PositiveInteger5digitsType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Meku matka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerrainPlanningDone" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maastosuunnittelu tehty (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearingInformation" type="PreClearingInformationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon ennakkoraivaustiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSitePlanningStatus" type="bdt:WorkingSitePlanningStatusType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon suunnittelun tila</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSitePlanningOperation"
				type="bdt:WorkingSitePlanningOperationStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon suunnittelun toimenpidetarve</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSitePlanningInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon suunnittelun lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSitePlannedForHarvestingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon korjuuvalmiiksi tallennuksen päivämäärä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSiteStatus" type="bdt:WorkingSiteStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tila</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReadyToDo" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohko suoritettavissa (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SellersLogs" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Myyjän puut, vapaa teksti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SellersLogsInfo" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Myyjälle jäävien puiden pituus ja kuvaus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingsiteInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Priority" type="WorkingSitePriorityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon prioriteetti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationTimeStart" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoitetoimenpideaika alku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationTimeEnd" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoitetoimenpideaika loppu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestUseDeclaration" type="ForestUseDeclarationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationRestriction" type="OperationRestrictionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimenpiderajoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractValidDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sopimuksellinen puukauppasopimuksen tai metsänhoitosopimuksen mukainen toimenpideaika</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialAreaId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tieto yrittäjälle kuka taimet toimittaa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualityAttachments" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laatuliitteiden versio tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportArea" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähtöalue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasSupport" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko lohkolla tukimuotoja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingSustainableForestry" type="FinancingSustainableForestryType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kemeratiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yrittäjän urakkamaksun maksupäivä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreNotificationAllowed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoilmoitus sallittu (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginNotificationAllowed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aloitusilmoitus sallittu (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendNotificationsAlways" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakko- ja aloitusilmoitus lähetetään aina</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LargeSummaryReportRequired" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon laadun tarkastus vaaditaan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestAreaMethod" type="bdt:SamplePlotType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealamittaus tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestAreaRequired" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon koealamittaus vaaditaan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IslandWorkingSite" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Saaristolohko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StormWorkingSite" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Myrskylohko</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SodWorkingSite" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Turvemaalohko kesä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanCultivateInAutumn" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Syysviljelykelpoinen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MixedForestRegenarationMethods" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sekaviljely</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsValueForceWorkingSite" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähetetäänkö WorkingSiteHarvestedProduction-sanomat
						ValueForce-järjestelmään (oletus: ei)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestCertification" type="bdt:CertificationSystemType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sertifiointi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationHandlingInstructions" type="bdt:String3000Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sertifioinnin käsittelyohje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetentionTreeTarget" type="wct:SpareTreesByCategoryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon säästöpuiden tavoitemäärät</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DryingClass" type="bdt:DryingClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuivumisluokka = latvusmassan kosteus %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HumidityPercentage" type="bdt:Decimal1FractionDigitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Latvusmassan kosteusprosentti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CuttingControlRequired" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Moton tarkastus mittaus vaaditaan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CuttingFinishedDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuun päättymis pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpLiftingFinishedDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kannonnoston päättymis pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BiomassFinishedDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Biomassan korjauksen päättymispvm.</xs:documentation>
				</xs:annotation>
			</xs:element>				
			<xs:element name="AssortmentIncrementAllowed" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL:n lisäys sallittu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmentalObjectInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ympäristökohteiden lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkingSafetyInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Turvallisuuskohteiden lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccessRightsInfo" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käyttöoikeudet, esim. tiet yms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainWorkCode" type="bdt:MainWorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon päätyölaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductionFileSendFrequency" type="bdt:PositiveIntegerType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Moton tuotostietojen lähetystaajuus alkuperäiselle tiedostolle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestSystemPaymentReference" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäjärjestelmän viitenumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PricingMethod" type="wct:PricingMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon hinnoittelumuoto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContinuousCoverForestry" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jatkuva kasvatus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousBlockState" type="bdt:PreviousBlockStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Edellisten lohkojen tila, liikennevalot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousBlocks" type="PreviousBlockInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Edeltävät lohkot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Assortments" type="AssortmentsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puutavaralajit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stands" type="StandsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuviot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storages" type="StoragesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon varastopaikat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StoragesForestHaulageDistances"
				type="StoragesForestHaulageDistancesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikkojen metsäkuljetusmatkat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeBasis" type="FeeBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemTypeBulks" type="StemTypeBulksType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkolajikohtaiset järeydet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSpeciesAttributes" type="TreeSpeciesAttributesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaisia tietoja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductUserIds" type="ProductUserIdsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PIN-tiedostot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterSections" type="DiameterSectionsType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rungonosamuuttujat, läpimittaositteet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherRemarks" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muuta huomioitavaa lohkolla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Deliveries" type="DeliveriesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajit (Metsäkuljetuksen sisältämien yksittäisen PIN:in ohjeilla toteutetun hakkuun puutavaralajien luettelo)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiameterSectionsType">
		<xs:sequence>
			<xs:element name="DiameterSection" type="SectionType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Läpimittaositteet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SectionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Osite</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organisation1" type="bdt:String20Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan organisaatiotieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation2" type="bdt:String20Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan organisaatiotieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation3" type="bdt:String20Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan organisaatiotieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organisation4" type="bdt:String20Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan organisaatiotieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSpecies" type="wct:StanfordTreeSpeciesType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Stanford-puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="bdt:String100Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ositteen kuvaus, 531t1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="bdt:String20Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ositteen koodi, 531t2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinDiameter" type="bdt:PositiveIntegerType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ositteen mininiläpimitta (mm), 531t3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinLength" type="bdt:PositiveIntegerType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ositteen minimipituus (cm), 531t4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserCode" type="bdt:YesNoType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetäänkö puukaupassa, 531t5</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeBasisType">
		<xs:sequence>
			<xs:element name="FeeBasis" type="FeeBasisDataType" minOccurs="0" maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeBasisDataType">
		<xs:sequence>
			<xs:element name="FeeId" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viittaus taksaperusteeseen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeType" type="bdt:FeeBasisValueType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeText" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeUnit" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoTextMandatory" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Seliteteksti pakollinen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultValue" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen oletusarvo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueList" type="ValueListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen valintalistan arvot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeBasisList" type="FeeBasisListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteessa useita syötettäviä arvoja</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueListType">
		<xs:sequence>
			<xs:element name="ValueListItem" type="ValueListItemType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen valintalistan arvot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeeBasisListType">
		<xs:sequence>
			<xs:element name="FeeBasisListItem" type="FeebasisListItemType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Useiden syötettävien arvojen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandsType">
		<xs:sequence>
			<xs:element name="Stand" type="StandType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandType">
		<xs:sequence>
			<xs:element name="StandId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="gdt:PolygonOrMultiPolygon2Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">kuvion rajat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterUnitId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiinteistötunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParcelNo" type="bdt:PositiveInteger6digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Palstan numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParcelLabel" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Palstan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestPlanStandId" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäsuunnitelma kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchOrRoadPlanId" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tie/Oja hankkeen tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DitchOrRoadPlanName" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tie/Oja hankkeen nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" type="bdt:Decimal2FractionDigitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">pinta-ala</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FertilityClass" type="bdt:FertilityClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsätyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpTreatment" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kantokäsittely (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BiomassCollection" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakkuutähteiden keräys (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StumpRaising" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kantojennosto (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DevelopmentClass" type="bdt:WideDevelopmentClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kehitysluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoilType" type="bdt:SoilTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maalaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supported" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tukimuotoja (K/E)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotCount" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealalkm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LabelPosition" type="gdt:PointGeometryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion labelin sijainti MJ:stä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandInfo" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestUseDeclarationStandExtraInfo" type="bdt:String2000Type"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoituksen kuvion lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestUseDeclarationStandFellingPurpose" type="bdt:CuttingPurposeType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion hakkuun tarkoitus metsänkäyttöilmoituksessa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandTreesCuttingVolume" type="bdt:PositiveInteger4digitsType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakattavan puuston tilavuus m3/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrowingTreeSpecies" type="bdt:TreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kasvatettava puulaji.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="TargetDensityGroup" minOccurs="0"/>
			<xs:element name="WorkCodes" type="WorkCodesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion työlajit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Materials" type="MaterialsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion materiaalit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandTreesCutting" type="StandTreesCuttingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakattavan puuston kokonaiskertymä (arvio)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandTreesCurrent" type="StandTreesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Nykyinen puusto (puustotyyppi)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandTreesStratumLeaving" type="StandTreesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jäävä puusto (Tavoite)  (puustotyyppi)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlots" type="SamplePlotsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealat, MJ:stä toimitetut pisteet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="0" maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="TestAreaNumber" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">paikkatieto gml</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssortmentsType">
		<xs:sequence>
			<xs:element name="Assortment" type="AssortmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AssortmentType">
		<xs:sequence>
			<xs:element name="AssortmentId" type="wct:ERPIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL:n yksilöivä tunniste (esim. GUID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL-koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL-nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeGroup" type="bdt:AssortmentGroupType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL-ryhmä (koodi)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikoodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemType" type="bdt:StemTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puutavaralajin runkolaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quality" type="bdt:String5Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Laatu</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="Volume" type="bdt:Decimal3FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Määrä (oletusyksikkönä m3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unit" type="bdt:WorkCodeUnitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationStorage" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspiste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurementMethod" type="bdt:MeasurementMethodType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittausmenetelmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurementPlace" type="bdt:MeasurementPlaceType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittauspaikka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMin" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Min lpm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMax" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Max lpm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HeightMin" type="bdt:Decimal1FractionDigitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Min pituus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HeightMax" type="bdt:Decimal1FractionDigitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Max pituus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CanModify" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko muutettavissa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssortmentInfo" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryUserId" type="bdt:String50Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajin yksilöivä tunniste. (Mihin toimituspuutavaralajiin PIN:nin mukaisesti hakattavat puut sisältyvät.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoragesType">
		<xs:sequence>
			<xs:element name="Storage" type="StorageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StorageType">
		<xs:sequence>
			<xs:element name="StorageId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">varastopaikan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageDisplayId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">varastopaikan label, näytetään näytöillä/kartalla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="gdt:PointAndLineOrPolygonType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">paikkatieto gml</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeometryModificationAllowed" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Saako VP:n sijaintia muuttaa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlowingName" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aurausyrittäjän nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlowingTelephone" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aurausyrittäjän puhelin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlowingEmail" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aurausyrittäjän sähköposti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlowingArranged" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Auraus järjestetty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlowingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aurauspvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accessibility" type="bdt:TransportAccessibilityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuljetuskelpoisuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TurningPointClass" type="bdt:TurningPointClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kääntöpaikkaluokitus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageInfo" type="bdt:String500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryRestriction" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuljetuskielto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageName" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageAddress" type="bdt:String500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan osoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageDryingClass" type="bdt:StorageDryingClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan kuivumisluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageLandOwner" type="bdt:StorageLandOwnerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan maanomistaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageLandOwnerInformation" type="bdt:ContactInformationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan maanomistajan yhteystiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageAdditionalRemarks" type="bdt:String3000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muuta huomioitavaa varastopaikalla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageLinkedToWorkingSite" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikka kytketty lohkoon K/E</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandTreesType">
		<xs:sequence>
			<xs:element name="StandTree" type="StandTreeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandTreeType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storey" type="bdt:StoreyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jakso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalArea" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">ppa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeight" type="bdt:Decimal1FractionDigitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">keskipituus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCount" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">runkoluku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Age" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameter" type="bdt:PositiveIntegerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">keskiläpimitta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">puuston tilavuus m3/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandTreesCuttingType">
		<xs:sequence>
			<xs:element name="StandTree" type="StandTreeCuttingType" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandTreeCuttingType">
		<xs:sequence>
			<xs:element name="CodeGroup" type="bdt:AssortmentGroupType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PTL-ryhmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="bdt:PositiveInteger5digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">arvioitu kokonaismäärä m3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodesType">
		<xs:sequence>
			<xs:element name="WorkCode" type="WorkCodeType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCodeType">
		<xs:sequence>
			<xs:element name="WorkingCode" type="bdt:WorkCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlaji/Hakkuutapa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unit" type="bdt:WorkCodeUnitType">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Työlajin yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DifficultyClass" type="bdt:DifficultyClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vaikeusluokka</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute1" type="bdt:WorkCodeQualifierType1" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Menetelmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute2" type="bdt:WorkCodeQualifierType2" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittelytapa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute3" type="bdt:WorkCodeQualifierType3" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittelynvoimakkuus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute4" type="bdt:WorkCodeQualifierType4" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittelymenetelmä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Attribute5" type="bdt:WorkCodeQualifierType5" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätyöt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaterialsType">
		<xs:sequence>
			<xs:element name="Material" type="MaterialType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaterialType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon kuvion materiaalit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaterialId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalirivin yksilöivä id lohkolla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialCode" type="bdt:MaterialCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommercialName" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin kaupallinen nimi</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="Amount" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unit" type="bdt:MaterialUnitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supplier" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin toimittaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialProducer" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin alkuperä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Diameter" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin läpimitta: Yksikkö mm, minimi on 100 mm, maksimi on 3000 mm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Length"
				type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin pituus: yksikkö metri, minimi on 1.0 m, maksimi 12.0 m</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrainSize" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Raekoon maksimikoko, mm. Minimi on 1 mm, maksimi on 100 mm.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryNumber" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Eränumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Delivered" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimitettu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pakkaus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreezingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pakastus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeltingDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Otettu sulamaan pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Infotext" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin lisätieto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageId" type="wct:ERPIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaterialDeliveryType" type="MaterialDeliveryTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimitustyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionOfOrigin" type="bdt:String10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähtöisyysalue. Lähtöisyysaluellaa tarkoitetaan aluetta, jolla on riittävän yhdenmukaiset luonnonolot ja jolla sijaitsevat metsiköt ovat ilmiasultaan tai geneettisiltä ominaisuuksiltaan riittävän samankaltaisia. (Ruokavirasto.fi 7.10.2021)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DegreeDays" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lämpösumma</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Altitude" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korkeus merenpinnasta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceBuyerContactInformationType">
		<xs:sequence>
			<xs:element name="ServiceBuyer" type="ServiceBuyerType" minOccurs="1" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceBuyerType">
		<xs:sequence>
			<xs:element name="PersonId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan yhteyshlön TJ-tunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganisationId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan yhteyshlön yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonRole" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan yhteyshlön rooli</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="bdt:String100Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puhelinnumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Sähköpostiosoite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="bdt:LanguageCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kielikoodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendWorkingAloneNotification" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähetetäänkö yhteyshenkilölle yksintyöskentelyilmoitus.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendNotifications" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lähetetäänkö yhteyshenkilölle aloitus-, lopetus- ja ennakkoilmoituksia.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationContactPerson" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Aloitus-, lopetus- ja ennakkoilmoitus: viestin sisällössä yhteyshenkilönä.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationRestrictionType">
		<xs:sequence>
			<xs:element name="Description" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvaus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoituksen alkupvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajoituksen loppupvm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForestUseDeclarationType">
		<xs:sequence>
			<xs:element name="StartDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Voimassaolon alku pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Voimassaolon loppu pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestUseDeclarationNotNeeded" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänkäyttöilmoitusta ei tarvita</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousBlockInfoType">
		<xs:sequence>
			<xs:element name="PreviousBlock" type="bdt:String20Type" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Edeltävä lohko, jonka valmistuttava ennen suoritusta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StemTypeBulksType">
		<xs:sequence>
			<xs:element name="StemTypeBulk" type="StemTypeBulkType" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkolajikohtaiset järeydet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreeSpeciesAttributesType">
		<xs:sequence>
			<xs:element name="TreeSpeciesAttribute" type="TreeSpeciesAttributeType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductUserIdsType">
		<xs:sequence>
			<xs:element name="ProductUserId" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">PIN-tiedoston nimi</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="bdt:String50Type">
							<xs:attribute name="DeliveryUserId" type="bdt:String50Type">
								<xs:annotation>
									<xs:documentation>Toimituspuutavaralajin yksilöivä tunniste. (Mihin toimituspuutavaralajiin PIN:nin mukaisesti hakattavat puut sisältyvät.)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StemTypeBulkType">
		<xs:sequence>
			<xs:element name="StemType" type="bdt:HarvestingStemTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkolaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bulk" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Järeys</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TreeSpeciesAttributeType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bulk" type="bdt:PositiveInteger4digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Järeys litraa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quality" type="wct:QualityOfTreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajin laatu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueListItemType">
		<xs:sequence>
			<xs:element name="ListId" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valintalistan Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListItem" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valintalistan arvo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeebasisListItemType">
		<xs:sequence>
			<xs:element name="Id" type="bdt:PositiveIntegerType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Moniarvoisen taksatekijän Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeText" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeUnit" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen yksikkö</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultValue" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taksaperusteen oletusarvo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForestOwnerType">
		<xs:sequence>
			<xs:element name="Owner" type="bdt:ContactInformationType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omistaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerRepresentativePerson" type="bdt:ContactInformationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omistajan edustaja</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealEstates" type="RealEstateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omistajan kiinteistöt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RealEstateType">
		<xs:sequence>
			<xs:group ref="RealEstatesGroup" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Omistajan kiinteistöt</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ForestOwnersType">
		<xs:sequence>
			<xs:element name="ForestOwner" type="ForestOwnerType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänomistaja tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WorkingSitePriorityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Matala</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Normaali (oletus)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Korkea</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MaterialDeliveryTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Myyntitaimet</xs:documentation>
					<xs:documentation xml:lang="sv">Plantor to skogsägare</xs:documentation>
					<xs:documentation xml:lang="en">Seedlings to forest owner</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimitustaimet</xs:documentation>
					<xs:documentation xml:lang="sv">Plantor to skogservice företag</xs:documentation>
					<xs:documentation xml:lang="en">Seedlings to forestry service company</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancingSustainableForestryType">
		<xs:sequence>
			<xs:element name="BlockIsFSFBlock" type="bdt:YesNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohko on kemeralohko</xs:documentation>
					<xs:documentation xml:lang="sv">Kemerastöd-block</xs:documentation>
					<xs:documentation xml:lang="en">FSF workingsite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FSFInformation" type="FSFInformationType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kemerapäätösten tiedot</xs:documentation>
					<xs:documentation xml:lang="sv">Information av Kemera beslut</xs:documentation>
					<xs:documentation xml:lang="en">Information of FSF decisions</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FSFInformationType">
		<xs:sequence>
			<xs:element name="FSFNumber" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kemeranumero</xs:documentation>
					<xs:documentation xml:lang="sv">Kemera stöd-numret</xs:documentation>
					<xs:documentation xml:lang="en">Financing Sustainable Forestry decision number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FSFValidity" type="FSFValidityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kemerapäätöksen voimassaoloaika</xs:documentation>
					<xs:documentation xml:lang="sv">Giltighet av Kemera stöd</xs:documentation>
					<xs:documentation xml:lang="en">Validity of FSF decision</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FSFValidityType">
		<xs:sequence>
			<xs:element name="StartDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Voimassaolon alku pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="bdt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Voimassaolon loppu pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreClearingInformationType">
		<xs:sequence>
			<xs:element name="ResponsibleOfPreClearing" type="wct:ResponsibleOfPreClearingType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuka vastaa ennakkoraivauksesta</xs:documentation>
					<xs:documentation xml:lang="sv">Vem är ansvarig av förhyggesröjning</xs:documentation>
					<xs:documentation xml:lang="en">Whos is responsible of preclearing of felling area</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreClearingExecutionTime" type="FSFValidityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkoraivauksen toteutusjankohta</xs:documentation>
					<xs:documentation xml:lang="sv">Timing av förhyggesröjning </xs:documentation>
					<xs:documentation xml:lang="en">Timing of preclearing of felling area</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultsOfAccessibilityAnalysisType">
		<xs:sequence>
			<xs:element name="ResultOfAccessibilityAnalysis"
				type="ResultOfAccessibilityAnalysisType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultOfAccessibilityAnalysisType">
		<xs:sequence>
			<xs:element name="Accessibility" type="bdt:AccessibilityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuukelpoisuusominaisuus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="bdt:Decimal1FractionDigitType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Korjuukelpoisuus ominaisuuden osuus % </xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorizationsToSendWsoInformationType">
		<xs:sequence>
			<xs:element name="AuthorizationToSendWsoInformation"
				type="AuthorizationToSendWsoInformation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorizationToSendWsoInformation">
		<xs:sequence>
			<xs:element name="ServiceNameOfAPI" type="bdt:ServiceNameofAPIType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rajapinnan nimi, johon tietoa lähetetään </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorizedToSend" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Saako rajapintaan lähettää</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialFeaturesType">
		<xs:sequence>
			<xs:element name="SpecialFeature" type="SpecialFeatureType" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon erityispiirre</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialFeatureType">
		<xs:sequence>
			<xs:group ref="sf:FeatureDataGroup"/>
			<xs:element ref="sf:FeatureInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lisätiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StoragesForestHaulageDistancesType">
		<xs:sequence>
			<xs:element name="StorageForestHaulageDistance" type="StorageForestHaulageDistanceType"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Yksittäisen varastopaikan metsäkuljetusmatka</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StorageForestHaulageDistanceType">
		<xs:sequence>
			<xs:group ref="StorageForestHaulageDistanceGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DeliveriesType">
		<xs:sequence>
			<xs:element name="Delivery" type="DeliveryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DeliveryType">
		<xs:sequence>
			<xs:element name="DeliveryUserId" type="bdt:String50Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajin yksilöivä tunniste. (Mihin toimituspuutavaralajiin PIN:nin mukaisesti hakattavat puut sisältyvät.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryInfo" type="bdt:String50Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajin koodi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryName" type="bdt:String50Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituspuutavaralajin nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:group name="TargetDensityGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon tavoitetiheydet</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TargetDensity" type="bdt:PositiveInteger5digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsänhoito- metsänparannuslohkon lohkon tavoitetiheys / tavoitemäärä </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeciduousTreeTargetDensityPercent" type="bdt:PercentType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lehtipuun prosenttiosuus tavoitetiheydestä</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="RealEstatesGroup">
		<xs:sequence>
			<xs:element name="RealEstate" type="bdt:String50Type">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiinteistötunnus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RealEstateName" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kiinteistön nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="StorageForestHaulageDistanceGroup">
		<xs:sequence>
			<xs:element name="StorageId" type="wct:ERPIdType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Varastopaikan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestHaulageDistance" type="bdt:PositiveInteger5digitsType"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäkuljetusmatka metreinä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="StandId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäkuljetusmatkaan liitetyn kuvion tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			-->
		</xs:sequence>
	</xs:group>
</xs:schema>
