MetsatietostandardiskeematV33.03/V33/WorkingSiteQualityControlCutting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V10.09:
	-Muutettu elementti DiameterMin pakollisesta vapaaehtoiseksi
	-Muutettu elementti DiameterMax pakollisesta vapaaehtoiseksi
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "StemDamages"
	-Koealatietoihin lisätty uusi vapaaehtoinen elementti "RootDamages"
	
	Muutokset skeemapakettiin V10.13:
	-Lisätty uusi kantatyyppimäärittely WorkingSiteQualityControlBaseCuttingType
	-Elementti ServiceBuyerId muutettu käyttämään viittausta (ref)
	-Elementti WorkingSiteId muutettu käyttämään viittausta (ref)
	-Elementti ResourceId muutettu käyttämään viittausta (ref)
	-Elementti QualityControlDate muutettu käyttämään viittausta (ref)
	-Elementti SamplePlotsSummaries muutettu käyttämään viittausta (ref)
	-Elementti SamplePlots muutettu käyttämään viittausta (ref)
	-Lisätty uusi tyyppimäärittely SelfMonitoringWorkingSiteQualityControlCuttingType, sisältää omavalvontatiedot
	
	Muutokset skeemapakettiin V10.14:
	-Korjattu omavalvontatyyppimäärittelyn (SelfMonitoringWorkingSiteQualityControlCuttingType) elementtien pakollisuudet
	
	Muutokset skeemapakettiin V11.07:
	-Muutettu elementti StemCountOtherTreeSpecies pakollisesta vapaaehtoiseksi
	-Lisätty uusi vapaaehtoinen elementti MeanHeightOtherTreeSpecies
	-Muutettu elementti BasalAreaOtherTreeSpecies pakollisesta vapaaehtoiseksi
	-Lisätty uusi vapaaehtoinen elementti MeanDiameterOtherTreeSpecies
	-Muutettu elementti StemCountPine pakollisesta vapaaehtoiseksi
	-Muutettu elementti StemCountSpruce pakollisesta vapaaehtoiseksi
	-Muutettu elementti StemCountHardWood pakollisesta vapaaehtoiseksi
	-Muutettu elementti StemCountSilverBirch pakollisesta vapaaehtoiseksi
	-Lisätty uudet vapaaehtoiset elementit MeanHeightPine, MeanHeightSpruce, MeanHeighHardWood, MeanHeightSilverBirch ja DominantHeight
	-Muutettu elementti BasalAreaPine pakollisesta vapaaehtoiseksi
	-Muutettu elementti BasalAreaSpruce pakollisesta vapaaehtoiseksi
	-Muutettu elementti BasalAreaHardWood pakollisesta vapaaehtoiseksi
	-Muutettu elementti BasalAreaSilverBirch pakollisesta vapaaehtoiseksi
	-Lisätty uudet vapaaehtoiset elementit MeanDiameterPine, MeanDiameterSpruce, MeanDiameterHardWood ja MeanDiameterSilverBirch
	-Lisätty uusi vapaaehtoinen elementti StandAvgDominantHeight
	
	Muutokset skeemapakettiin V13.03:
	-Lisätty uusi vapaaehtoinen elementti SamplePlotInfoText koealan vapaamuotoisen tekstin syöttämistä varten
	
	Muutokset skeemapakettiin V14.03:
	-Elementin "SamplePlotsSummaries" dokumentaatio päivitetty
	-Muutettu common-nimiavaruuden skeematiedostoviittaus Common_BasicDataType.xsd -> Common.xsd
	
	Muutokset skeemapakettiin V14.04:
	-Tyyppimäärittelyyn SamplePlotType lisätty uusi vapaaehtoinen attribuutti ”id”, tyypiltään IdStringNotEmptyType
	
	Muutokset skeemapakettiin V15.01:
	- StandId-elementin maksimipituus kasvatettu 20 merkkiin

    Muutokset skeemapakettiin V19.01:
    -Lisätty uudet vapaaehtoiset elementit CorrectHeightStumps ja TooHeightStumps tyyppimäärittelyltään bdt:PositiveInteger3digitsType
    -Lisätty uusi vapaaehtoinen elementti VehiclePathTooDeep, tyyppimäärittelyltään bdt:PositiveInteger2digitsType
    -Lisätty uudet vapaaehtoiset elementit StandStemDamagesPercentage, StandRootDamagesPercentage, StandCorrectHeightStumpsPercentage,  
     StandTooHeightStumpsPercentage ja StandVehiclePathTooDeepPercentage, tyyppimäärittelyltään bdt:PercentWithFraction1Type
    -Lisätty uudet vapaaehtoiset elementit StandAvgVehiclePathDistance ja StandVehiclePathWidth, tyyppimäärittelyltään bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType

    Muutokset skeemapakettiin V27.01:
    -Lisätty uudet vapaaehtoiset elementit UserId ja TaxNumber, tyyppimäärittelyiltään bdt:String20Type

	Muutokset skeemapakettiin V33.02:
	- Lisätty wct-nimiavaruus skeematiedostoviittauksella WoodForceCommonTypes.xsd
	- Päivitetty elementtimäärittely "WorkingSiteId": uusi tyyppi ERPIdType
	- Päivitetty määrittelyn "SamplePlotType" elementin "TaxNumber" tyypiksi TaxNumberType

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
           xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
           xmlns:gdt="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
           xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
           targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteQualityControlCutting"
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified" 
           version="V33.02">
	
	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common/geometricDataTypes"
		schemaLocation="Common_GeometricDataType.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		schemaLocation="WoodForceCommonTypes.xsd"/>
	
	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteQualityControlCutting" type="WorkingSiteQualityControlCuttingType"/>
	<xs:element name="ServiceBuyerId" type="bdt:String20Type"/>
	<xs:element name="WorkingSiteId" type="wct:ERPIdType"/>
	<xs:element name="ResourceId" type="bdt:String20Type"/>
	<xs:element name="QualityControlDate" type="bdt:DateType"/>
	<xs:element name="SamplePlotsSummaries" type="SamplePlotSummariesType"/>
	<xs:element name="SamplePlots" type="SamplePlotsType"/>
	
	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteQualityControlBaseCuttingType">
		<xs:sequence>
			<xs:element ref="ServiceBuyerId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="QualityControlDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kontrolli pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlotsSummaries" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WorkingSiteQualityControlCuttingType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlBaseCuttingType">
				<xs:sequence>
					<xs:element ref="ServiceBuyerId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Urakanantajan tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="WorkingSiteId" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Lohkon tunniste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="ResourceId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Resurssin ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="QualityControlDate" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Kontrolli pvm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotsSummaries" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SelfMonitoringWorkingSiteQualityControlCuttingType">
		<xs:complexContent>
			<xs:restriction base="WorkingSiteQualityControlBaseCuttingType">
				<xs:sequence>
					<xs:element ref="QualityControlDate" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Kontrolli pvm</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlotsSummaries" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="SamplePlots" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="fi">Koealojen tiedot</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotsType">
		<xs:sequence>
			<xs:element name="SamplePlot" type="SamplePlotType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OtherTreeSpeciesType">
		<xs:sequence>
			<xs:element name="OtherTreeSpecies" type="OtherTreeSpeciesDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OtherTreeSpeciesDataType">
		<xs:sequence>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muu puulaji (pl. mä, ku, rko, hko)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountOtherTreeSpecies" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku muu puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightOtherTreeSpecies" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus muu puulaji (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaOtherTreeSpecies" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala muu puulaji</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterOtherTreeSpecies" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta muu puulaji (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotType">
		<xs:sequence>
			<xs:element name="StandId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotNumber" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaus pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurer" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaaja</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="UserId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan yksilöivä järjestelmän tietokanta id</xs:documentation>
				</xs:annotation>
			</xs:element>			
		    <xs:element name="TaxNumber" type="wct:TaxNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan mittaajan veronumero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geometry" type="gdt:PointGeometryType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan sijainti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGPSlocation" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko sijainti mitattu GPS:llä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="bdt:ThinningDistrictType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Alue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="bdt:Decimal2FractionDigitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan säde (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManipulationMethod" type="bdt:WorkCodeQualifierType2" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittelytapa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForestType" type="bdt:FertilityClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsätyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountPine" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku mänty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSpruce" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku kuusi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountHardWood" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku hieskoivu + muu lehtipuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSilverBirch" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku rauduskoivu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightPine" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus mänty (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightSpruce" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus kuusi (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightHardWood" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus hieskoivu + muu lehtipuu (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightSilverBirch" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus rauduskoivu (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeight" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DominantHeight" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valtapituus (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaPine" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala mänty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaSpruce" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala kuusi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaHardWood" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala hieskoivu + muu lehtipuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaSilverBirch" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala rauduskoivu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storey" type="bdt:StoreyType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jakso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMax" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Läpimitta 2. suurin (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiameterMin" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Läpimitta 2. pienin (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterPine" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta mänty (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterSpruce" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta kuusi (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterHardWood" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta hieskoivu + muu lehtipuu (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterSilverBirch" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta rauduskoivu (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameter" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountTarget" type="bdt:PositiveInteger2digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoitepuusto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathDistance" type="bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajouraväli (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathWidth" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ajouraleveys (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThinningTooExcessive" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko hakattu liikaa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThinningTooExcessiveCount" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakattu liikaa määrä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClearCutting" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko avohakkuu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherTreeSpecies" type="OtherTreeSpeciesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset mittaustiedot (0..n)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemDamages" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkovauriot, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RootDamages" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Juurivauriot, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotInfoText" type="bdt:String1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealan vapaamuotoista tekstiä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrectHeightStumps" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Oikean korkuisia kantoja, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TooHeightStumps" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kannonkorkeus liian korkea, kpl</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehiclePathTooDeep" type="bdt:PositiveInteger2digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Maastovauriot, m</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="bdt:IdStringNotEmptyType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Koealan id</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Sample plot id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummariesType">
		<xs:sequence>
			<xs:element name="SamplePlotSummary" type="SamplePlotSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puuston summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotSummaryType">
		<xs:sequence>
			<xs:element name="StandId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Lohkon kuvion numero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SamplePlotMeasurementSummary" type="SamplePlotMeasurementSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Koealojen summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SamplePlotMeasurementSummaryType">
		<xs:sequence>
			<xs:element name="MeasurerType" type="bdt:MeasurerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Mittaajatyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgDiameterSummary" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">puuston keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgHeightSummary" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgDominantHeight" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valtapituuden keskiarvo (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgAgeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keski-ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgStemCountSummary" type="bdt:PositiveInteger5digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandBasalAreaSummary" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala m2/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandVolumeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tilavuus m3/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandStemDamagesPercentage" type="bdt:PercentWithFraction1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion runkovaurio %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandRootDamagesPercentage" type="bdt:PercentWithFraction1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion juuristovaurio  %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandCorrectHeightStumpsPercentage" type="bdt:PercentWithFraction1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion oikean korkuisia kantoja %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandTooHeightStumpsPercentage" type="bdt:PercentWithFraction1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion liian korkeita  kantoja %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandVehiclePathTooDeepPercentage" type="bdt:PercentWithFraction1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion maastovaurio - %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandAvgVehiclePathDistance" type="bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion ajouravälin keskiarvo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandVehiclePathWidth" type="bdt:PositiveDecimalMax4IntegralPartMax2FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuvion ajouraleveyden keskiarvo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSummaries" type="TreeSummariesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikohtaiset summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeSummariesType">
		<xs:sequence>
			<xs:element name="TreeSummary" type="TreeSummaryType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puuston summatiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeSummaryType">
		<xs:sequence>
			<xs:element name="Storey" type="bdt:StoreyType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jakso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TreeSpecies" type="bdt:TreeSpeciesType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muu puulaji (pl. mä, ku, rko, hko)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keski-ikä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StemCountSummary" type="bdt:PositiveInteger4digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Runkoluku/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BasalAreaSummary" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pohjapinta-ala m2/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanHeightSummary" type="bdt:PositiveDecimalMax2IntegralPartMax1FractionalPartType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskipituus (m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeanDiameterSummary" type="bdt:PositiveInteger3digitsType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Keskiläpimitta (mm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolumeSummary" type="bdt:PositiveInteger3digitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tilavuus m3/ha</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
