MetsatietostandardiskeematV33.03/V33/WorkingSiteFinalAuditDynamic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Lisätty skeemapakettiin V31.01:
	- Sanoman pohjana käytetty viimeksi skeempaketissa V17.03 muokattua WorkingSiteFinalAuditHarvesting.xsd tiedostoa
	
	Muutokset skeemapakettiin V33.02:
	- Päivitetty elementtimäärittely "QuestionId": uusi tyyppi ERPIdType

    Muutokset skeemapakettiin V33.03:
    - Päivitetty tyyppimäärittely WorkingSiteFinalAuditDynamicType: 1. xs:restriction > xs:extension, 2. Uusi elementti FinalAuditSpareTrees
    - Lisätty tyyppimäärittely FinalAuditSpareTreesByCategoryType
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDynamic"
		   xmlns:bdt="http://standardit.tapio.fi/schemas/forestData/common"
		   xmlns:wct="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes"
		   targetNamespace="http://standardit.tapio.fi/schemas/forestData/WorkingSiteFinalAuditDynamic" 
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified"
		   version="V33.03">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/WoodForceCommonTypes" schemaLocation="WoodForceCommonTypes.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="WorkingSiteFinalAuditDynamic" type="WorkingSiteFinalAuditDynamicType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Lohkon / lohkon kuvion loppuarviointi/laadunseuranta</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attributes" type="AttributesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Auditoinnin kohteen tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attribute" type="AttributeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Auditoinnin kohde</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AttributeName" type="bdt:String100Type">
		<xs:annotation>
			<xs:documentation>Attribuutin arvo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AttributeValue" type="bdt:String100Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Attribuutin nimi</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Audition" type="AuditionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuditionResources" type="AuditionResourcesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Resurssien tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AuditionResource" type="AuditionResourceType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Resurssien tiedot</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Questions" type="AuditsListType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvioitavat asiat (uusi rakenne)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Question" type="AuditQuestionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Arvion kysymys</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionId" type="wct:ERPIdType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kysymyksen id, tämä pitää olla myös metsäyhtiössä tiedossa</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionAsText" type="bdt:String200Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kysymys tekstinä</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionAnswer" type="bdt:String50Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vastaus kysymykseen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionAnswerText" type="bdt:String50Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vastaus kysymykseen tekstinä</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="QuestionAnswerAdditionalText" type="bdt:String200Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Jos vastausta on täydennetty lisätekstillä.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset / Type definitions -->
	<xs:complexType name="WorkingSiteFinalAuditBaseDynamicType">
		<xs:sequence>
			<xs:element ref="Attributes" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Auditoinnin kohteen tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Audition" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioinnin tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AuditionResources" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssien tiedot</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Questions" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Dynaamiset kysymykset</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkingSiteFinalAuditDynamicType">
		<xs:complexContent>
			<xs:extension base="WorkingSiteFinalAuditBaseDynamicType">
				<xs:sequence>
					<xs:element name="FinalAuditSpareTrees" type="FinalAuditSpareTreesByCategoryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Arvioidut säästöpuut yhteensä (0..n)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributesType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Attribute" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitava kohde</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:sequence>
			<xs:element name="Name" type="bdt:String100Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Attribuutin arvo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="bdt:String100Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Attribuutin nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditionType">
		<xs:sequence>
			<xs:element name="FinalAuditType" type="bdt:FinalAuditTypeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerType" type="bdt:FinalAuditerTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän tyyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditer" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin tekijän nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditDate" type="bdt:TimeStampType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Loppuarvioinnin pvm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditRequired" type="bdt:YesNoType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Onko loppuarviointi vaadittu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditerId" type="bdt:String20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Arvioitsijan Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditIdentifier" type="bdt:String50Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäyhtiön antama loppuarvioinnin tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditIdentifierVersion" type="bdt:String10Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Versio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalAuditName" type="bdt:String100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Metsäyhtiön antama loppuarvioinnin nimi</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditionResourceType">
		<xs:sequence>
			<xs:element name="ResourceType" type="bdt:ResourceTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Resurssityyppi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceId" type="bdt:String20Type" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssin tunniste (ResourceId)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditionResourcesType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="AuditionResource" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Resurssit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditQuestionType">
		<xs:sequence>
			<xs:element ref="QuestionId">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kysymyksen tunniste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionAsText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kysymys tekstinä</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="QuestionAnswer">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vastaus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionAnswerAsText" type="bdt:String50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vastaus kysymykseen tekstinä. Tämä lähinnä silloin, kun vastaus on enumeraatio (Yes/No) tai luokkaa kuvaava.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionAnswerAdditionalText" type="bdt:String200Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jos vastausta on täydennetty lisätekstillä.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditsListType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Question" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kysymykset</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinalAuditSpareTreesByCategoryType">
		<xs:sequence>
			<xs:element name="SpareTrees" type="wct:FinalAuditSpareTreesType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
