MetsatietostandardiskeematV33.03/V33/WorkingSiteTrade_CallForOfferWorkingSite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Tarjouspyynnön kohteen / työmaan elementit ja tyypit.
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.06:
	-Lisätty uusi tyyppimäärittely SceneryWorkPermissionType jonka tietosisältönä maisematyöluvan tiedot
	-Lisätty uusi vapaaehtoinen elementti SceneryWorkPermission, tyypiltään SceneryWorkPermissionType
	-Lisätty uusi elementti SceneryWorkPermissionNeeded, tyypiltään SceneryWorkPermissionNeededType. Tämä elementti on pakollinen, mikäli elementti SceneryWorkPermission esiintyy sanomassa.
	-Lisätty uusi vapaaehtoinen elementti SceneryWorkPermissionAcceptance, tyypiltään co:DateType
	-Lisätty uusi vapaaehtoinen elementti CuttingPlanner, tyypiltään wtco:CuttingPlannerType
	-Lisätty uusi complexType-määrittely InformedActorsType. Lista.
	-Lisätty uusi vapaaehtoinen elementti InformedActors (korjuun aloituksesta informoitavat toimijat), tyypiltään InformedActorsType
	-Lisätty uusi elementti InformedActor, tyypiltään ci:ContactInformationType
	
	Muutokset skeemapakettiin V13.03
	-Piilotettu elementit SceneryWorkPermission, CuttingPlanner ja InformedActors
	
	Muutokset skeemapakettiin V16.01
	-Lisätty uusi elementti WorkingSitePlan
	-Poistettu CuttingPlanner elementti tarpeettomana
	
	Muutokset skeemapakettiin V18.02
	-Muutettu CallForOfferWorkingSiteSilvicultureInfoType:n elementti SilviculturalOperations vapaaehtoiseksi
	
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite"
	xmlns="http://standardit.tapio.fi/schemas/workingsitetrade/callforofferworkingsite"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:wtco="http://standardit.tapio.fi/schemas/workingsitetrade/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:wsst="http://standardit.tapio.fi/schemas/workingsitetrade/stand"
	xmlns:pr="http://standardit.tapio.fi/schemas/workingsitetrade/product"
	elementFormDefault="qualified" attributeFormDefault="qualified" version="V24.03">

	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/stand"
		schemaLocation="WorkingSiteTrade_Stand.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation"
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/common"
		schemaLocation="WorkingSiteTrade_Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/workingsitetrade/product"
		schemaLocation="WorkingSiteTrade_Product.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="CFOWorkingSite" type="WorkingSiteType"/>
	<xs:element name="IncludeInOffer" type="IncludeInOfferType"/>
	<xs:element name="Sellers" type="wtco:SellersType"/>
	<xs:element name="VATInfo" type="wtco:VATInfoType"/>
	<xs:element name="VATStatus" type="wtco:VATStatusType"/>
	<xs:element name="VATRegistrationDate" type="wtco:VATRegistrationDateType"/>
	<xs:element name="CertificationSystems" type="wtco:CertificationSystemsType"/>
	<xs:element name="CertificationSystem" type="wtco:CertificationSystemType"/>
	<xs:element name="RealEstate" type="wtco:RealEstateType"/>
	<xs:element name="WorkingSiteGeometries" type="wtco:WorkingSiteGeometriesType"/>
	<xs:element name="WorkingSiteName" type="wtco:WorkingSiteNameType"/>
	<xs:element name="WorkingSiteText" type="WorkingSiteTextType"/>
	<xs:element name="RoadUsingRight" type="wtco:RoadUsingRightType"/>
	<xs:element name="CallForOfferWorkingSiteWoodTradeInfo"
		type="wtco:CallForOfferWorkingSiteWoodTradeInfoType"/>
	<xs:element name="CallForOfferWorkingSiteSilvicultureInfo"
		type="CallForOfferWorkingSiteSilvicultureInfoType"/>
	<xs:element name="SellerRepresentativePerson" type="wtco:SellerRepresentativePersonType"/>
	<xs:element name="SilviculturalOperations" type="SilviculturalOperationsType"/>
	<xs:element name="SilviculturalOperation" type="SilviculturalOperationType"/>
	<xs:element name="Products" type="pr:ProductsType"/>
	<xs:element name="RealEstates" type="RealEstatesType"/>
	<!--	<xs:element name="SceneryWorkPermission" type="SceneryWorkPermissionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maisematyöluvan tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Scenery work permission info</xs:documentation>
		</xs:annotation>
	</xs:element>-->
	<xs:element name="SceneryWorkPermissionNeeded" type="co:SceneryWorkPermissionNeededType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maisematyöluvan tarve</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Scenery work permission need</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SceneryWorkPermissionAcceptance" type="co:DateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maisematyöluvan hyväksymisajankohta</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Scenery work permission acceptance date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WorkingSitePlan" type="wtco:WorkingSitePlanType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Työkohteen suunnitelman tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Working site plan informations</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--	<xs:element name="InformedActors" type="InformedActorsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuun aloittamisesta informoitavat toimijat</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>-->
	<xs:element name="InformedActor" type="ci:ContactInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Korjuun aloittamisesta informoitava toimija</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>

	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="WorkingSiteType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen työkohteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single working site data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:TimeStamp">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteName">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="IncludeInOffer">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SellerRepresentativePerson"/>
			<xs:element ref="Sellers">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="VATInfo"/>
			<xs:choice>
				<xs:element ref="RealEstate">
					<xs:annotation>
						<xs:documentation xml:lang="fi"/>
					</xs:annotation>
				</xs:element>
				<xs:element ref="RealEstates"/>
			</xs:choice>
			<xs:element ref="WorkingSiteText" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="RoadUsingRight" minOccurs="0"/>
			<!--<xs:element ref="SceneryWorkPermission" minOccurs="0"/>-->
			<xs:element ref="WorkingSitePlan" minOccurs="0"/>
			<!--<xs:element ref="InformedActors" minOccurs="0"/>-->
			<xs:element ref="CallForOfferWorkingSiteWoodTradeInfo" minOccurs="0"/>
			<xs:element ref="wsst:Stands" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon kuvioiden tiedot. Hankinta- ja käteiskaupoissa ei sisällytetä mukaan.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="wtco:CertificationSystems" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon sertifiointitieto.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="WorkingSiteGeometries" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Leimikon sijantialueen paikkatieto. Hakkuuseen ja lähikuljetukseen vaikuttavat kohteet. Pistemäisiä, viivamaisia ja aluemaisia kohteita.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Points, lines and polygons that have some mening for felling and forwarding. Eg. diversity objects.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="CallForOfferWorkingSiteSilvicultureInfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="parentId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Viiteavain pääsanoman avaintietoon (tarjouspyynnön tunniste).</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Surrogate reference key for call for offer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarjouspyynnön työmaa yksilöidään tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="en">Working site of call for offer can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="IncludeInOfferType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kertoo tuleeko tämä leimikko sisällyttää tarjoukseen (0 = ei pakollinen, 1 = sisällytettävä)</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Indicates whether this stand must be included in offer or not (0= not necessary, 1= must be)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>

	<xs:simpleType name="WorkingSiteTextType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Myyjän työmaakohtainen ostajalle toimitettava teksti (huomautusteksti).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CallForOfferWorkingSiteSilvicultureInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen metsänhoitotyön tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single treatment data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SilviculturalOperations" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Products" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SilviculturalOperationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyö.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Metsänhoitotyön yksilöivä id.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Silviculture ID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="SilviculturalOperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotöiden luettelo.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SilviculturalOperation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealEstatesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kiinteistöjen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Real estates data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RealEstate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SceneryWorkPermissionType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Maisematyöluvan tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Scenery work permission info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SceneryWorkPermissionNeeded" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="SceneryWorkPermissionAcceptance" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InformedActorsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="InformedActor" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
