schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion toimenpiteiden  elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.
	
	Muutokset skeemapakettiin V10.04:
	-Lisätty uusi vapaaehtoinen elementti AssortmentName, tyypiltään co:AssortmentNameType
	-Lisätty uusi vapaaehtoinen elementti AssortmentCode, tyypiltään co:AssortmentCodeType
	
	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.

    Muutokset skeemapakettiin V11.08:
    -Lisätty uusi vapaaehtoinen elementti DifficultyClass, tyypiltään DifficultyClassType. Tietosisältö toimenpiteen vaikeusluokka
    -Lisätty uusi vapaaehtoinen elementti OperationStatus, tietosisältönä toimenpiteen tila
    
    Muutokset skeemapakettiin V15.01:
    -Lisätty SpecificationCodeTypeen uusi jäsen, OperationNatureManagementSpecifierType
    
    Muutokset skeemapakettiin V16.01:
    -Lisätty SpecificationType:en uusi vapaaehtoinen elementti SpecificationText
    
    Muutokset skeemapakettiin V17.02:
    -Täydennetty dokumentaatioita

	Muutokset skeemapakettiin V18.02:
	-Lisätty ProposalDataType:en uusi vaihtoehtoinen elementti ProposalExactDate
	-Lisätty uudet elementit ProposalExactDate ja ProposalDate sekä niille tyyppimäärittelyt ProposalExactDateType ja ProposalDateType
	
	Muutokset skeemapakettiin V18.05:
	-Tyyppimäärittelyyn OperationDefType lisätty uudet vapaaehtoiset attribuutit infoProviderRole ja infoProviderOrganizationName
	-Lisätty uusi vapaaehtoinen elementti Status, tyypiltään co:OperationStatusType tietosisällöltään toimenpiteen tilanne.
	-Lisätty uusi vapaaehtoinen elementti OperativeData. Tietosisältönä toimenpiteen operatiivisia tunnuksia. 
	-Lisätty uudet vapaaehtoiset elementit GrowingTreeSpecies, MaterialVolume, MaterialUnit, TargetStemCount, TargetBasalArea, TargetAmount ja TargetAmountUnit
	-Lisätty tyyppimäärittely ExtendedWideUnitType joka koostuu osakoodistoista co:WideUnitType ja co:UnitPerHectareType
	
	Muutokset skeemapakettiin V18.06:
	-Muutoksia elementtien nimeämisissä MaterialVolume->Materialamount ja MaterialUnit-> MaterialAmountUnit
	-Vaihdettu tyyppimäärittely ProposalDateTypen sisällöksi co:DateType sekä sitä tarkentava attribuutti type
	-Korvattu elementti ProposalExactDate uudellen määritellyllä ProposalDatella
	
	Muutokset skeemapakettiin V20.01:
	-Lisätty uusi vapaahetoinen elementti OperationTreeSpeciesSummary tyyppimäärittelyltään ts:TreeSpeciesDataType
	-Lisätty tyyppimäärittelyyn OperativeDataType uusi vapaaehtoinen elementti OperationTreeSpeciesSummary 
	
	Muutokset skeemapaketiin V24.02: 
	-Vaihdettu elementin OperationTreeSpeciesSummary tyyppimäärittelyksi OperationTreeSpeciesSummaryType
	-Lisätty uusityyppimäärittely OperationTreeSpeciesSummaryType
	
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/operation"
	xmlns="http://standardit.tapio.fi/schemas/forestData/operation"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:ts="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2010/05/14" elementFormDefault="qualified"
	version="V24.02">

	<!-- Imports / Includes -->
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04"
		schemaLocation="JHS170_20090304.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common"
		schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation" 
		schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStand"
		schemaLocation="TreeStand.xsd"/>

	<!-- Elementtimääritykset / Element definitions -->
	<xs:element name="Operations" type="OperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsikkökuvion toimenpiteiden tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="Operation" type="OperationDefType"/>
	<xs:element name="Identifiers" type="IdentifiersType"/>
	<xs:element name="Identifier" type="co:IdentifierType"/>
	<xs:element name="OperationType" type="OperationTypeType"/>
	<xs:element name="ProposalData" type="ProposalDataType"/>
	<xs:element name="ProposalType" type="ProposalTypeType"/>
	<xs:element name="PlanningYear" type="PlanningYearType"/>
	<xs:element name="OperationUrgency" type="OperationUrgencyType"/>
	<xs:element name="MinProposalYear" type="MinProposalYearType"/>
	<xs:element name="MaxProposalYear" type="MaxProposalYearType"/>
	<xs:element name="OriginalProposalYear" type="OriginalProposalYearType"/>
	<xs:element name="ProposalYear" type="ProposalYearType"/>
	<xs:element name="CompletionData" type="ExtendedCompletionDataType"/>
	<xs:element name="CompletionDate" type="CompletionDateType"/>
	<xs:element name="CompletionYear" type="co:YearType"/>
	<xs:element name="OperationInfo" type="OperationInfoType"/>
	<xs:element name="Specifications" type="SpecificationsType"/>
	<xs:element name="Specification" type="SpecificationType"/>
	<xs:element name="SpecificationCode" type="SpecificationCodeType"/>
	<xs:element name="Cutting" type="CuttingType"/>
	<xs:element name="CuttingVolume" type="CuttingVolumeType"/>
	<xs:element name="Assortments" type="AssortmentsType"/>
	<xs:element name="Assortment" type="AssortmentType"/>
	<xs:element name="TreeSpecies" type="TreeSpeciesType"/>
	<xs:element name="StemType" type="StemTypeType"/>
	<xs:element name="AssortmentPercent" type="AssortmentPercentType"/>
	<xs:element name="AssortmentVolume" type="AssortmentVolumeType"/>
	<xs:element name="Silviculture" type="SilvicultureType"/>
	<xs:element name="CuttingRelated" type="CuttingRelatedType"/>
	<xs:element name="PlannedOperationChains" type="PlannedOperationChainsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsikkökuvion suunnitellut vaihtoehtoiset toimenpideketjut.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="PlannedOperationChain" type="PlannedOperationChainType"/>
	<xs:element name="AlternativeIdentifier" type="AlternativeIdentifierType"/>
	<xs:element name="AlternativeName" type="AlternativeNameType"/>
	<xs:element name="ProposalArea" type="ProposalAreaType"/>
	<xs:element name="ProposalAreaPercent" type="ProposalAreaPercentType"/>
	<xs:element name="CuttingIncome" type="CuttingIncomeType"/>
	<xs:element name="Cost" type="CostType"/>
	<xs:element name="UsedMachine" type="UsedMachineType"/>
	<xs:element name="RegenerationData" type="RegenerationDataType"/>
	<xs:element name="PreventionFungusOfTheGenusData" type="PreventionFungusOfTheGenusDataType"/>
	<xs:element name="CompletionActors" type="CompletionActorsType"/>
	<xs:element name="MachineCode" type="co:MachineCodeType"/>
	<xs:element name="MachineDescription" type="co:String500Type"/>
	<xs:element name="MachineAccessoryCode" type="co:MachineAccessoryCodeType"/>
	<xs:element name="MachineAccessoryDescription" type="co:String500Type"/>
	<xs:element name="SeedlingLotIdentifier" type="co:String100Type"/>
	<xs:element name="SeedlingConditionAndQuality" type="SeedlingConditionAndQualityType"/>
	<xs:element name="SeedlingConditionAndQualityDescription" type="co:String1000Type"/>
	<xs:element name="AmountSeedlingsToPlant" type="co:PositiveInteger5digitsType"/>
	<xs:element name="DateSeedlingsExitFromTreeNursery" type="co:DateType"/>
	<xs:element name="DateSeedlingsToWorkingSite" type="co:DateType"/>
	<xs:element name="DateSeedlingsPlanted" type="co:DateType"/>
	<xs:element name="PreventionCompleted" type="co:YesNoType"/>
	<xs:element name="PreventionSubstance" type="co:PreventionSubstanceType"/>
	<xs:element name="PreventionSubstanceProductName" type="co:String200Type"/>
	<xs:element name="CompletionActor" type="CompletionActorType"/>
	<xs:element name="ActorId" type="co:IdStringType"/>
	<xs:element name="AssortmentCode" type="co:AssortmentCodeType"/>
	<xs:element name="AssortmentName" type="co:AssortmentNameType"/>
	<xs:element name="OperationStatus" type="co:ControlDataOperationStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Will be deprecated next version.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DifficultyClass" type="co:DifficultyClassType"/>
	<xs:element name="SpecificationText" type="co:String2000Type"/>
	<xs:element name="ProposalDate" type="ProposalDateType"/>
	<xs:element name="Status" type="co:OperationStatusType"/>
	<xs:element name="OperativeData" type="OperativeDataType"/>
	<xs:element name="GrowingTreeSpecies" type="co:TreeSpeciesType"/>
	<xs:element name="MaterialAmount" type="co:Decimal2FractionDigitsType"/>
	<xs:element name="MaterialAmountUnit" type="co:MaterialUnitType"/>
	<xs:element name="TargetStemCount" type="co:StemCountType"/>
	<xs:element name="TargetBasalArea" type="co:BasalAreaType"/>
	<xs:element name="TargetAmount" type="AmountType"/>
	<xs:element name="TargetAmountUnit" type="ExtendedWideUnitType"/>
	<xs:element name="OperationTreeSpeciesSummary" type="OperationTreeSpeciesSummaryType"/>
	<xs:element name="OperativeTreeSpeciesData" type="ts:TreeSpeciesDataType"/>


	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:complexType name="OperationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion toimenpiteet: hakkuut ja metsänhoitotyöt. Toimenpiteen alla esitetään yhteiset tiedot. Toimenpiteen päälajin (hakkuu tai metsänhoito) perusteella tarkemmat tiedot ovat hakkuu- tai metsanhoito-otsikon alla.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation of stand: cutting and Silvicultural operation. Operation data is common data. Operation mainType determine which structure (Cutting or Silviculture) is used to determine main type specific data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Operation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OperationDefType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäisen toimenpiteen tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single operation data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="Identifiers" minOccurs="0"/>
			<xs:element ref="OperationType" minOccurs="1"/>
			<xs:element ref="ProposalData" minOccurs="0"/>
			<xs:element ref="CompletionData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element ref="DifficultyClass" minOccurs="0"/>
			<xs:element ref="OperativeData" minOccurs="0"/>
			<xs:element ref="OperationInfo" minOccurs="0"/>
			<xs:element ref="co:DataSource" minOccurs="0"/>
			<xs:element ref="Specifications" minOccurs="0" maxOccurs="1"/>
			<xs:choice>
				<xs:element ref="Cutting"/>
				<xs:element ref="Silviculture"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">MI</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Operation can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mainType" type="MainTypeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Toimenpiteen päälaji: hakkuu tai metsänhoito.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Operation main type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoProviderRole" type="co:InfoProviderRoleType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tiedon tuottajan luokittelu</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Info provider role</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoProviderOrganizationName" type="ci:OrganizationNameType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tiedon tuottajaorganisaation nimi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Info provider organization name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="IdentifiersType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen tunnisteet.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Identifiers of an operation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Identifier" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MainTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen päälaji: hakkuu tai metsänhoito.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation main type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:MainTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="OperationTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen laji: hakkuu- tai työlaji.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation type: accurate type of cutting or silvicultural operation.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="CuttingTypeType SilvicultureTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="CuttingTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen hakkuu hakkuutapa.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CuttingTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="SilvicultureTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen metsänhoito työlajit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Silvicultural operation type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SilvicultureTypeType"/>
	</xs:simpleType>

	<xs:complexType name="ProposalDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Ehdotuksen / suunnitelman tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Plan information for "future"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ProposalType"/>
			<xs:choice>
				<xs:group ref="PlanningYearAndOperationUrgencyGroup"/>
				<xs:group ref="TimeBetweenProposalYearsGroup"/>
				<xs:group ref="ProposalAndOriginalYearGroup"/>
				<xs:element ref="ProposalDate">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valittavalla tarkkuudella ilmoitettu ajankohta jolle toimenpidettä ehdotetaan</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Selected exactness proposal time for operation</xs:documentation>
				</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:group ref="ProposalAreaGroup" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProposalDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi"></xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="co:DateType">
				<xs:attribute name="type" type="co:DatePrecipionType" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Päivämäärästä tulkittava tarkkuus</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>	
	
	<xs:group name="ProposalAreaGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi"/>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ProposalArea" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ProposalAreaPercent" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:group>

	<xs:simpleType name="ProposalAreaType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen ehdotettu toteutuspinta-ala.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:Decimal4And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="ProposalAreaPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen ehdotettu toteutuspinta-ala prosenttina kuvion pinta-alasta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:PercentWithFraction1Type"/>
	</xs:simpleType>

	<xs:simpleType name="ProposalTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpide-ehdotuksen tyyppi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Proposal type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:ProposalTypeType"/>
	</xs:simpleType>

	<xs:group name="PlanningYearAndOperationUrgencyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitteluvuosi ja siihen viittaava kiireellisyysluokitus</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Planning year and classifier for urgency of operation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PlanningYear"/>
			<xs:element ref="OperationUrgency"/>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="PlanningYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vuosi, josta toimenpiteen kiireellisyys määrittyy, esim. toimenpiteen suunnitteluvuosi (vuosi, jolloin toimenpide on suunniteltu).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Year which define operation urgency parameter e.g. planning year of operation (year when operation is planned).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"/>
	</xs:simpleType>

	<xs:simpleType name="OperationUrgencyType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen kiireellisyys.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Classifier for operation urgency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:OperationUrgencyType"/>
	</xs:simpleType>

	<xs:group name="TimeBetweenProposalYearsGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vuosiväli, jolle toimenpidettä ehdotetaan.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Time between minimum and maximum proposal years.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="MinProposalYear"/>
			<xs:element ref="MaxProposalYear"/>
		</xs:sequence>
	</xs:group>

	<xs:group name="ProposalAndOriginalYearGroup">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Vuosi ja alkuperäinen vuosi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Year and original year.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ProposalYear" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="OriginalProposalYear" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="MinProposalYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen ehdotusvuoden minimiarvo (aikaisintaan).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Minimum proposal year of operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"/>
	</xs:simpleType>

	<xs:simpleType name="MaxProposalYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen ehdotusvuoden maksimiarvo (viimeistään).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Maximum proposal year of operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"/>
	</xs:simpleType>

	<xs:simpleType name="OriginalProposalYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen alkuperäinen ehdotusvuosi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Original proposal year of operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"/>
	</xs:simpleType>

	<xs:simpleType name="ProposalYearType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen ehdotusvuosi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Proposal year of operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YearType"/>
	</xs:simpleType>

	<xs:complexType name="CompletionDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toteutustiedot. Mikäli tämä tieto esitetään on toimenpide toteutettu. Puuttuva tieto ilmaisee, että kyse on suunnitellusta toimenpiteestä. Suppea toteutus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">If this section is exists, operation is complete, if not exists operation is planned.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="CompletionDate" minOccurs="1"/>
			<xs:element ref="CompletionYear" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ExtendedCompletionDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toteutustiedot. Mikäli tämä tieto esitetään on toimenpide toteutettu. Puuttuva tieto ilmaisee, että kyse on suunnitellusta toimenpiteestä. Laajennettu toteutus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">If this section is exists, operation is complete, if not exists operation is planned.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OperationStatus" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="CompletionDate" minOccurs="1"/>
				<xs:element ref="CompletionYear" minOccurs="1"/>
			</xs:choice>
			<!-- <xs:element ref="UsedMachine" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetyn koneen / laitteen tiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Information about the used machine / device</xs:documentation>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element ref="RegenerationData" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Uudistamistiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element ref="PreventionFungusOfTheGenusData" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Juurikäävän torjuntatiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
			<!-- <xs:element ref="CompletionActors" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimenpiteen toteuttajat</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element> -->
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CompletionDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen toteutusajankohta.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Date when operation is completed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:DateType"/>
	</xs:simpleType>

	<xs:simpleType name="OperationInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteeseen liittyvä huomautusteksti maksimissaan 2000 merkkiä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Free text for e.g. notices, max length 2000 chars</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SpecificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen tarkenteet: lisämääreet ja hakkuun ohjaus.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation specifications.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Specification" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SpecificationType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäinen tarkenne (lisämääre tai hakkuun ohjaus).</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single operation specification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="SpecificationCode"/>
			<xs:element ref="SpecificationText" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tarkenne voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Operation specification can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="CuttingDirectingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun ohjaustiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting directing classifiers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CuttingDirectingType"/>
	</xs:simpleType>

	<xs:simpleType name="CuttingExtraQualifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun lisämääreet.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Extra qualifiers of cutting.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CuttingExtraQualifierType"/>
	</xs:simpleType>

	<xs:simpleType name="SilvicultureExtraQualifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyön lisämääre</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Extra qualifiers of silvicultural operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:SilvicultureExtraQualifierType"/>
	</xs:simpleType>

	<xs:simpleType name="CommonOperationExtraQualifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yleiset toimenpiteen lisämääreet.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Common extra qualifiers of operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:CommonOperationExtraQualifierType"/>
	</xs:simpleType>

	<xs:simpleType name="OperationNatureManagementSpecifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen luonnonhoidon tarkenne.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation naturemanagement specifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:OperationNatureManagementSpecifierType"/>
	</xs:simpleType>

	<xs:simpleType name="SpecificationCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuu- tai metsänhoito toimenpiteen tarkennekoodi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation specification code</xs:documentation>
		</xs:annotation>
		<xs:union
			memberTypes="CuttingDirectingType CuttingExtraQualifierType SilvicultureExtraQualifierType CommonOperationExtraQualifierType OperationNatureManagementSpecifierType"
		/>
	</xs:simpleType>

	<xs:complexType name="CuttingType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun tarkemmat tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting specific information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CuttingVolume" minOccurs="0"/>
			<xs:element ref="Assortments" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="CuttingIncome" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CuttingVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun kertymä (arvio). Käytettävä yksikkö on m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting volume (estimation). Unit is m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal3And2PositiveType"/>
	</xs:simpleType>

	<xs:simpleType name="CuttingIncomeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kokonaistulo. Käytettävä yksikkö on €.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Cutting income. Unit is €.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal7And2PositiveType"/>
	</xs:simpleType>

	<xs:complexType name="AssortmentsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Hakkuun puutavaralajit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Assortments of cutting</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Assortment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AssortmentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Yksittäinen hakkuun puutavaralaji. Puutavaralaji koostuu puulajista ja runkolajista eli mäntytukin sijaan onkin mänty + tukki.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Single assortment data. Assortment "keys" are tree species and stem type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="TreeSpecies"/>
			<xs:element ref="StemType"/>
			<xs:element ref="AssortmentCode" minOccurs="0"/>
			<xs:element ref="AssortmentName" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="AssortmentPercent"/>
				<xs:element ref="AssortmentVolume"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Hakkuun puutavaralaji voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Assortment can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="TreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin puulaji.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree species of assortment</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="co:TreeSpeciesType co:EmptyStringType co:ExtraTreeSpeciesType"/>
	</xs:simpleType>

	<xs:simpleType name="StemTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin runkolaji, esim. tukki, kuitu, runko, kanto, energiapuu, pikkutukki, parru</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Stem type of assortment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:StemTypeType"/>
	</xs:simpleType>

	<xs:simpleType name="AssortmentPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin osuus hakkuukertymästä prosentteina.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Assortment proportion of volume of cutting.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:PercentWithFraction1Type"/>
	</xs:simpleType>

	<xs:simpleType name="AssortmentVolumeType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin tilavuus, m3/ha.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Assortment volume, m3/ha.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:VolumeType"/>
	</xs:simpleType>

	<xs:complexType name="SilvicultureType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyön tarkemmat tiedot.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Silvicultural operation specific information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CuttingRelated" minOccurs="0"/>
			<xs:element ref="Cost" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CuttingRelatedType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsänhoitotyön liittyy hakkuuseen.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Silvicultural operation is related cutting operation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:YesNoType"/>
	</xs:simpleType>

	<xs:simpleType name="CostType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen kokonaiskustannus. Käytettävä yksikkö on €.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Income of silvicultural operation. Unit is €.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="co:Decimal7And2PositiveType"/>
	</xs:simpleType>

	<xs:complexType name="PlannedOperationChainsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitteluvaihtoehdot. Vaihtoehtoiset toimenpideketjut.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Planned alternative operation chains.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="PlannedOperationChain" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlannedOperationChainType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitteluvaihtoehdon tiedot. Vaihtoehtoinen toimenpideketju.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Data of single planned alternative operation chain.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="co:ChangeState" minOccurs="0"/>
			<xs:element ref="co:ChangeTime" minOccurs="0"/>
			<xs:element ref="AlternativeIdentifier"/>
			<xs:element ref="AlternativeName" minOccurs="0"/>
			<xs:element ref="Operations"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Suunnitteluvaihtoehto voidaan yksilöidä tiedonsiirrossa tiedonsiirto-osapuolien tarpeiden mukaan id:llä.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Operation chain can be identified using string id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="AlternativeIdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitteluvaihtoehdon (toimenpideketjun) tunniste.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Identifier of single planned alternative operation chain.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="AlternativeNameType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitteluvaihtoehdon (toimenpideketjun) nimi.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Name of single planned alternative operation chain.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:complexType name="UsedMachineType">
		<xs:sequence>
			<xs:element ref="MachineCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetty kone / laite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Used machine / device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MachineDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetyn koneen / laitteen kuvaus. Erityisesti muu -koodin tapauksessa.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MachineAccessoryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetty väline / lisälaite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MachineAccessoryDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetyn välineen / lisälaitteen kuvaus. Erityisesti muu -koodin tapauksessa.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegenerationDataType">
		<xs:sequence>
			<xs:element ref="SeedlingLotIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimierän tunnistetiedot</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SeedlingConditionAndQuality" minOccurs="0"/>
			<xs:element ref="SeedlingConditionAndQualityDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien kunto ja laatu, selite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AmountSeedlingsToPlant" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimia istutettiin, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DateSeedlingsExitFromTreeNursery" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pvm, taimet lähteneet taimitarhalta</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DateSeedlingsToWorkingSite" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pvm, taimet tuotu uudistusalalle</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DateSeedlingsPlanted" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Pvm, taimet istutettu</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="SeedlingConditionAndQualityType">
		<xs:restriction base="co:EvaluationCodeType"/>
	</xs:simpleType>

	<xs:complexType name="PreventionFungusOfTheGenusDataType">
		<xs:sequence>
			<xs:element ref="PreventionCompleted" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Juurikäävän torjunta suoritettu</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PreventionSubstance" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetyn juurikäävän torjuntatuotteen vaikuttava aine</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PreventionSubstanceProductName" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käytetyn juurikäävän torjunta-aineen tuotenimi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CompletionActorsType">
		<xs:sequence>
			<xs:element ref="CompletionActor" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimenpiteen toteuttaja</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CompletionActorType">
		<xs:sequence>
			<xs:element ref="ActorId" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Viittaus Actors-listaan</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OperativeDataType">
		<xs:sequence>
			<xs:element ref="OperationTreeSpeciesSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakattavan puuston puulajikohtainen yhteenveto.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Summary for cutting tree species.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="GrowingTreeSpecies" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kasvatettava puulaji.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Grow tree species.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MaterialAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalimäärä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Material volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="MaterialAmountUnit" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Materiaalin määrän yksikkö.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Material unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TargetStemCount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite runkoluku.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Target for stem count.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TargetBasalArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite pohjapinta-ala.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Target basal area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TargetAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite määrä.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Target amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TargetAmountUnit" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tavoite määrän yksikkö.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en">Target amount unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:complexType>	
	
	<xs:simpleType name="AmountType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Määrä.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="7"/>
			<xs:fractionDigits value="1" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ExtendedWideUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Laajennettu määrän koodisto.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Extended unit type.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="co:WideUnitType co:UnitPerHectareType"/>
	</xs:simpleType>
	
	<xs:complexType name="OperationTreeSpeciesSummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Toimenpiteen puulajikohtainen yhteenveto.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Operation summary for tree species.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OperativeTreeSpeciesData" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
