schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	***************************************************************
	Kuvion puustotietojen elementit ja tyypit. 
	Skeema on JHS-170 -suosituksen mukainen.

	Muutokset skeemapakettiin V10.05:
	-Skeematiedoston xs:schema elementtiin muutettu versionumeroksi "V10.05". Jatkossa tämä versionumero tulee päivittymään tarpeen mukaan silloin kun tiedostoon tehdään muutoksia.
	
	Muutokset skeemapakettiin V11.06:
	-Elementille TreeStandDataDate lisätty uusi vapaaehtoinen atribuutti inventoryMethod (inventointimenetelmä)

    Muutokset skeemapakettiin V11.08:
    -Skeematiedostosta poistettu elementin ControlStandTreeStandSummary määritykset
    -Lisätty määrittely elementille SpareTreeGroups
    -Lisätty määrittely elementille SpareTreeGroup
    -Lisätty määrittely elementille TreeClass

    Muutokset skeemapakettiin V11.10:
    -Lisätty uusi tyyppimäärittely TreeStandDataDate2Type joka on rinnakkaismäärittely puustoajankohdalle
    
    Muutokset skeemapakettiin V14.03: 
    -Vaihdettu elementin SeedlingBeginningCode tyyppimäärittelyksi SeedlingOriginType
    
    Muutokset skeemapakettiin V17.02:
    -Täydennetty dokumentaatioita
    
    Muutokset skeemapakettiin V18.05:
    -Tyyppimäärittelyyn TreeStandDataDateType lisätty uudet vapaaehtoiset attribuutit infoProviderRole ja infoProviderOrganizationName
    
    Muutokset skeemapakettiin V20.01:
    -Lisätty uudet vapaaehtoiset elementit TreeSpeciesSummary tyyppimäärittelyltään TreeSpeciesSummaryType, TreeSpeciesData tyyppimäärittelyltään TreeSpeciesDataType, 
     AverageStemVolume tyyppimäärittelyltään co:Decimal3FractionDigitsType, SawlogPercent tyyppimäärittelyltään co:SawLogPercentType, TotalSawlogVolume tyyppimäärittelyltään co:SawLogVolumeType,
     TotalPulpwoodVolume tyyppimäärittelyltään co:PulpWoodVolumeType, TotalVolume tyyppimäärittelyltään co:VolumeType.
    -Lisätty uusi pakollinen elementti TreeSpeciesData tyyppimäärittelyltään TreeSpeciesDataType, TreeSpeciesSummaryType tyyppimäärittelyyn.
    -Lisätty tyyppimäärittelyt TreeSpeciesSummaryType Puulajikohtainen yhteenveto ja TreeSpeciesDataType Puulajin tiedot.
    
    Muutokset skeemapakettiin V24.03: 
    -Lisätty uusi tyypimäärittely NotEmptyTreeSpeciesType, puutavaralajin puulaji
    -Vaihdettu elementin TreeSpecies tyyppimäärittelyksi NoEmptyTreeSpeciesType
    
	***************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns="http://standardit.tapio.fi/schemas/forestData/treeStand"
	xmlns:tst="http://standardit.tapio.fi/schemas/forestData/treeStratum"
	xmlns:sd="http://standardit.tapio.fi/schemas/forestData/stemDistribution"
	xmlns:sds="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum"
	xmlns:dts="http://standardit.tapio.fi/schemas/forestData/deadTreeStrata"
	xmlns:tss="http://standardit.tapio.fi/schemas/forestData/treeStandSummary"
	xmlns:co="http://standardit.tapio.fi/schemas/forestData/common"
	xmlns:ci="http://standardit.tapio.fi/schemas/forestData/contactInformation"
	xmlns:jhs="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" elementFormDefault="qualified" version="V24.03">

	<!-- Imports / Includes -->
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStratum" schemaLocation="TreeStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/stemDistribution" schemaLocation="StemDistribution.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/stemDistributionStratum" schemaLocation="StemDistributionStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/deadTreeStrata" schemaLocation="DeadTreeStratum.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/treeStandSummary" schemaLocation="TreeStandSummary.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http://standardit.tapio.fi/schemas/forestData/contactInformation" schemaLocation="ContactInformation.xsd"/>
	<xs:import namespace="http://skeemat.jhs-suositukset.fi/yhteiset/2009/03/04" schemaLocation="JHS170_20090304.xsd"/>

	<!-- Elementtimääritykset -->
	<!-- Element definitions -->
	<xs:element name="TreeStandData" type="TreeStandDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Metsikkökuvion puustotiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
	</xs:element>
	<xs:element name="TreeStandDataDate" type="TreeStandDataDateType"/>
	<xs:element name="AlternativeIdentifier" type="AlternativeIdentifierType"/>
	<xs:element name="OperationTreeReduction" type="OperationTreeReductionType"/>
	<xs:element name="SeedlingData" type="SeedlingDataType"/>
	<xs:element name="StumpStemCount" type="co:PositiveInteger6digitsType"/>
	<xs:element name="StumpMeanDiameter" type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType"/>
	<xs:element name="SeedlingStratum" type="SeedlingStratumType"/>
	<xs:element name="TreeSpecies" type="NotEmptyTreeSpeciesType"/>
	<xs:element name="SeedlingBeginningCode" type="co:SeedlingOriginType"/>
	<xs:element name="Amount" type="co:PositiveInteger6digitsType"/>
	<xs:element name="AmountInSpot" type="co:PositiveInteger6digitsType"/>
	<xs:element name="AmountOutsideSpot" type="co:PositiveInteger6digitsType"/>
	<xs:element name="AmountUnit" type="co:AmountUnitType"/>
	<xs:element name="StemCount" type="co:StemCountType"/>
	<xs:element name="PineDecimal" type="xs:integer"/>
	<xs:element name="SpruceDecimal" type="xs:integer"/>
	<xs:element name="BirchDecimal" type="xs:integer"/>
	<xs:element name="SeedStemCount" type="co:PositiveInteger6digitsType"/>
	<xs:element name="BasalArea" type="co:BasalAreaType"/>
	<xs:element name="MeanDiameter" type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType"/>
	<xs:element name="MeanAge" type="co:AgeType"/>
	<xs:element name="DominantHeight" type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType"/>
	<xs:element name="AverageHeight" type="co:PositiveDecimalMax2IntegralPartMax1FractionalPartType"/>
	<xs:element name="SpareTreeGroups" type="SpareTreeGroupsType"/>
	<xs:element name="SpareTreeGroup" type="SpareTreeGroupType"/>
	<xs:element name="TreeClass" type="co:TreeClassType"/>
	<xs:element name="TreeSpeciesSummary" type="TreeSpeciesSummaryType"/>
	<xs:element name="TreeSpeciesData" type="TreeSpeciesDataType"/>
	<xs:element name="AverageStemVolume" type="co:Decimal3FractionDigitsType"/>
	<xs:element name="SawlogPercent" type="co:SawLogPercentType"/>
	<xs:element name="TotalSawlogVolume" type="co:SawLogVolumeType"/>
	<xs:element name="TotalPulpwoodVolume" type="co:PulpWoodVolumeType"/>
	<xs:element name="TotalVolume" type="co:VolumeType"/>

	
	<!-- Tyyppimääritykset -->
	<!-- Type definitions -->
	<xs:simpleType name="AlternativeIdentifierType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Suunnitelmavaihtoehdon tunniste. Erottaa eri suunnitelmavaihtoehtojen TreeStandSummary-elementit.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="TreeStandDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion puustotiedot tyypeittäin ja ajankohdittain.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree stand data grouped by type and moment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeStandDataDate" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TreeStandDataDateType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion osoitetun tyyppinen (inventointi/laskenta/ennuste) puusto ajankohtana pvm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Some moment data of tree stand specified by date and type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AlternativeIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tst:TreeStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dts:DeadTreeStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tss:TreeStandSummary" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="TreeSpeciesSummary" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sd:StemDistribution" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sds:StemDistributionStrata" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type" type="TreeStandDataMomentType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan tyyppi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Type of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="co:DateType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan pvm. Inventointi-, laskenta- tai ennustepvm.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Date of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inventoryMethod" type="co:InventoryMethodType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan puuston inventointimenetelmä</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Moments forest inventory method</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoProviderRole" type="co:InfoProviderRoleType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tiedon tuottajan luokittelu</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Info provider role</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infoProviderOrganizationName" type="ci:OrganizationNameType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Tiedon tuottajaorganisaation nimi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Info provider organization name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TreeStandDataDate2Type">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Kuvion osoitetun tyyppinen (inventointi/laskenta/ennuste) puusto ajankohtana pvm.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Some moment data of tree stand specified by date and type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AlternativeIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TreeStrata" type="tst:TreeStrata2Type" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dts:DeadTreeStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TreeStandSummary" type="tss:TreeStandSummary2Type" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sd:Trees" minOccurs="0"/>
			<xs:element ref="sd:StemDistribution" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="sds:StemDistributionStrata" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="OperationTreeReduction" minOccurs="0"/>
			<!-- <xs:element ref="SeedlingData" minOccurs="0">
				<xs:annotation>
				<xs:documentation xml:lang="fi">Taimitiedot</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en"/>
				</xs:annotation>
				</xs:element> -->
			<!-- <xs:element ref="ControlStandTreeStandSummary" minOccurs="0"/> -->
		</xs:sequence>
		<xs:attribute name="type" type="TreeStandDataMomentType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan tyyppi</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Type of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="co:DateType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan pvm. Inventointi-, laskenta- tai ennustepvm.</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Date of moment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="inventoryMethod" type="co:InventoryMethodType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="fi">Ajankohdan puuston inventointimenetelmä</xs:documentation>
				<xs:documentation xml:lang="sv"/>
				<xs:documentation xml:lang="en">Moments forest inventory method</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:simpleType name="TreeStandDataMomentType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Laskenta- ja ennustetyyppi eri koodeina koska ainakin aiemmin metsäkeskuksissa on käytetty tulevaisuuden puuston esittämisessä molempia. Laskentatyyppisessä tiedot on esitetty puusto-ositetarkkuudella ja ennustetyyppisessä on ollut pelkkä yhteenveto. Näiden kahden tyypin soveltamisesta voivat tiedonsiirtosovellukset päättää keskenään.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:restriction base="co:TreeStandDataMomentType"/>
	</xs:simpleType>
	
	<xs:complexType name="OperationTreeReductionType">
		<xs:sequence>
			<xs:element ref="StumpStemCount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Hakatun harvennushakkuun kantojan määrä. Kpl/ha Laskentasääntö: 10 000 m2*Puuluokkaan 8 kuuluvien puiden lkm/Koealojen pinta-alojen summa m2 (jos hta on 2 tai 3, niin s/k. kpl/ha kenttään Virtaan siirretään tallentimelta tämän kentän arvo)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="StumpMeanDiameter" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kantojen keskiläpimitta cm. Suurin mahdollinen arvo on on 99,9. Laskentasääntö: Koealakohtaisten dk arvojen keskiarvo.</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SeedlingDataType">
		<xs:sequence>
			<xs:element ref="SeedlingStratum" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimiosite</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SeedlingStratumType">
		<xs:sequence>
			<xs:element ref="TreeSpecies" minOccurs="0"/>
			<xs:element ref="SeedlingBeginningCode" minOccurs="0"/>
			<xs:element ref="Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien lukumäärä,  kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AmountInSpot" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien määrä muokkausjäljessä (kpl)</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AmountOutsideSpot" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Taimien määrä muualla kuin muokkausjäljessä, kpl</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AmountUnit" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SpareTreeGroupsType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Säästöpuuryhmät</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SpareTreeGroup"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SpareTreeGroupType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Säästöpuuryhmä</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeSpecies" minOccurs="0"/>
			<xs:element ref="TreeClass" minOccurs="0"/>
			<xs:element ref="StemCount" minOccurs="0"/>
			<xs:element ref="MeanDiameter" minOccurs="0"/>
			<xs:element ref="AverageHeight" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeSpeciesSummaryType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puulajikohtainen yhteenveto.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Summary for tree species.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeSpeciesData" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TreeSpeciesDataType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puulajin tiedot</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en"/>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TreeSpecies" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajikoodi</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AverageStemVolume" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Rungon keskitilavuus m3</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
				<xs:element ref="SawlogPercent" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Tukki-%</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:element>
			<xs:element ref="TotalSawlogVolume" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="fi">Tukin kokonaistilavuus</xs:documentation>
						<xs:documentation xml:lang="sv"/>
						<xs:documentation xml:lang="en"/>
					</xs:annotation>
				</xs:element>
			<xs:element ref="TotalPulpwoodVolume" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Kuidun kokonaistilavuus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TotalVolume" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Puulajin kokonaistilavuus</xs:documentation>
					<xs:documentation xml:lang="sv"/>
					<xs:documentation xml:lang="en"/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="NotEmptyTreeSpeciesType">
		<xs:annotation>
			<xs:documentation xml:lang="fi">Puutavaralajin puulaji.</xs:documentation>
			<xs:documentation xml:lang="sv"/>
			<xs:documentation xml:lang="en">Tree species of assortment</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="co:TreeSpeciesType co:ExtraTreeSpeciesType"/>
	</xs:simpleType>
	
	
</xs:schema>
