MetsatietostandardiskeematV33.03/stanford2010/ForwardingObjectInstruction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Forwarding Object Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ForwardingObjectInstruction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ForwardingObjectInstruction" type="ForwardingObjectInstructionType">
		
		<xsd:key name="ObjectKeyObjectDefinition">
			<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
			<xsd:field xpath="sfd:ObjectUserID"></xsd:field>
		</xsd:key>
		<xsd:unique name="UniqueLocationUserID">
			<xsd:selector xpath="sfd:LocationDefinition"></xsd:selector>
			<xsd:field xpath="sfd:LocationUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ObjectDefinitionForwardingObjectInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="DeliveryUserID" type="UserIDType" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="LocationUserID" type="UserIDType" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForwardingObjectInstructionType">
		
		<xsd:sequence>
			<xsd:element name="ForwardingObjectInstructionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionForwardingObjectInstructionType">
				
				<xsd:unique name="UniqueSubObjectUserID">
					<xsd:selector xpath="sfd:SubObject"></xsd:selector>
					<xsd:field xpath="sfd:SubObjectUserID"></xsd:field>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="LocationDefinition" type="LocationDefinitionType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="foi">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="LocationDefinitionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonLocationDefinitionType">
				<xsd:sequence>
					<xsd:element name="ModificationDate" type="ModificationDateType">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
