MetsatietostandardiskeematV33.03/stanford2010/ForwardedProduction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Forwarded Production message XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ForwardedProduction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ForwardedProduction" type="ForwardedProductionType">
		
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineKey"></xsd:field>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ClassifiedProductDefinitionMachineForwardedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonProductDefinitionType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType">
						
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupForwardedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="DataTableGroupType">
				<xsd:choice>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="LocationKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForwardedProductionType">
		
		<xsd:sequence>
			<xsd:element name="ForwardedProductionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="Machine" type="MachineForwardedProductionType" maxOccurs="unbounded">
				
				<xsd:unique name="UniqueOperatorUserID">
					<xsd:selector xpath="sfd:OperatorDefinition"></xsd:selector>
					<xsd:field xpath="sfd:OperatorUserID"></xsd:field>
				</xsd:unique>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefStem" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:Load"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ProductDefinition/sfd:ClassifiedProductDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ProductDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ProductKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="ProductKeyRefSingleTreeProcessedStemLog" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:DeliveryDefinition/ProductKey"></xsd:selector>
					<xsd:field xpath="."></xsd:field>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefStem" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:LocationDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:LocationDefinition"></xsd:selector>
					<xsd:field xpath="sfd:LocationKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="LocationKeyRefForwardingStatus" refer="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:ForwardingStatus"></xsd:selector>
					<xsd:field xpath="sfd:LocationKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="LocationKeyRefPartialLoad" refer="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:Load/sfd:PartialLoad"></xsd:selector>
					<xsd:field xpath="sfd:LocationKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:DeliveryDefinition"></xsd:selector>
					<xsd:field xpath="sfd:DeliveryKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="DeliveryKeyRefPartialLoad" refer="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:Load/sfd:PartialLoad"></xsd:selector>
					<xsd:field xpath="sfd:DeliveryKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="DeliveryKeyRefForwardingStatus" refer="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:ForwardingStatus"></xsd:selector>
					<xsd:field xpath="sfd:DeliveryKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="LoadKeyLoad">
					<xsd:selector xpath="sfd:Load"></xsd:selector>
					<xsd:field xpath="sfd:LoadKey"></xsd:field>
				</xsd:key>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="fpr">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="ForwardingStatusType">
		
		<xsd:sequence>
			<xsd:element name="LocationKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DeliveryKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ForwardStartDate" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ForwardEndDate" type="StanForD2010DateTimeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LoadGreenMassType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="loadGreenMassMethod" type="LoadGreenMassMethodType">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LoadVolumeType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="loadVolumeCategory" type="LoadVolumeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LoadType">
		
		<xsd:sequence>
			<xsd:element name="LoadKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="LoadNumber" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DistanceFromLastUnloading" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="UnloadingTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="PartialLoad" type="PartialLoadType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationDefinitionMachineType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonLocationDefinitionType">
				<xsd:sequence>
					<xsd:element name="LocationKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineForwardedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionForwardedProductionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ProductDefinition" type="ProductDefinitionMachineForwardedProductionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" maxOccurs="unbounded">
						
						<xsd:unique name="UniqueSubObectUserID">
							<xsd:selector xpath="SubObject"></xsd:selector>
							<xsd:field xpath="SubObjectUserID"></xsd:field>
						</xsd:unique>
						<xsd:unique name="UniqueSubObjectKey">
							<xsd:selector xpath="SubObject"></xsd:selector>
							<xsd:field xpath="SubObjectKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="LocationDefinition" type="LocationDefinitionMachineType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="DeliveryDefinition" type="DeliveryDefinitionWithDetailsType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="Load" type="LoadType" minOccurs="0" maxOccurs="unbounded">
						
						<xsd:unique name="UniquePartialLoadKey">
							<xsd:selector xpath="sfd:PartialLoad"></xsd:selector>
							<xsd:field xpath="sfd:PartialLoadKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="ForwardingStatus" type="ForwardingStatusType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ScaleDefinition" type="ScaleDefinitionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="UserDefinedData" type="UserDefinedDataForwardedProductionType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PartialLoadType">
		
		<xsd:sequence>
			<xsd:element name="PartialLoadKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DeliveryKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="LocationKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="LoadNumberOfItems" type="LoadNumberOfItemsType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoadVolume" type="LoadVolumeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="LoadGreenMass" type="LoadGreenMassType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoadingCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ScaleKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionMachineForwardedProductionType">
		
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionMachineForwardedProductionType">
					
				</xsd:element>
				<xsd:element name="UnclassifiedProductDefinition" type="UnclassifiedProductDefinitionMachineType">
					
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionForwardedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonSpeciesGroupDefinitionType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedDataForwardedProductionType">
		
		<xsd:sequence>
			<xsd:element name="DataTableGroup" type="DataTableGroupForwardedProductionType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LoadGreenMassMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Loading"></xsd:enumeration>
			<xsd:enumeration value="Unloading"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoadVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Volume, m3sob"></xsd:enumeration>
			<xsd:enumeration value="Volume, m3sub"></xsd:enumeration>
			<xsd:enumeration value="Loose volume, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume including bark, branches and needles, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume of bundles (length*cross sectional area), m3"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
