MetsatietostandardiskeematV33.03/stanford2010/ForwardedProduction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Forwarded Production message XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ForwardedProduction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ForwardedProduction" type="ForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the Forwarded Production message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineKey"/>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ClassifiedProductDefinitionMachineForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>3.0</doc:VersionCreated>
				<doc:Graph>ClassifiedProductDefinitionMachineForwardedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonProductDefinitionType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V121_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per product defined by user of data, normally
logging organisation</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per species group set by machine. Must be updated if any modifications to species group definition is done. Running number reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>2.1</doc:VersionCreated>
				<doc:Graph>DataTableGroupForwardedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataTableGroupType">
				<xsd:choice>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per harvesting object. Set when
new harvesting object is started. Running no
recommended, reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LocationKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per location.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ForwardedProductionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForwardedProductionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Machine" type="MachineForwardedProductionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>All the product specific data is included under Machine elements</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueOperatorUserID">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorUserID"/>
				</xsd:unique>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefStem" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:Load"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:keyref>
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ProductDefinition/sfd:ClassifiedProductDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:keyref>
				<xsd:key name="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ProductDefinition"/>
					<xsd:field xpath="sfd:ProductKey"/>
				</xsd:key>
				<xsd:keyref name="ProductKeyRefSingleTreeProcessedStemLog" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:DeliveryDefinition/ProductKey"/>
					<xsd:field xpath="."/>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ObjectDefinition"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefStem" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:LocationDefinition"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:keyref>
				<xsd:key name="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:LocationDefinition"/>
					<xsd:field xpath="sfd:LocationKey"/>
				</xsd:key>
				<xsd:keyref name="LocationKeyRefForwardingStatus" refer="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:ForwardingStatus"/>
					<xsd:field xpath="sfd:LocationKey"/>
				</xsd:keyref>
				<xsd:keyref name="LocationKeyRefPartialLoad" refer="LocationKeyLocationDefinition">
					<xsd:selector xpath="sfd:Load/sfd:PartialLoad"/>
					<xsd:field xpath="sfd:LocationKey"/>
				</xsd:keyref>
				<xsd:key name="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:DeliveryDefinition"/>
					<xsd:field xpath="sfd:DeliveryKey"/>
				</xsd:key>
				<xsd:keyref name="DeliveryKeyRefPartialLoad" refer="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:Load/sfd:PartialLoad"/>
					<xsd:field xpath="sfd:DeliveryKey"/>
				</xsd:keyref>
				<xsd:keyref name="DeliveryKeyRefForwardingStatus" refer="DeliveryKeyDeliveryDefinition">
					<xsd:selector xpath="sfd:ForwardingStatus"/>
					<xsd:field xpath="sfd:DeliveryKey"/>
				</xsd:keyref>
				<xsd:key name="LoadKeyLoad">
					<xsd:selector xpath="sfd:Load"/>
					<xsd:field xpath="sfd:LoadKey"/>
				</xsd:key>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="fpr">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in forwarded production message is: "fpr"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="ForwardingStatusType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ForwardingStatusTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LocationKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per location.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeliveryKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v441_t12</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per delivery definition. Set when new delivery definition is modified or created. Running number recommended, reset only when MachineKey is changed.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForwardStartDate" type="StanForD2010DateTimeType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v441_t6</doc:VarNumber>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Start date (when combination of delivery and location definition is used the first time). Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForwardEndDate" type="StanForD2010DateTimeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v441_t7</doc:VarNumber>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Date when delivery and location is completed, no additional unloading at the combination of delivery and location definitions are done after this date. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LoadGreenMassType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LoadGreenMassTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="loadGreenMassMethod" type="LoadGreenMassMethodType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Allowed values: "Loading", "Unloading"</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LoadVolumeType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LoadVolumeTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="loadVolumeCategory" type="LoadVolumeCategoryType" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Enumeration values defining the actual content of the element.  Allowed values are: "Volume, m3sob", 
Volume, m3sub", "Loose volume, m3", "Solid volume including bark, branches and needles, m3", "Solid volume of bundles (length*cross sectional area), m3"</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LoadType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LoadTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LoadKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v446_t1</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per load. Must be totally unique for a certain MachineKey. Reset only when MachineKey is changed</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine unique operator identity, set by machine</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoadNumber" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v446_t1</doc:VarNumber>
						<doc:Unit>no</doc:Unit>
						<doc:Description>Load number. Several PartialLoads registered per Load when co-loading is carried out.
(Old load code 2 ). LoadNumber should be reset when starting at new harvesting object.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DistanceFromLastUnloading" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>m</doc:Unit>
						<doc:Description>Driven distance from last time of unloading (when load space of forwarder was emptied). Registered when unloading present load. Distance from start of harvesting object is registered for first load. Measured by odometer or gps.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UnloadingTime" type="StanForD2010DateTimeType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Date and Time when load was unloaded by forwarder. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartialLoad" type="PartialLoadType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for partial load data. Multiple occurences when coloading.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationDefinitionMachineType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LocationDefinitionMachineTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonLocationDefinitionType">
				<xsd:sequence>
					<xsd:element name="LocationKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per location.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per harvesting object. Set when
new harvesting object is started. Running no
recommended, reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequentical no</doc:Unit>
								<doc:Description>Machine specific identity per harvesting sub object, set by
machine. Set when new harvesting sub object is started.
Running no recommended, reset when ObjectKey is
updated.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>MachineForwardedProductionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MachineType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionForwardedProductionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Definition of species used in this forwarded production message</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ProductDefinition" type="ProductDefinitionMachineForwardedProductionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for defining product.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for object specific data</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:unique name="UniqueSubObectUserID">
							<xsd:selector xpath="SubObject"/>
							<xsd:field xpath="SubObjectUserID"/>
						</xsd:unique>
						<xsd:unique name="UniqueSubObjectKey">
							<xsd:selector xpath="SubObject"/>
							<xsd:field xpath="SubObjectKey"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="LocationDefinition" type="LocationDefinitionMachineType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.1</doc:VersionModified>
								<doc:Description>Structure for location of forwarded production at harvesting object.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DeliveryDefinition" type="DeliveryDefinitionWithDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.1</doc:VersionModified>
								<doc:Description>Describes the content of what has been forwarded.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Load" type="LoadType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.1</doc:VersionModified>
								<doc:Description>Structure for forwarded load data.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:unique name="UniquePartialLoadKey">
							<xsd:selector xpath="sfd:PartialLoad"/>
							<xsd:field xpath="sfd:PartialLoadKey"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="ForwardingStatus" type="ForwardingStatusType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.1</doc:VersionModified>
								<doc:Description>Status of forwarding per combination of delivery and location definition.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ScaleDefinition" type="ScaleDefinitionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for scale information.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UserDefinedData" type="UserDefinedDataForwardedProductionType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>2.1</doc:VersionCreated>
								<doc:Description>Structure for user defined data</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PartialLoadType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>PartialLoadTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PartialLoadKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per partial load. Unque inside  Load </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeliveryKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v441_t12</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per delivery definition. Set when new delivery definition is modified or created. Running number recommended, reset only when MachineKey is changed.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LocationKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per location.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoadNumberOfItems" type="LoadNumberOfItemsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v446_t1</doc:VarNumber>
						<doc:Unit>no</doc:Unit>
						<doc:Description>Number of logs or bundles</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoadVolume" type="LoadVolumeType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v446_t1</doc:VarNumber>
						<doc:Unit>m3</doc:Unit>
						<doc:Description>Volume of Load</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoadGreenMass" type="LoadGreenMassType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v446_t1</doc:VarNumber>
						<doc:Unit>kg</doc:Unit>
						<doc:Description>Green/raw mass (kg)
(old load code 450)</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoadingCoordinates" type="CoordinatesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Coordinates for loading per PartialLoad. Must represent the last registered coordinates during loading.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScaleKey" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Machine unique scale identity, set by machine</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionMachineForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ProductDefinitionMachineForwardedProductionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v121_t6,v256_t1</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per product set by machine. Must
be updated if any modifications to product is done.
Running no reset only when MachineKey is changed. </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionMachineForwardedProductionType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for classified product. Definied in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UnclassifiedProductDefinition" type="UnclassifiedProductDefinitionMachineType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for unclassified product. Defined in the machine, not included in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>3.0</doc:VersionCreated>
				<doc:Graph>SpeciesGroupDefinitionForwardedProductionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonSpeciesGroupDefinitionType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per species group set by machine. Must be updated if any modifications to species group definition is done. Running number reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedDataForwardedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>2.1</doc:VersionCreated>
				<doc:Graph>UserDefinedDataForwardedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DataTableGroup" type="DataTableGroupForwardedProductionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>2.1</doc:VersionCreated>
						<doc:Description>Structure for user defined data table group</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LoadGreenMassMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Loading"/>
			<xsd:enumeration value="Unloading"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoadVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Volume, m3sob"/>
			<xsd:enumeration value="Volume, m3sub"/>
			<xsd:enumeration value="Loose volume, m3"/>
			<xsd:enumeration value="Solid volume including bark, branches and needles, m3"/>
			<xsd:enumeration value="Solid volume of bundles (length*cross sectional area), m3"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
