MetsatietostandardiskeematV33.03/stanford2010/ForwardingObjectInstruction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Forwarding Object Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ForwardingObjectInstruction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ForwardingObjectInstruction" type="ForwardingObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the Forwarding Object Instruction message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:key name="ObjectKeyObjectDefinition">
			<xsd:selector xpath="sfd:ObjectDefinition"/>
			<xsd:field xpath="sfd:ObjectUserID"/>
		</xsd:key>
		<xsd:unique name="UniqueLocationUserID">
			<xsd:selector xpath="sfd:LocationDefinition"/>
			<xsd:field xpath="sfd:LocationUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ObjectDefinitionForwardingObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ObjectDefinitionForwardingObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="DeliveryUserID" type="UserIDType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>v441_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Delivery definition identity, set by user of data normally logging organisation.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LocationUserID" type="UserIDType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Identity per location defined by user of data, normally logging organisation.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForwardingObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ForwardingObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ForwardingObjectInstructionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionForwardingObjectInstructionType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for object specific data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueSubObjectUserID">
					<xsd:selector xpath="sfd:SubObject"/>
					<xsd:field xpath="sfd:SubObjectUserID"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="LocationDefinition" type="LocationDefinitionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for location of forwarded production at harvesting object.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="foi">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Forwarding Object Instruction message is: "foi"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="LocationDefinitionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LocationDefinitionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonLocationDefinitionType">
				<xsd:sequence>
					<xsd:element name="ModificationDate" type="ModificationDateType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>2.0</doc:VersionCreated>
								<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
								<doc:Description>Date and time when location definition was last modified. LocationKey updated if modified in machine. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
