MetsatietostandardiskeematV33.03/stanford2010/ForwardingDeliveryInstruction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Forwarding Delivery instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ForwardingDeliveryInstruction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ForwardingDeliveryInstruction" type="ForwardingDeliveryInstructionType">
		
		<xsd:unique name="UniqueProductUserID">
			<xsd:selector xpath="sfd:ProductDefinition"></xsd:selector>
			<xsd:field xpath="sfd:ProductUserID"></xsd:field>
		</xsd:unique>
		<xsd:unique name="UniqueDeliveryDefinitionUserID">
			<xsd:selector xpath="sfd:DeliveryDefinition"></xsd:selector>
			<xsd:field xpath="sfd:DeliveryUserID"></xsd:field>
		</xsd:unique>
		<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
			<xsd:selector xpath="sfd:SpeciesGroupDefinition"></xsd:selector>
			<xsd:field xpath="sfd:SpeciesGroupUserID"></xsd:field>
		</xsd:key>
		<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
			<xsd:selector xpath="sfd:ProductDefinition/sfd:ClassifiedProductDefinition"></xsd:selector>
			<xsd:field xpath="sfd:SpeciesGroupUserID"></xsd:field>
		</xsd:keyref>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ClassifiedProductDefinitionForwardingDeliveryInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonProductDefinitionType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupUserID" type="UserIDType" nillable="false">
						
					</xsd:element>
					<xsd:element name="ProductCreationDate" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeliveryDefinitionForwardingDeliveryInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonDeliveryDefinitionType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForwardingDeliveryInstructionType">
		
		<xsd:sequence>
			<xsd:element name="ForwardingDeliveryInstructionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupDefinition" type="CommonSpeciesGroupDefinitionType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="ProductDefinition" type="ProductDefinitionForwardingDeliveryInstructionType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="DeliveryDefinition" type="DeliveryDefinitionForwardingDeliveryInstructionType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="fdi">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionForwardingDeliveryInstructionType">
		
		<xsd:sequence>
			<xsd:element name="ProductUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionForwardingDeliveryInstructionType">
					
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
