MetsatietostandardiskeematV33.03/stanford2010/HarvestingQualityControl_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Harvesting Quality Control XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				HarvestingQualityControl_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="HarvestingQualityControl" type="HarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the harvesting quality control message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineKey"/>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="CalibrationValuesType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>calibrationvaluestypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DiameterCalibration" type="DiameterCalibrationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for diameter calibration logg data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LengthCalibration" type="LengthCalibrationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for length calibration logg data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClassifiedProductDefinitionMachineHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ClassifiedProductDefinitionMachineHarvestingQualityControlTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ProductDefinitionWithCommonDetailsType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V121_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per product defined by user of data, normally
logging organisation</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per species group set by machine. Must be updated if any modifications to species group definition is done. Running number reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommonCalibrationValuesType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:VersionModified>2.0</doc:VersionModified>
				<doc:Graph>CommonCalibrationValuesTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpeciesGroupUserID" type="UserIDType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v120_t3</doc:VarNumber>
						<doc:Unit>free text</doc:Unit>
						<doc:Description>Identity per species group defined by user of data, normally by  logging organisation.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine unique operator identity, set by machine</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CalibrationDate" type="StanForD2010DateTimeType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V44_t4</doc:VarNumber>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Diameter calibration date. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ControlLogDiameterType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>controllogdiametertypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:nonNegativeInteger">
				<xsd:attributeGroup ref="ControlLogDiameterAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ControlMeasurementDefinitionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>controlmeasurementdefinitiontypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Measurer" type="ContactInformationType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Contact information of measurer</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CaliperApplication" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V3_t5</doc:VarNumber>
						<doc:Unit>free text</doc:Unit>
						<doc:Description>Version of software used in caliper</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CaliperID" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V3_t4</doc:VarNumber>
						<doc:Unit>free text</doc:Unit>
						<doc:Description>Identity information of caliber</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="logMeasurementCategory" type="LogMeasurementCategoryType" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Type of log measurement. Allowed values: "Machine", "Operator" and "Auditor"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ControlValuesType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ControlValuesTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProductDefinition" type="ProductDefinitionMachineHarvestingQualityControlType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for defining product.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for object specific data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueSubObjectKey">
					<xsd:selector xpath="SubObject"/>
					<xsd:field xpath="SubObjectKey"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="ControlStemSettings" type="ControlStemSettingsType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Settings for random selection of control stems. Recommended that the last five settings per species group are included in an hqc-file.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Stem" type="StemHarvestingQualityControlType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>A list of harvested quality and control stems</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ControlStemInfoType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>controlsteminfotypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RandomControlStemRejectedReason" type="RandomControlStemRejectedReasonType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V38_t10</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Reason for rejection of randomly selected stems. Enumeration list, allowed values are: "Not rejected", "Stem defect", "Out of reach", "Part of stem mixed up with other stems", "Poor weather", 
"Bucking system error", "Caliper broken" and  "Other
reasons not defined":</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomControlStemMeasurementMode" type="RandomControlStemMeasurementModeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V38_t11</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Code for control measurement mode per stem. Set in caliper. Allowed enumeration codes for caliper measurement modes: "Both diameters and lengths registered" and "Only lengths
registered"</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomControlStemSelection" type="RandomControlStemSelectionType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V38_t4</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Type of stem selection (for control and calibration). Allowed enumeration values are: "Randomly selected stem" and "Manually by operator selected stem"</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ControlStemSettingsType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>controlstemsettingstypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RandomFrequency" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t3</doc:VarNumber>
						<doc:Description>Sampling interval for random selection of control and calibration see also RandomFrequencyCategory. The frequency should mean the average number of stems, time or volume between random sampled control stems. The unit should be no of stems, hours or m3sob.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomFrequencyCategory" type="RandomFrequencyCategoryType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t4</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Enumeration list, allowed values are: "Number of stems", "Time" ,"Volume"and "Not in use". All of these alternatives should be implemented.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomMINDBH" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t5</doc:VarNumber>
						<doc:Unit>mm</doc:Unit>
						<doc:Description>Minimum DBH for randomly selected tree</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomMINLength" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t9</doc:VarNumber>
						<doc:Unit>cm</doc:Unit>
						<doc:Description>Minimum log length for randomly selected stems. At least
one log within a stem must be at least this long if stem is to
be selected as a randomly selected control stem. Operator
is never notified that it is a control stem until this criterion is
met. Criterion in RandomLogNotification also has to be
met before operator is notified. This means that the
operator may be notified at a log no higher than set in
RandomLogNotification if RandomMinLength is larger than
0. Observe the similarities with RandomMinDbh.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomLogNotification" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t6</doc:VarNumber>
						<doc:Unit>log no</doc:Unit>
						<doc:Description>Log number when operator is notified that the stem has
been randomly selected for control purposes. Is to be
done when position for cutting of log has been decided but
prior to the actual cutting of the log.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomStartTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t7</doc:VarNumber>
						<doc:Unit>hh:mm:ss</doc:Unit>
						<doc:Description>Earliest time when stem is to be randomly selected, used
in order to avoid random selection during the dark hours.
This variable must be registered if a timer exist for turning
off random selection.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomEndTime" type="xsd:time">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V361_t8</doc:VarNumber>
						<doc:Unit>hh:mm:ss</doc:Unit>
						<doc:Description>Latest time when stem is to be randomly selected, used in
order to avoid random selection during the dark hours.
This variable must be registered if a timer exist for turning
off random selection.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RandomSettingDateTime" type="StanForD2010DateTimeType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Date and time when the random control settings were last modified in any way. Making it possible to track changes in the settings of random selection of control stems. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpeciesGroupUserID" type="UserIDType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v120_t3</doc:VarNumber>
						<doc:Unit>free text</doc:Unit>
						<doc:Description>Identity per species group defined by user of data, normally by  logging organisation.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessingCategory" type="ProcessingCategoryType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Possible enumeration values are: SingleTreeProcessing,MultiTreeProcessing,  SingleTreeFelling and MultiTreeFelling</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiameterCalibrationAdjustmentType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>DiameterCalibrationAdjustmentTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="diameterCalibrationPosition" type="xsd:positiveInteger" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:VarNumber>V48_t1</doc:VarNumber>
							<doc:Unit>mm</doc:Unit>
							<doc:Description>Diameter position (suggested diameters 50,100,150...700)</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DiameterCalibrationType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>diametercalibrationtypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonCalibrationValuesType">
				<xsd:sequence>
					<xsd:element name="DiameterCalibrationReason" type="CalibrationReasonType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V45_t2</doc:VarNumber>
								<doc:Unit>list</doc:Unit>
								<doc:Description>List of diameter calibration reasons: "Repair of measurement system", "Change in weather conditions" and "Other reason"</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DiameterCalibrationDescription" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V45_t1</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Diameter calibration reason</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DiameterCalibrationAdjustment" type="DiameterCalibrationAdjustmentType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V49_t1</doc:VarNumber>
								<doc:Unit>mm</doc:Unit>
								<doc:Description>Adjustment per diameter position</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>harvestingqualitycontroltypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HarvestingQualityControlHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Machine" type="MachineHarvestingQualityControlType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>All the product specific data is included under Machine elements</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueStemKey">
					<xsd:selector xpath="sfd:ControlValues/sfd:Stem"/>
					<xsd:field xpath="sfd:StemKey"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:unique>
				<xsd:unique name="UniqueOperatorUserID">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorUserID"/>
				</xsd:unique>
				<xsd:key name="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:ProductDefinition"/>
					<xsd:field xpath="sfd:ProductKey"/>
				</xsd:key>
				<xsd:keyref name="ProductKeyRefProductLog" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:Stem/sfd:SingleTreeProcessedStem/sfd:Log"/>
					<xsd:field xpath="sfd:ProductKey"/>
				</xsd:keyref>
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:ProductDefinition/sfd:ClassifiedProductDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:keyref>
				<xsd:keyref name="SpeciesGroupKeyRefStem" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:Stem"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:keyref>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefStem" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:Stem"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:ObjectDefinition"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefStem" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ControlValues/sfd:Stem"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="hqc">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Harvesting Quality Control message is: "hqc"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="LengthCalibrationAdjustmentButtLogType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:VersionModified>2.1</doc:VersionModified>
				<doc:Graph>LengthCalibrationAdjustmentButtLogTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="lengthCalibrationPosition" type="xsd:positiveInteger" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:VarNumber>V46_t1</doc:VarNumber>
							<doc:Unit>cm</doc:Unit>
							<doc:Description>Length positions (suggested length 500 cm)</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthCalibrationAdjustmentType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LengthCalibrationAdjustmentTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="lengthCalibrationPosition" type="xsd:positiveInteger" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:VarNumber>V46_t1</doc:VarNumber>
							<doc:Unit>cm</doc:Unit>
							<doc:Description>Length positions (suggested length 500 cm)</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthCalibrationType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>lengthcalibrationtypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="CommonCalibrationValuesType">
				<xsd:sequence>
					<xsd:element name="LengthCalibrationReason" type="CalibrationReasonType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V42_t2</doc:VarNumber>
								<doc:Unit>list</doc:Unit>
								<doc:Description>Enumeration list for length calibration reason:
"Repair of measurement system",
"Change in weather conditions" and
"Other reason"</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LengthCalibrationDescription" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V42_t1</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Length calibration reason</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LengthCalibrationAdjustment" type="LengthCalibrationAdjustmentType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V47_t1</doc:VarNumber>
								<doc:Unit>mm</doc:Unit>
								<doc:Description>Adjustment per length position: Appendix!!!!</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LengthCalibrationAdjustmentButtLog" type="LengthCalibrationAdjustmentButtLogType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V47_t2</doc:VarNumber>
								<doc:Unit>mm</doc:Unit>
								<doc:Description>Adjustment per length position for butt logs, that is the
difference in adjustment comparing to length adjustment of
non butt logs. Used if separate butt log calibration exist.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LogDiameterHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LogDiameterHarvestingQualityControlTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:nonNegativeInteger">
				<xsd:attribute name="logDiameterCategory" type="LogDiameterCategoryType" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Enumeration list describing how log is measured: top ob,
top ub,
mid ob,
mid ub,
butt ob,
butt ub,
mid HKS,
mid HKS ub</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="diameterMeasurementCategory" type="DiameterMeasurementCategory" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Enumeration list, allowed values: "Average", "First" and  "Second"</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LogHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>LogHarvestingQualityControlTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LogType">
				<xsd:sequence>
					<xsd:element name="LogMeasurement" type="LogMeasurementHarvestingQualityControlType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.0</doc:VersionModified>
								<doc:Description>Diameter and length data per log.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CalibrationUseLog" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V38_t3</doc:VarNumber>
								<doc:Unit>true/false</doc:Unit>
								<doc:Description>Manually measured control log accepted for calibration use, only registered in caliper</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LogLengthClass" type="xsd:positiveInteger" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>cm</doc:Unit>
								<doc:Description>Registered length class of the log</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LogDiameterClass" type="xsd:positiveInteger" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>mm</doc:Unit>
								<doc:Description>Registered diameter class of the log</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LogMeasurementHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>logmeasurementharvestingqualitycontroltypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogDiameter" type="LogDiameterHarvestingQualityControlType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VersionModified>2.0</doc:VersionModified>
						<doc:VarNumber>V256_t1 (201-208)</doc:VarNumber>
						<doc:Unit>mm</doc:Unit>
						<doc:Description>Measured diameter of log</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LogLength" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VersionModified>2.0</doc:VersionModified>
						<doc:VarNumber>V256_t1 (301)</doc:VarNumber>
						<doc:Unit>cm</doc:Unit>
						<doc:Description>Measured length of log</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementDate" type="StanForD2010DateTimeType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>yyyy-mm-ddThh:mm:ss[+|-]hh:mm</doc:Unit>
						<doc:Description>Date and time of measurement. Time stamp must have the following times registered: local time ±offset from UTC.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ControlLogDiameter" type="ControlLogDiameterType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VersionModified>2.0</doc:VersionModified>
						<doc:VarNumber>V373</doc:VarNumber>
						<doc:Unit>mm</doc:Unit>
						<doc:Description>Measured control diameters,filtered</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="logMeasurementCategory" type="LogMeasurementCategoryType" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Type of log measurement. Allowed values: "Machine", "Operator" and "Auditor"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="MachineHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>machineharvestingqualitycontroltypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MachineWithHeadType">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionWithDetailsAndKeyType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<doc:VersionCreated>1.0</doc:VersionCreated>
									<doc:Description>Definition of species used in this production message</doc:Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:choice>
						<xsd:sequence>
							<xsd:element name="ControlValues" type="ControlValuesType">
								<xsd:annotation>
									<xsd:documentation>
										<doc:VersionCreated>1.0</doc:VersionCreated>
										<doc:Description>Control measurement data</doc:Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CalibrationValues" type="CalibrationValuesType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<doc:VersionCreated>1.0</doc:VersionCreated>
										<doc:Description>Calibration history of harvester, at least the last 5 calibrations are to be registered</doc:Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="CalibrationValues" type="CalibrationValuesType">
								<xsd:annotation>
									<xsd:documentation>
										<doc:VersionCreated>1.0</doc:VersionCreated>
										<doc:Description>Calibration history of harvester, at least the last 5 calibrations are to be registered</doc:Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionMachineHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ProductDefinitionMachineHarvestingQualityControlTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v121_t6,v256_t1</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per product set by machine. Must
be updated if any modifications to product is done.
Running no reset only when MachineKey is changed. </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionMachineHarvestingQualityControlType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for classified product. Definied in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UnclassifiedProductDefinition" type="UnclassifiedProductDefinitionMachineType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for unclassified product. Definied in the machine, not included in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleTreeProcessedStemHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>SingleTreeProcessedStemHarvestingQualityControlTypeegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DBH" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>V266_t1(740)</doc:VarNumber>
						<doc:Unit>mm</doc:Unit>
						<doc:Description>DBH (on bark) measured at height according to
DBHHeight (in SpeciesGroupDefinition). Same  diameter used in optimisation and volume calculation. DBH is based on butt-end extrapolation function (old SPP)  if such function is  used at DBH position.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReferenceDiameter" type="ReferenceDiameterType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VersionModified>2.0</doc:VersionModified>
						<doc:Unit>mm</doc:Unit>
						<doc:Description>Diameter at position used for predicting DBH in multi tree harvesting. Normally the first measured diameter. Not to be an extrapolated diameter (e.g. extrapolated using butt-end extrapolation function, old SPP). Can be used when calculating estimated volumes based on volume of single tree processed stems. </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StemGrade" type="StemGradeType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Grades of stem</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StemDiameters" type="StemDiametersType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Measured diameters of stem</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Log" type="LogHarvestingQualityControlType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for log data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemHarvestingQualityControlType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>stemharvestingqualitycontroltypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="StemType">
				<xsd:sequence>
					<xsd:element name="ControlMeasurementDefinition" type="ControlMeasurementDefinitionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.0</doc:VersionModified>
								<doc:Description>Structure for other down times.</doc:Description>
								<doc:Description>Information about when and who carried out a control measurement</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ControlStemInfo" type="ControlStemInfoType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Information about rejection and selection of control stem</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="SingleTreeProcessedStem" type="SingleTreeProcessedStemHarvestingQualityControlType">
							<xsd:annotation>
								<xsd:documentation>
									<doc:VersionCreated>1.0</doc:VersionCreated>
									<doc:Description>Structure for multi tree processed stem</doc:Description>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:unique name="UniqueSingleTreeProcessedStemLogKey">
								<xsd:selector xpath="sfd:Log"/>
								<xsd:field xpath="sfd:LogKey"/>
							</xsd:unique>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CalibrationReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Repair of measurement system"/>
			<xsd:enumeration value="Change in weather conditions"/>
			<xsd:enumeration value="Other reason"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ControlLogDiameterCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ub"/>
			<xsd:enumeration value="ob"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HarvestingQualityControlMessageCategory">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Measurement control"/>
			<xsd:enumeration value="Log data to caliper"/>
			<xsd:enumeration value="Calibration log"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RandomControlStemMeasurementModeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Both diameters and lengths registered"/>
			<xsd:enumeration value="Only lengths registered"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RandomControlStemRejectedReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Not rejected"/>
			<xsd:enumeration value="Stem defect"/>
			<xsd:enumeration value="Out of reach"/>
			<xsd:enumeration value="Part of stem mixed up with other stems"/>
			<xsd:enumeration value="Poor weather"/>
			<xsd:enumeration value="Bucking system error"/>
			<xsd:enumeration value="Caliper broken"/>
			<xsd:enumeration value="Other reasons not defined"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RandomControlStemSelectionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Randomly selected stem"/>
			<xsd:enumeration value="Manually by operator selected stem"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RandomFrequencyCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Number of stems"/>
			<xsd:enumeration value="Time"/>
			<xsd:enumeration value="Volume"/>
			<xsd:enumeration value="Not in use"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attributeGroup name="ControlLogDiameterAttributeGroup">
		<xsd:attribute name="diameterPosition" type="xsd:nonNegativeInteger" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:VarNumber>V374</doc:VarNumber>
					<doc:Unit>cm</doc:Unit>
					<doc:Description>Control position for diameter measuring from butt end of log. Used for log diameter vector (element ControlLogDiameter). The value must be the same for all logMeasurementcategory (Machine, Auditor, Operator). Element is used to connect diameter values measured by Machine, Auditor and Operator. </doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="controlLogDiameterCategory" type="ControlLogDiameterCategoryType" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list, allowed values: "ub" and "ob"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="diameterMeasurementCategory" type="DiameterMeasurementCategory" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:VersionModified>2.0</doc:VersionModified>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list, allowed values: "Average", "First" and "Second"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="diameterPositionCaliper" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>2.0</doc:VersionCreated>
					<doc:Unit>cm</doc:Unit>
					<doc:Description>Real position where diameter was actually measured. This position might deviate from diameterPosition if operator or auditor measured the diameter at a different position than given by diameterPosition. To be registered in caliper for Auditor and Operator.</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
</xsd:schema>
