MetsatietostandardiskeematV33.03/stanford2010/HarvestedProduction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Harvested Production  XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				HarvestedProduction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="HarvestedProduction" type="HarvestedProductionType">
		
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineKey"></xsd:field>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ClassifiedProductDefinitionMachineHarvestedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="ProductDefinitionWithDetailsType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType">
						
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupHarvestedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="DataTableGroupType">
				<xsd:sequence>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HarvestedProductionType">
		
		<xsd:sequence>
			<xsd:element name="HarvestedProductionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="Machine" type="MachineHarvestedProductionType" maxOccurs="unbounded">
				
				<xsd:unique name="UniqueStemNumber">
					<xsd:selector xpath="sfd:Stem"></xsd:selector>
					<xsd:field xpath="sfd:StemNumber"></xsd:field>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueStemKey">
					<xsd:selector xpath="sfd:Stem"></xsd:selector>
					<xsd:field xpath="sfd:StemKey"></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueDiameterSectionUserID">
					<xsd:selector xpath="sfd:DiameterSectionDefinition"></xsd:selector>
					<xsd:field xpath="sfd:DiameterSectionUserID"></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueOperatorUserID">
					<xsd:selector xpath="sfd:OperatorDefinition"></xsd:selector>
					<xsd:field xpath="sfd:OperatorUserID"></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueObjectUserID">
					<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:unique>
				<xsd:key name="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ProductDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ProductKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="ProductKeyRefSingleTreeProcessedStemLog" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:Stem/sfd:SingleTreeProcessedStem/sfd:Log"></xsd:selector>
					<xsd:field xpath="sfd:ProductKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="ProductKeyRefMultiTreeProcessedStemLog" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:Stem/sfd:MultiTreeProcessedStem/sfd:Log"></xsd:selector>
					<xsd:field xpath="sfd:ProductKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ProductDefinition/sfd:ClassifiedProductDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="SpeciesGroupKeyRefDiameterSectionDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:DiameterSectionDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="SpeciesGroupKeyRefStem" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:Stem"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="DiameterSectionKeyDiameterSectionDefinition">
					<xsd:selector xpath="sfd:DiameterSectionDefinition"></xsd:selector>
					<xsd:field xpath="sfd:DiameterSectionKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="DiameterSectionKeyRefSingleTreeProcessedStemLog" refer="DiameterSectionKeyDiameterSectionDefinition">
					<xsd:selector xpath="sfd:Stem/sfd:SingleTreeProcessedStem/sfd:Log/sfd:DiameterSectionProduction"></xsd:selector>
					<xsd:field xpath="sfd:DiameterSectionKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="DiameterSectionKeyRefMultiTreeProcessedStemLog" refer="DiameterSectionKeyDiameterSectionDefinition">
					<xsd:selector xpath="sfd:Stem/sfd:MultiTreeProcessedStem/sfd:Log/sfd:DiameterSectionProduction"></xsd:selector>
					<xsd:field xpath="sfd:DiameterSectionKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefStem" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:Stem"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefStem" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:Stem"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="hpr">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="LogHarvestedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="LogType">
				<xsd:sequence>
					<xsd:element name="LogMeasurement" type="LogMeasurementType">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineHarvestedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineWithHeadType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionWithDetailsAndKeyType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ProductDefinition" type="ProductDefinitionMachineHarvestedProductionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="DiameterSectionDefinition" type="DiameterSectionDefinitionMachineType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" maxOccurs="unbounded">
						
						<xsd:unique name="UniqueSubObjectKey">
							<xsd:selector xpath="SubObject"></xsd:selector>
							<xsd:field xpath="SubObjectKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="Stem" type="StemHarvestedProductionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="UserDefinedData" type="UserDefinedDataHarvestedProductionType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MultiTreeProcessedStemType">
		
		<xsd:sequence>
			<xsd:element name="StemBunchKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DBH" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ReferenceDiameter" type="ReferenceDiameterType">
				
			</xsd:element>
			<xsd:element name="StemGrade" type="StemGradeType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Log" type="LogHarvestedProductionType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MultiTreeFelledStemType">
		
		<xsd:sequence>
			<xsd:element name="StemBunchKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DBH" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ReferenceDiameter" type="ReferenceDiameterType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StemVolume" type="StemVolumeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionMachineHarvestedProductionType">
		
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionMachineHarvestedProductionType">
					
					<xsd:unique name="UniqueDiameterAndLenghtClasses">
						<xsd:selector xpath="sfd:ProductMatrixes/sfd:ProductMatrixItem"></xsd:selector>
						<xsd:field xpath="@diameterClassLowerLimit"></xsd:field>
						<xsd:field xpath="@lengthClassLowerLimit"></xsd:field>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="UnclassifiedProductDefinition" type="UnclassifiedProductDefinitionMachineType">
					
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleTreeFelledStemType">
		
		<xsd:sequence>
			<xsd:element name="DBH" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ReferenceDiameter" type="ReferenceDiameterType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StemVolume" type="StemVolumeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SingleTreeProcessedStemType">
		
		<xsd:sequence>
			<xsd:element name="DBH" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="ReferenceDiameter" type="ReferenceDiameterType">
				
			</xsd:element>
			<xsd:element name="StemGrade" type="StemGradeType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="StemDiameters" type="StemDiametersType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Log" type="LogHarvestedProductionType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemHarvestedProductionType">
		
		<xsd:complexContent>
			<xsd:extension base="StemType">
				<xsd:choice>
					<xsd:element name="SingleTreeProcessedStem" type="SingleTreeProcessedStemType">
						
						<xsd:unique name="UniqueSingleTreeProcessedStemLogKey">
							<xsd:selector xpath="sfd:Log"></xsd:selector>
							<xsd:field xpath="sfd:LogKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="MultiTreeProcessedStem" type="MultiTreeProcessedStemType">
						
						<xsd:unique name="UniqueMultiTreeProcessedStemLogKey">
							<xsd:selector xpath="sfd:Log"></xsd:selector>
							<xsd:field xpath="sfd:LogKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="SingleTreeFelledStem" type="SingleTreeFelledStemType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="MultiTreeFelledStem" type="MultiTreeFelledStemType">
						
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedDataHarvestedProductionType">
		
		<xsd:sequence>
			<xsd:element name="DataTableGroup" type="DataTableGroupHarvestedProductionType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
