MetsatietostandardiskeematV33.03/stanford2010/ObjectInstruction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Object Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ObjectInstruction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ObjectInstruction" type="ObjectInstructionType">
		
		<xsd:unique name="UniqueObjectUserID">
			<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
			<xsd:field xpath="sfd:ObjectUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="DiameterSectionDefinitionObjectInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="DiameterSectionDefinitionType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupUserID" type="UserIDType">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionObjectInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="DiameterSectionUserID" type="UserIDType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectInstructionType">
		
		<xsd:sequence>
			<xsd:element name="ObjectInstructionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionObjectInstructionType">
				
				<xsd:unique name="UniqueProductUserID">
					<xsd:selector xpath="sfd:ProductUserID"></xsd:selector>
					<xsd:field xpath="."></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueDiameterSectionUserID">
					<xsd:selector xpath="sfd:DiameterSectionUserID"></xsd:selector>
					<xsd:field xpath="."></xsd:field>
				</xsd:unique>
				<xsd:unique name="UniqueSubObjectUserID">
					<xsd:selector xpath="sfd:SubObject"></xsd:selector>
					<xsd:field xpath="sfd:SubObjectUserID"></xsd:field>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="DiameterSectionDefinition" type="DiameterSectionDefinitionObjectInstructionType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="oin">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="SubObjectDefinitionObjectInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="SubObjectDefinitionType"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="DistributionMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Adaptive"></xsd:enumeration>
			<xsd:enumeration value="Near optimal"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
