MetsatietostandardiskeematV33.03/stanford2010/ObjectGeographicalInstruction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Object Geographical Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ObjectGeographicalInstruction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ObjectGeographicalInstruction" type="ObjectGeographicalInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the Object Geographical Instruction message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueObjectUserID">
			<xsd:selector xpath="sfd:ObjectDefinition"/>
			<xsd:field xpath="sfd:ObjectUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="GeographicDirectiveObjectGeographicalInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>GeograpicDirectiveObjectGeographicalInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AlarmCoordinates" type="CoordinatesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Alarm coordinates for harvesting object. These
coordinates may be used in case of an emergency in order
to quickly give a rescue team the approximate coordinates
of the machine.Only one set per object is allowed.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AlarmCoordinateDescription" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>2.1</doc:VersionCreated>
						<doc:Unit>free text</doc:Unit>
						<doc:Description>Extra information about alarm coordinates for operator.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TrackingCategory" type="TrackingCategoryType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v464_t1</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Indicates what type of tracking file is to be generated by the forest machine. Allowed values are:
"Points","Lines","Plygons" and "No tracking file needed"
Observe that this information is set by logging
organisation..</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GISCoordinateReferenceSystem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v467_t2</doc:VarNumber>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Coordinate reference system used for all layers/gis-files, codes according to the EPSG database
(http://www.epsg.org/), see also appendix. Does not affect
coordinates registered in StanForD files.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GISLayer" type="GISLayerObjectGeographicalInstructionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure with data for each gis layer.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GISLayerObjectGeographicalInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>GISLayerObjectGeographicalInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="GISLayerType">
				<xsd:sequence>
					<xsd:element name="TrackingFile" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>v460_t12</doc:VarNumber>
								<doc:Unit>true/false</doc:Unit>
								<doc:Description>Layer supposed to be used for storing tracking data in machine, only valid if TrackingCategory has value "Points","Lines" or "Plygons".  Can be true only for one layer per ogi message. 
Observe that this is an instruction sent to the machine from the logging organisation.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GISFileLayerDescription" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>vr460_t13</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Name of gis-layer to be used in user interface instead of file name.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GISFileMAXScale" type="xsd:nonNegativeInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>vr460_t14</doc:VarNumber>
								<doc:Description>Max scale per layer. Example, if value is 10000 then max scale for showing present layer is 1:10 000. </doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GISFileMINScale" type="xsd:nonNegativeInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>vr460_t15</doc:VarNumber>
								<doc:Description>Min scale per layer. Example, if value is 1500 then min scale for showing present layer is 1:1500. </doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GISDatabaseFileSpecification" type="GISDatabaseFileSpecificationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for describing db-files</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="GISFileFormatPoint" type="GISFileFormatPointType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<doc:VersionCreated>1.0</doc:VersionCreated>
									<doc:Description>Format classes for points, per layer. </doc:Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GISFileFormatLine" type="GISFileFormatLineType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<doc:VersionCreated>1.0</doc:VersionCreated>
									<doc:Description>Format classes for lines, per layer. </doc:Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="GISFileFormatPolygon" type="GISFileFormatPolygonType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<doc:VersionCreated>1.0</doc:VersionCreated>
									<doc:Description>Format classes for polygon, per layer. </doc:Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionObjectGeographicalInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ObjectDefinitionObjectGeographicalInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="GeographicDirective" type="GeographicDirectiveObjectGeographicalInstructionType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for GIS data</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectGeographicalInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ObjectGeographicalInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectGeographicalInstructionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionObjectGeographicalInstructionType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for object specific data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueSubObectUserID">
					<xsd:selector xpath="SubObject"/>
					<xsd:field xpath="SubObjectUserID"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="ogi">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Object Geographical Instruction message is: "ogi"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
</xsd:schema>
