MetsatietostandardiskeematV33.03/stanford2010/ObjectInstruction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Object Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ObjectInstruction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ObjectInstruction" type="ObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the Object Product Instruction message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueObjectUserID">
			<xsd:selector xpath="sfd:ObjectDefinition"/>
			<xsd:field xpath="sfd:ObjectUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="DiameterSectionDefinitionObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>DiameterSectionDefinitionObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DiameterSectionDefinitionType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupUserID" type="UserIDType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>v120_t3</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per species group defined by user of data, normally by  logging organisation.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ObjectDefinitionObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V121_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per product defined by user of data, normally
logging organisation</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DiameterSectionUserID" type="UserIDType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V531_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per diameter sections defined by user of data, normally logging organisation</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>ObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectInstructionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ObjectDefinition" type="ObjectDefinitionObjectInstructionType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for object specific data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueProductUserID">
					<xsd:selector xpath="sfd:ProductUserID"/>
					<xsd:field xpath="."/>
				</xsd:unique>
				<xsd:unique name="UniqueDiameterSectionUserID">
					<xsd:selector xpath="sfd:DiameterSectionUserID"/>
					<xsd:field xpath="."/>
				</xsd:unique>
				<xsd:unique name="UniqueSubObjectUserID">
					<xsd:selector xpath="sfd:SubObject"/>
					<xsd:field xpath="sfd:SubObjectUserID"/>
				</xsd:unique>
			</xsd:element>
			<xsd:element name="DiameterSectionDefinition" type="DiameterSectionDefinitionObjectInstructionType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for diameter section specific data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="oin">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Object Instruction message is: "oin"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SubObjectDefinitionObjectInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>SubObjectDefinitionObjectInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SubObjectDefinitionType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="DistributionMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Adaptive"/>
			<xsd:enumeration value="Near optimal"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
