MetsatietostandardiskeematV33.03/stanford2010/ObjectGeographicalReport_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Object Geographical Report XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				ObjectGeographicalReport_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="ObjectGeographicalReport" type="ObjectGeographicalReportType">
		
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineKey"></xsd:field>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="MachineUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="GeographicDirectiveObjectGeographicalReportType">
		
		<xsd:sequence>
			<xsd:element name="AlarmCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="GISCoordinateReferenceSystem" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="GISLayer" type="GISLayerObjectGeographicalReportType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GISLayerObjectGeographicalReportType">
		
		<xsd:complexContent>
			<xsd:extension base="GISLayerType">
				<xsd:sequence>
					<xsd:element name="GISFileModificationDate" type="ModificationDateType">
						
					</xsd:element>
					<xsd:element name="GISFileModified" type="GISFileModifiedType">
						
					</xsd:element>
					<xsd:element name="TrackingFileCategory" type="TrackingCategoryType">
						
					</xsd:element>
					<xsd:element name="GISDatabaseFileSpecification" type="GISDatabaseFileSpecificationType">
						
					</xsd:element>
					<xsd:choice>
						<xsd:element name="GISFileFormatPoint" type="GISFileFormatPointType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
						<xsd:element name="GISFileFormatLine" type="GISFileFormatLineType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
						<xsd:element name="GISFileFormatPolygon" type="GISFileFormatPolygonType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineObjectGeographicalReportType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineWithHeadType">
				<xsd:sequence>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionObjectGeographicalReportType" maxOccurs="unbounded">
						
						<xsd:unique name="UniqueObjectKey">
							<xsd:selector xpath="sfd:ObjectKey"></xsd:selector>
							<xsd:field xpath="."></xsd:field>
						</xsd:unique>
						<xsd:unique name="UniqueObjectUserID">
							<xsd:selector xpath="sfd:ObjectUserID"></xsd:selector>
							<xsd:field xpath="."></xsd:field>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionObjectGeographicalReportType">
		
		<xsd:complexContent>
			<xsd:extension base="ObjectDefinitionMachineType">
				<xsd:sequence>
					<xsd:element name="TextToMachine" type="xsd:string" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="GeographicDirective" type="GeographicDirectiveObjectGeographicalReportType">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectGeographicalReportType">
		
		<xsd:sequence>
			<xsd:element name="ObjectGeographicalReportHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="Machine" type="MachineObjectGeographicalReportType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="ogr">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:simpleType name="GISFileModifiedType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Not modified"></xsd:enumeration>
			<xsd:enumeration value="Modified"></xsd:enumeration>
			<xsd:enumeration value="New"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
