MetsatietostandardiskeematV33.03/stanford2010/OperationalMonitoring_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Operational Monitoring XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				OperationalMonitoring_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" xmlns:col="urn:skogforsk:stanford2010:codelist">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:skogforsk:stanford2010:codelist" schemaLocation="StanForD2010CodeList_V3p1_no_documentation.xsd"></xsd:import>
	<!-- ===== Root Element ===== -->
	<xsd:element name="OperationalMonitoring" type="OperationalMonitoringType">
		
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineKey"></xsd:field>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"></xsd:selector>
			<xsd:field xpath="sfd:MachineUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="CarrierRepairReasonType">
		
		<xsd:choice>
			<xsd:element name="Electrical" type="col:CarrierElectricalRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Hydraulics" type="col:CarrierHydraulicsRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Mechanical" type="col:CarrierMechanicalRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Air" type="col:CarrierAirRepairReasonCodeType">
				
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CombinedMachineRunTimeType">
		
		<xsd:sequence>
			<xsd:element name="MachineRunTimeCategory" type="MachineRunTimeCategoryType">
				
			</xsd:element>
			<xsd:element name="TimeLength" type="xsd:positiveInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CombinedMachineDownTimeType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineDownTimeType">
				<xsd:sequence>
					<xsd:element name="StartTime" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="TimeLength" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CombinedMachineWorkTimeType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="StartTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="MonitoringSettingsKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OtherMachineData" type="OtherMachineDataType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="CombinedMachineRunTime" type="CombinedMachineRunTimeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="CombinedMachineDownTime" type="CombinedMachineDownTimeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="CombinedUnutilizedTime" type="CombinedUnutilizedTimeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="CombinedEndTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CombinedUnutilizedTimeType">
		
		<xsd:sequence>
			<xsd:element name="UnutilizedTimeCategory" type="col:UnutilizedTimeCategoryType">
				
			</xsd:element>
			<xsd:element name="TimeLength" type="xsd:positiveInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupOperationalMonitoringType">
		
		<xsd:complexContent>
			<xsd:extension base="DataTableGroupType">
				<xsd:choice>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="ShifKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DisturbanceType">
		
		<xsd:sequence>
			<xsd:element name="DisturbanceStandardCode" type="col:DisturbanceCodeType">
				
			</xsd:element>
			<xsd:element name="DisturbanceManufacturerCode" type="ManufacturerCodeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForwarderDataType">
		
		<xsd:sequence>
			<xsd:element name="ForwardedGreenMass" type="NonNegativeDecimal" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="TotalForwardedVolume" type="TotalForwardedVolumeType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="NumberOfLoads" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoadNumberOfItems" type="LoadNumberOfItemsType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DeliveryDefinitionEstimation" type="DeliveryEstimationType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FrequencyShortDownTimesType">
		
		<xsd:complexContent>
			<xsd:extension base="ShortDownTimeType">
				<xsd:sequence>
					<xsd:element name="LowerTimeLimit" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="UpperTimeLimit" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="NoOfShortDownTimes" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="StartTime" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="CombinedEndTime" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HarvesterDataType">
		
		<xsd:sequence>
			<xsd:element name="TotalVolumeOfHarvestedLogs" type="TotalVolumeOfHarvestedLogsType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="NumberOfHarvestedStems" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="ProcessingCategory" type="ProcessingCategoryType">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HarvestingHeadRepairReasonType">
		
		<xsd:choice>
			<xsd:element name="Electrical" type="col:HarvestingHeadElectricalRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Hydraulics" type="col:HarvestingHeadHydraulicsRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Mechanical" type="col:HarvestingHeadMechanicalRepairReasonCodeType">
				
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IndividualMachineWorkTimeType">
		
		<xsd:complexContent>
			<xsd:extension base="MonitoringTimeType">
				<xsd:sequence>
					<xsd:element name="MonitoringSettingsKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="OtherMachineData" type="OtherMachineDataType" minOccurs="0">
						
					</xsd:element>
					<xsd:choice>
						<xsd:element name="IndividualMachineRunTimeCategory" type="MachineRunTimeCategoryType">
							
						</xsd:element>
						<xsd:element name="IndividualMachineDownTime" type="MachineDownTimeType">
							
						</xsd:element>
						<xsd:element name="IndividualUnutilizedTimeCategory" type="col:UnutilizedTimeCategoryType">
							
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IndividualShortDownTimeType">
		
		<xsd:complexContent>
			<xsd:extension base="ShortDownTimeType">
				<xsd:sequence>
					<xsd:element name="MonitoringStartTime" type="StanForD2010DateTimeType">
						
					</xsd:element>
					<xsd:element name="MonitoringTimeLength" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LoaderLinkageRepairReasonType">
		
		<xsd:choice>
			<xsd:element name="Electrical" type="col:LoaderLinkageElectricalRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Hydraulics" type="col:LoaderLinkageHydraulicsRepairReasonCodeType">
				
			</xsd:element>
			<xsd:element name="Mechanical" type="col:LoaderLinkageMechanicalRepairReasonCodeType">
				
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="MachineDownTimeType">
		
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Repair" type="RepairType">
					
				</xsd:element>
				<xsd:element name="Maintenance" type="MaintenanceType">
					
				</xsd:element>
				<xsd:element name="Disturbance" type="DisturbanceType">
					
				</xsd:element>
				<xsd:element name="OtherMachineDownTimeCategory" type="OtherMachineDownTimeType">
					
				</xsd:element>
			</xsd:choice>
			<xsd:element name="SpareParts" type="SparePartsType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MachineOperationalMonitoringType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineWithHeadType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionOperationalMonitoringType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" minOccurs="0" maxOccurs="unbounded">
						
						<xsd:unique name="UniqueSubObjectKey">
							<xsd:selector xpath="SubObject"></xsd:selector>
							<xsd:field xpath="SubObjectKey"></xsd:field>
						</xsd:unique>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="IndividualMachineWorkTime" type="IndividualMachineWorkTimeType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
						<xsd:element name="CombinedMachineWorkTime" type="CombinedMachineWorkTimeType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
					</xsd:choice>
					<xsd:element name="OperatorLoginTime" type="OperatorLoginTimeType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="OperatorShiftDefinition" type="OperatorShiftDefinitionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="OperatorWorkTime" type="OperatorWorkTimeType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="ReportInterval" type="ReportIntervalType">
						
					</xsd:element>
					<xsd:element name="MonitoringSettings" type="MonitoringSettingsType" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="MachineEngineTime" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="MachineDrivenDistance" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="MachineFuelConsumption" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:choice>
						<xsd:element name="IndividualShortDownTime" type="IndividualShortDownTimeType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
						<xsd:element name="FrequencyShortDownTimes" type="FrequencyShortDownTimesType" minOccurs="0" maxOccurs="unbounded">
							
						</xsd:element>
					</xsd:choice>
					<xsd:element name="UserDefinedData" type="UserDefinedDataOperationalMonitoringType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineRunTimeCategoryType">
		
		<xsd:simpleContent>
			<xsd:extension base="col:MachineRunTimeCategoryListType">
				<xsd:attribute name="otherWorkCategory" type="col:OtherWorkCategoryType">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MaintenanceType">
		
		<xsd:sequence>
			<xsd:element name="MaintenanceStandardCode" type="col:MaintenanceCodeType">
				
			</xsd:element>
			<xsd:element name="MaintenanceManufacturerCode" type="ManufacturerCodeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ManufacturerCodeType">
		
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="CodeDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonitoringSettingsType">
		
		<xsd:sequence>
			<xsd:element name="MonitoringFilterTimeDown" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="MonitoringFilterTimeRun" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="MonitoringFilterTimeMinimum" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="MonitoringSettingsKey" type="xsd:positiveInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonitoringTimeType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="MonitoringStartTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="MonitoringTimeLength" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationalMonitoringType">
		
		<xsd:sequence>
			<xsd:element name="OperationalMonitoringHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="Machine" type="MachineOperationalMonitoringType" maxOccurs="unbounded">
				
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefIndividualMachineWorkTime" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:IndividualMachineWorkTime/sfd:OtherMachineData/sfd:HarvesterData"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="SpeciesGroupKeyRefCombinedMachineWorkTime" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:CombinedMachineWorkTime/sfd:OtherMachineData/sfd:HarvesterData"></xsd:selector>
					<xsd:field xpath="sfd:SpeciesGroupKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefIndividualMachineWorkTime" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:IndividualMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="OperatorKeyRefCombinedMachineWorkTime" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:CombinedMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="OperatorKeyRefOperatorLoginTime" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorLoginTime"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="OperatorKeyRefOperatorWorkTime" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="OperatorKeyRefIndividualShortDownTime" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:IndividualShortDownTime"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="OperatorKeyRefFrequencyShortDownTimes" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:FrequencyShortDownTimes"></xsd:selector>
					<xsd:field xpath="sfd:OperatorKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ObjectDefinition"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefIndividualMachineWorkTime" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:IndividualMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="ObjectKeyRefCombinedMachineWorkTime" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:CombinedMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="ObjectKeyRefOperatorWorkTime" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:OperatorWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="ObjectKeyRefIndividualShortDownTime" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:IndividualShortDownTime"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="ObjectKeyRefFrequencyShortDownTimes" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:FrequencyShortDownTimes"></xsd:selector>
					<xsd:field xpath="sfd:ObjectKey"></xsd:field>
				</xsd:keyref>
				<xsd:key name="MonitoringSettingsKeyMonitoringSettings">
					<xsd:selector xpath="sfd:MonitoringSettings"></xsd:selector>
					<xsd:field xpath="sfd:MonitoringSettingsKey"></xsd:field>
				</xsd:key>
				<xsd:keyref name="MonitoringSettingsKeyRefIndividualMachineWorkTime" refer="MonitoringSettingsKeyMonitoringSettings">
					<xsd:selector xpath="sfd:IndividualMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:MonitoringSettingsKey"></xsd:field>
				</xsd:keyref>
				<xsd:keyref name="MonitoringSettingsKeyRefCombinedMachineWorkTime" refer="MonitoringSettingsKeyMonitoringSettings">
					<xsd:selector xpath="sfd:CombinedMachineWorkTime"></xsd:selector>
					<xsd:field xpath="sfd:MonitoringSettingsKey"></xsd:field>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="mom">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="OperatorLoginTimeType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="MonitoringStartTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="MonitoringTimeLength" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OperatorLogInCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="OperatorLogOutCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperatorShiftDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="ShifKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ShiftOrder" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ShiftCategory" type="ShiftCategoryType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ShiftDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ShiftStartTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ShiftEndTime" type="StanForD2010DateTimeType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperatorWorkTimeType">
		
		<xsd:complexContent>
			<xsd:extension base="MonitoringTimeType">
				<xsd:sequence>
					<xsd:element name="ShifKey" type="xsd:positiveInteger" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="OperatorWorkTimeCategory" type="col:OperatorWorkTimeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OtherMachineDataType">
		
		<xsd:sequence>
			<xsd:element name="EngineTime" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="DrivenDistance" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="FuelConsumption" type="NonNegativeDecimal">
				
			</xsd:element>
			<xsd:choice>
				<xsd:element name="HarvesterData" type="HarvesterDataType" minOccurs="0" maxOccurs="unbounded">
					
				</xsd:element>
				<xsd:element name="ForwarderData" type="ForwarderDataType" minOccurs="0">
					
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherMachineDownTimeType">
		
		<xsd:sequence>
			<xsd:element name="OtherMachineDownTimeStandardCode" type="col:OtherMachineDownTimeCodeCategoryType">
				
			</xsd:element>
			<xsd:element name="OtherMachineDownTimeManufacturerCode" type="ManufacturerCodeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RepairType">
		
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="CarrierRepairReason" type="CarrierRepairReasonType">
					
				</xsd:element>
				<xsd:element name="LoaderLinkageRepairReason" type="LoaderLinkageRepairReasonType">
					
				</xsd:element>
				<xsd:element name="HarvestingHeadRepairReason" type="HarvestingHeadRepairReasonType">
					
				</xsd:element>
				<xsd:element name="OtherRepairReason" type="col:OtherRepairReasonType">
					
				</xsd:element>
			</xsd:choice>
			<xsd:element name="RepairManufacturerCode" type="ManufacturerCodeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportIntervalType">
		
		<xsd:sequence>
			<xsd:element name="ReportStartTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ReportEndTime" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ReportFilterCategory" type="ReportFilterCategoryType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShortDownTimeType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SparePartsType">
		
		<xsd:sequence>
			<xsd:element name="SparePartIdentity" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="SparePartDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SparePartsNoOfItems" type="xsd:positiveInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionOperationalMonitoringType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonSpeciesGroupDefinitionType">
				<xsd:sequence>
					<xsd:element name="DBHHeight" type="DBHHeightType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="Grades" type="GradesType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="BarkFunction" type="BarkFunctionType" nillable="true" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="SoundKnotFunction" type="SoundKnotFunctionType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="ButtEndProfileExtrapolation" type="ButtEndProfileExtrapolationType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="EstonianVolumeParameters" type="EstonianVolumeParametersType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="StemCode" type="StemCodeType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TotalForwardedVolumeType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="forwardedVolumeCategory" type="ForwardedVolumeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TotalVolumeOfHarvestedLogsType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="harvestedLogsVolumeCategory" type="HarvestedLogsVolumeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedDataOperationalMonitoringType">
		
		<xsd:sequence>
			<xsd:element name="DataTableGroup" type="DataTableGroupOperationalMonitoringType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ForwardedVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Volume, m3sob"></xsd:enumeration>
			<xsd:enumeration value="Volume, m3sub"></xsd:enumeration>
			<xsd:enumeration value="Loose volume, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume including bark, branches and needles, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume of bundles (length*cross sectional area), m3"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HarvestedLogsVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m3sob"></xsd:enumeration>
			<xsd:enumeration value="m3sub"></xsd:enumeration>
			<xsd:enumeration value="m3sobEstimated"></xsd:enumeration>
			<xsd:enumeration value="m3subEstimated"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReportFilterCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No filter"></xsd:enumeration>
			<xsd:enumeration value="Object filter "></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ShiftCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Not defined"></xsd:enumeration>
			<xsd:enumeration value="Morning"></xsd:enumeration>
			<xsd:enumeration value="Day"></xsd:enumeration>
			<xsd:enumeration value="Evening"></xsd:enumeration>
			<xsd:enumeration value="Night"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
