MetsatietostandardiskeematV33.03/stanford2010/SpeciesGroupInstruction_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Species Group Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				SpeciesGroupInstruction_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1_no_documentation.xsd"></xsd:include>
	<!-- ===== Root Element ===== -->
	<xsd:element name="SpeciesGroupInstruction" type="SpeciesGroupInstructionType">
		
		<xsd:unique name="UniqueSpeciesGroupUserID">
			<xsd:selector xpath="sfd:SpeciesGroupDefinition"></xsd:selector>
			<xsd:field xpath="sfd:SpeciesGroupUserID"></xsd:field>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="SpeciesGroupInstructionType">
		
		<xsd:sequence>
			<xsd:element name="SpeciesGroupInstructionHeader" type="MessageHeaderType">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionSpeciesGroupInstructionType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="spi">
			
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionSpeciesGroupInstructionType">
		
		<xsd:complexContent>
			<xsd:extension base="SpeciesGroupDefinitionWithDetailsType">
				<xsd:sequence>
					<xsd:element name="SpeciesDefinition" type="SpeciesDefinitionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
