MetsatietostandardiskeematV33.03/stanford2010/SpeciesGroupInstruction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  Species Group Instruction XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				SpeciesGroupInstruction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="SpeciesGroupInstruction" type="SpeciesGroupInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the Product Instruction message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueSpeciesGroupUserID">
			<xsd:selector xpath="sfd:SpeciesGroupDefinition"/>
			<xsd:field xpath="sfd:SpeciesGroupUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="SpeciesGroupInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>SpeciesGroupInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpeciesGroupInstructionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionSpeciesGroupInstructionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Definition of species used in this production instruction message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="spi">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Species Group Instruction message is: "spi"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionSpeciesGroupInstructionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>SpeciesGroupDefinitionSpeciesGroupInstructionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpeciesGroupDefinitionWithDetailsType">
				<xsd:sequence>
					<xsd:element name="SpeciesDefinition" type="SpeciesDefinitionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for species included in a species group.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
