MetsatietostandardiskeematV33.03/stanford2010/StanForD2010CommonDefinitions_V3p1_no_documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- ***  StanForD 2010 Common Definitions file 						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				StanForD2010CommonDefinitions_V3p1_no_documentation.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010">
	<xsd:complexType name="AddressType">
		
		<xsd:sequence>
			<xsd:element name="Street" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="City" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Province" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Country" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BarkDeductionType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="lowerDiameterLimit" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BarkDeductionDistanceType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="distanceClassLowerLimit" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="dBHClassLowerLimit" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BarkFunctionType">
		
		<xsd:choice minOccurs="0">
			<xsd:element name="SwedishZacco" type="SwedishZaccoType">
				
			</xsd:element>
			<xsd:element name="German" type="GermanType">
				
			</xsd:element>
			<xsd:element name="GermanDistanceBased" type="GermanDistanceType">
				
			</xsd:element>
			<xsd:element name="Skogforsk2004ScotsPine" type="Skogforsk2004ScotsPineType">
				
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="barkFunctionCategory" type="BarkFunctionCategoryType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ButtEndProfileExtrapolationFunctionParameterType">
		
		<xsd:sequence>
			<xsd:element name="ParameterName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ParameterValue" type="xsd:decimal">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ButtEndProfileExtrapolationFunctionType">
		
		<xsd:sequence>
			<xsd:element name="Parameter" type="ButtEndProfileExtrapolationFunctionParameterType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ButtEndProfileExtrapolationFunctionCategory" type="ButtEndProfileExtrapolationFunctionCategoryType" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ButtEndProfileExtrapolationTableType">
		
		<xsd:sequence>
			<xsd:element name="ExtrapolationCoefficient" type="ExtrapolationCoefficientType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ButtEndProfileExtrapolationType">
		
		<xsd:sequence>
			<xsd:element name="ReferenceHeight" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="ButtEndProfileExtrapolationTable" type="ButtEndProfileExtrapolationTableType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ButtEndProfileExtrapolationFunction" type="ButtEndProfileExtrapolationFunctionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="buttEndProfileExtrapolationMethod" type="ButtEndProfileExtrapolationMethodType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ColumnDataType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="columnID" type="xsd:string" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="columnName" type="xsd:string" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="columnOrder" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="cellID" type="xsd:string" use="optional">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CoordinatesType">
		
		<xsd:sequence>
			<xsd:element name="Latitude" type="LatitudeType">
				
			</xsd:element>
			<xsd:element name="Longitude" type="LongitudeType">
				
			</xsd:element>
			<xsd:element name="Altitude" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="CoordinateDate" type="StanForD2010DateTimeType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="CoordinatesAttributeGroup"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="CommonDeliveryDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="DeliveryUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="DeliveryName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="DeliveryInfo" type="InfoType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DeliveryVersion" type="VersionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DeliveryDestination" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Density" type="DensityType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="DeliveryPresentationOrder" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DeliveryDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonLocationDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="LocationUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="LocationName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LocationInfo" type="InfoType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LocationVersion" type="VersionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="HarvestDate" type="StanForD2010DateTimeType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LocationCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="RoadCondition" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LocationDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonObjectDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="ObjectUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="ObjectName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ObjectModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="ForestCertification" type="ForestCertificationType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="LoggingForm" type="LoggingFormType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ObjectArea" type="PositiveDecimal" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoggingOrganisation" type="LoggingOrganisationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ForestOwner" type="ContactInformationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ContractNumber" type="ContractNumberType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="RealEstateIDObject" type="RealEstateIDObjectType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="AuditingOrganisation" type="ContactInformationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonProductDefinitionType" abstract="true">
		
		<xsd:sequence>
			<xsd:element name="ProductName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="ProductInfo" type="InfoType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductVersion" type="VersionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductBuyer" type="ContactInformationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductClass" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoggingOrganisation" type="LoggingOrganisationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductDestination" type="ContactInformationType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="ProductGroupName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StemTypeCode" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductPresentationOrder" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonSpeciesGroupDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="SpeciesGroupModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupInfo" type="InfoType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupVersion" type="VersionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StemTypeDefinition" type="StemTypeDefinitionType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="LoggingOrganisation" type="LoggingOrganisationType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupPresentationOrder" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComplementaryGISFilesType">
		
		<xsd:sequence>
			<xsd:element name="ComplementaryGISFilename" type="xsd:string" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		
		<xsd:sequence>
			<xsd:element name="FirstName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LastName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Address" type="AddressType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Phone" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Fax" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Email" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="BusinessName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="BusinessID" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractNumberType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="ContractCategory" type="xsd:string">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CuttingCategoryType">
		
		<xsd:sequence>
			<xsd:element name="CuttingReason" type="CuttingReasonType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CuttingWindowDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="LowerLengthLimit" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="UpperLengthLimit" type="xsd:integer">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupType">
		
		<xsd:sequence>
			<xsd:element name="DataTable" type="DataTableType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="tableGroupID" type="xsd:string" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="tableGroupName" type="xsd:string" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DataTableType">
		
		<xsd:sequence>
			<xsd:element name="Row" type="RowType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="tableID" type="xsd:string" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="tableName" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DBHHeightType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DeliveryDefinitionWithDetailsType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonDeliveryDefinitionType">
				<xsd:sequence>
					<xsd:element name="DeliveryKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="DeliveryEstimation" type="DeliveryEstimationType">
						
					</xsd:element>
					<xsd:element name="ProductKey" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeliveryEstimationType">
		
		<xsd:sequence>
			<xsd:element name="DeliveryEstimationMethod" type="DeliveryEstimationMethodType">
				
			</xsd:element>
			<xsd:element name="DeliveryEstimationUnit" type="DeliveryEstimationUnitType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiameterClassesType">
		
		<xsd:sequence>
			<xsd:element name="DiameterClass" type="DiameterClassType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="DiameterClassMAX" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="DiameterClassAdjustment" type="DiameterClassAdjustmentType">
				
			</xsd:element>
			<xsd:element name="DiameterUnderBark" type="xsd:boolean">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="diameterClassCategory" type="DiameterClassCategoryType" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DiameterClassType">
		
		<xsd:sequence>
			<xsd:element name="DiameterClassLowerLimit" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DiameterClassName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiameterDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="DiameterClasses" type="DiameterClassesType">
				
			</xsd:element>
			<xsd:element name="DiameterMINTop" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DiameterMAXButt" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DiameterTopPosition" type="xsd:nonNegativeInteger">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DiameterSectionDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="DiameterSectionUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="DiameterSectionName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="MinimumDiameter" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="MinimumLength" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="DiameterSectionUsage" type="DiameterSectionUsageType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiameterSectionDefinitionMachineType">
		
		<xsd:complexContent>
			<xsd:extension base="DiameterSectionDefinitionType">
				<xsd:sequence>
					<xsd:element name="DiameterSectionKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DiameterSectionProductionType">
		
		<xsd:sequence>
			<xsd:element name="DiameterSectionKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="DiameterSectionVolume" type="NonNegativeDecimal">
				
			</xsd:element>
			<xsd:element name="DiameterSectionLimitPosition" type="xsd:nonNegativeInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DiameterValueType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:nonNegativeInteger">
				<xsd:attribute name="diameterPosition" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="diameterMeasurementCategory" type="DiameterMeasurementCategory" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DensityType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="densityCategory" type="DensityCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EstonianVolumeParametersType">
		
		<xsd:sequence>
			<xsd:element name="ParameterA1" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="ParameterA2" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="ParameterA3" type="xsd:decimal">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtensionType">
		
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
		<xsd:attribute name="extensionAction" type="ExtensionActionType">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ExtrapolationCoefficientType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="diameterClass" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="distanceClass" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FormatFontType">
		
		<xsd:sequence>
			<xsd:element name="FormatFontFileName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="FormatFontName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="FormatSymbolNumber" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="FormatSymbolSize" type="xsd:nonNegativeInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GermanType">
		
		<xsd:sequence>
			<xsd:element name="BarkDeduction" type="BarkDeductionType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GermanDistanceType">
		
		<xsd:sequence>
			<xsd:element name="BarkDeduction" type="BarkDeductionDistanceType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="DistanceClassLowerLimit" type="xsd:nonNegativeInteger" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="DBHClassLowerLimit" type="xsd:nonNegativeInteger" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GISDatabaseFileSpecificationType">
		
		<xsd:sequence>
			<xsd:element name="ColumnNameObject" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ColumnNameSubObject" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameFeature" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ColumnNameID" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameTreatment" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameMarked" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameWarning" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameWarningDistance" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnNameFormatID" type="xsd:string">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GISFileFormatType">
		
		<xsd:sequence>
			<xsd:element name="FormatID" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="FormatName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="FormatDefaultClass" type="xsd:boolean">
				
			</xsd:element>
			<xsd:element name="FormatColor" type="xsd:integer">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GISFileFormatLineType">
		
		<xsd:complexContent>
			<xsd:extension base="GISFileFormatType">
				<xsd:sequence>
					<xsd:element name="FormatLineStyle" type="FormatLineStyleType">
						
					</xsd:element>
					<xsd:element name="FormatLineThickness" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="TopRendering" type="TopRenderingLineType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GISFileFormatPointType">
		
		<xsd:complexContent>
			<xsd:extension base="GISFileFormatType">
				<xsd:sequence>
					<xsd:element name="FormatFont" type="FormatFontType">
						
					</xsd:element>
					<xsd:element name="TopRendering" type="TopRenderingPointType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GISFileFormatPolygonType">
		
		<xsd:complexContent>
			<xsd:extension base="GISFileFormatType">
				<xsd:sequence>
					<xsd:element name="FormatLineStyle" type="FormatLineStyleType">
						
					</xsd:element>
					<xsd:element name="FormatLineThickness" type="xsd:nonNegativeInteger">
						
					</xsd:element>
					<xsd:element name="FormatFillStyle" type="FormatFillStyleType">
						
					</xsd:element>
					<xsd:element name="TopRendering" type="TopRenderingPolygonType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GISLayerType">
		
		<xsd:sequence>
			<xsd:element name="GISFileName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="GISFileOrder" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ComplementaryGISFiles" type="ComplementaryGISFilesType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GradesType">
		
		<xsd:sequence>
			<xsd:element name="StartGrade" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="MTHStartGrade" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Grade" type="GradeType" maxOccurs="16">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GradeType">
		
		<xsd:sequence>
			<xsd:element name="GradeNumber" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="GradeName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GradeValueType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:nonNegativeInteger">
				<xsd:attribute name="gradeStartPosition" type="xsd:nonNegativeInteger" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InfoType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LatitudeType">
		
		<xsd:simpleContent>
			<xsd:extension base="LatitudeLongitudeValueType">
				<xsd:attribute name="latitudeCategory" type="LatitudeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="LengthClassAdjustment" type="LengthClassAdjustmentType">
				
			</xsd:element>
			<xsd:element name="LengthClass" type="LengthClassType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="LengthClassMAX" type="xsd:nonNegativeInteger">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LengthDistributionDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="DistributionAllowed" type="xsd:boolean">
				
			</xsd:element>
			<xsd:element name="DistributionCategory" type="DistributionCategoryType">
				
			</xsd:element>
			<xsd:element name="MAXDeviation" type="NonNegativeDecimal">
				
			</xsd:element>
			<xsd:element name="DistributionWithinProduct" type="xsd:boolean">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LengthClassType">
		
		<xsd:sequence>
			<xsd:element name="LengthClassLowerLimit" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="LengthClassMargin" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="LongTimberDefinition" type="LongTimberDefinitionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitationDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="LimitationCategory" type="LimitationCategoryType">
				
			</xsd:element>
			<xsd:element name="LimitationResult" type="LimitationResultType">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LoadNumberOfItemsType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="loadNumberOfCategory" type="LoadNumberCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LogColorMarkingType">
		
		<xsd:sequence>
			<xsd:element name="Color1" type="xsd:boolean">
				
			</xsd:element>
			<xsd:element name="Color2" type="xsd:boolean">
				
			</xsd:element>
			<xsd:element name="Color3" type="xsd:boolean">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogDiameterType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="logDiameterCategory" type="LogDiameterCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LoggingFormType">
		
		<xsd:sequence>
			<xsd:element name="LoggingFormCode" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoggingFormDescription" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="agency" type="AgencyType">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LoggingOrganisationType">
		
		<xsd:sequence>
			<xsd:element name="ContactInformation" type="ContactInformationType">
				
			</xsd:element>
			<xsd:element name="District" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Team" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogMeasurementType">
		
		<xsd:sequence>
			<xsd:element name="LogDiameter" type="LogDiameterType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="LogLength" type="xsd:positiveInteger">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="logMeasurementCategory" type="LogMeasurementCategoryType" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="LogType">
		
		<xsd:sequence>
			<xsd:element name="LogKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="LogVolume" type="LogVolumeType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="CuttingCategory" type="CuttingCategoryType">
				
			</xsd:element>
			<xsd:element name="DiameterSectionProduction" type="DiameterSectionProductionType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="TopSawing" type="xsd:boolean" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="FindButtEndFunction" type="xsd:boolean" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogVolumeType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="logVolumeCategory" type="LogVolumeCategoryType" use="required">
					
				</xsd:attribute>
				<xsd:attribute name="logMeasurementCategory" type="LogMeasurementCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LongitudeType">
		
		<xsd:simpleContent>
			<xsd:extension base="LatitudeLongitudeValueType">
				<xsd:attribute name="longitudeCategory" type="LongitudeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LongTimberDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="LongLogButtMIN" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="LongLogButtMAX" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MachineBaseModelType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="baseModelYear" type="xsd:gYear" use="optional">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MachineHeadModelType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="headModelYear" type="xsd:gYear">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MachineType">
		
		<xsd:sequence>
			<xsd:element name="MachineKey" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="MachineUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="MachineOwnerID" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="MachineApplicationVersion" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="MachineBaseManufacturer" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="MachineBaseModel" type="MachineBaseModelType">
				
			</xsd:element>
			<xsd:element name="BaseMachineManufacturerID" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="MachineOwner" type="ContactInformationType">
				
			</xsd:element>
			<xsd:element name="LoggingContractor" type="ContactInformationType">
				
			</xsd:element>
			<xsd:element name="OperatorDefinition" type="OperatorDefinitionType" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="machineCategory" type="MachineCategoryType" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="MachineWithHeadType">
		
		<xsd:complexContent>
			<xsd:extension base="MachineType">
				<xsd:sequence>
					<xsd:element name="MachineHeadManufacturer" type="xsd:string" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="MachineHeadModel" type="MachineHeadModelType" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageHeaderType">
		
		<xsd:sequence>
			<xsd:element name="SenderApplication" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="CreationDate" type="StanForD2010DateTimeType">
				
			</xsd:element>
			<xsd:element name="ModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="ApplicationVersionCreated" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ApplicationVersionModified" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="CountryCode" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="CreationCoordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ModificationDateType">
		
		<xsd:simpleContent>
			<xsd:extension base="StanForD2010DateTimeType">
				<xsd:attribute name="modificationAuthor" type="xsd:string">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="TextToMachine" type="xsd:string" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="SubObject" type="SubObjectDefinitionType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObjectDefinitionMachineType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
					<xsd:element name="TextFromMachine" type="xsd:string" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="StartDate" type="StanForD2010DateTimeType">
						
					</xsd:element>
					<xsd:element name="EndDate" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="SubObject" type="SubObjectDefinitionMachineType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OperatorDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OperatorUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="ContactInformation" type="ContactInformationType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermittedGradesDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="PermittedGradeNumber" type="xsd:positiveInteger" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="GradeToleranceTop" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="GradeToleranceButt" type="xsd:nonNegativeInteger" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PriceDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="VolumeDiameterAdjustment" type="VolumeDiameterAdjustmentType">
				
			</xsd:element>
			<xsd:element name="VolumeDiameterCategory" type="VolumeDiameterCategoryBaseType">
				
			</xsd:element>
			<xsd:element name="VolumeLengthCategory" type="VolumeLengthCategoryType">
				
			</xsd:element>
			<xsd:element name="VolumeUnderBark" type="xsd:boolean">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionWithCommonDetailsType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonProductDefinitionType">
				<xsd:sequence>
					<xsd:element name="DiameterDefinition" type="DiameterDefinitionType">
						
					</xsd:element>
					<xsd:element name="LengthDefinition" type="LengthDefinitionType">
						
					</xsd:element>
					<xsd:element name="PriceDefinition" type="PriceDefinitionType">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionWithDetailsType">
		
		<xsd:complexContent>
			<xsd:extension base="ProductDefinitionWithCommonDetailsType">
				<xsd:sequence>
					<xsd:element name="ProductCreationDate" type="StanForD2010DateTimeType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="ManualFreeBuck" type="xsd:boolean">
						
					</xsd:element>
					<xsd:element name="TopLogFreeBuck" type="xsd:boolean">
						
					</xsd:element>
					<xsd:element name="ProductCondition" type="ProductConditionType">
						
					</xsd:element>
					<xsd:element name="CuttingWindowDefinition" type="CuttingWindowDefinitionType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="PermittedGradesDefinition" type="PermittedGradesDefinitionType">
						
					</xsd:element>
					<xsd:element name="LengthDistributionDefinition" type="LengthDistributionDefinitionType">
						
					</xsd:element>
					<xsd:element name="LimitationDefinition" type="LimitationDefinitionType">
						
					</xsd:element>
					<xsd:element name="ProductMatrixes" type="ProductMatrixType">
						
					</xsd:element>
					<xsd:element name="LongLogButtHeight" type="xsd:nonNegativeInteger" minOccurs="0">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductMatrixItemType">
		
		<xsd:sequence>
			<xsd:element name="Price" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="Distribution" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="Limitation" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="BuckingCriteria" type="BuckingCriteriaType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LogColorMarking" type="LogColorMarkingType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="diameterClassLowerLimit" type="xsd:positiveInteger" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="lengthClassLowerLimit" type="xsd:positiveInteger" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProductMatrixType">
		
		<xsd:sequence>
			<xsd:element name="ProductMatrixItem" type="ProductMatrixItemType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestrictedPrice" type="xsd:boolean" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestrictedDistribution" type="xsd:boolean" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestrictedLimitation" type="xsd:boolean" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestrictedBuckingCriteria" type="xsd:boolean" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="modificationRestrictedLogColorMarking" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="RealEstateIDObjectType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="agency" type="AgencyType" use="optional">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ReferenceDiameterType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="referenceDiameterHeight" type="xsd:positiveInteger" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RowType">
		
		<xsd:sequence>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ModificationDate" type="ModificationDateType">
				
			</xsd:element>
			<xsd:element name="Coordinates" type="CoordinatesType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ColumnData" type="ColumnDataType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="rowID" type="xsd:string" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="rowOrder" type="xsd:nonNegativeInteger" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ScaleDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="ScaleKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ScaleID" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ScaleModel" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ScaleCategory" type="ScaleCategoryType">
				
			</xsd:element>
			<xsd:element name="ScaleApplicationVersion" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ScaleCertificate" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Skogforsk2004ScotsPineType">
		
		<xsd:sequence>
			<xsd:element name="Latitude" type="PositiveDecimal" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SoundKnotFunctionType">
		
		<xsd:sequence>
			<xsd:element name="ConstantA" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="FactorB" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="FactorC" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="ToleranceD" type="xsd:decimal">
				
			</xsd:element>
			<xsd:element name="SoundKnotFunctionGrade" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="GradeIncluded" type="xsd:positiveInteger" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SpeciesDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="SpeciesName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="SpeciesUserID" type="xsd:string" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionWithDetailsAndKeyType">
		
		<xsd:complexContent>
			<xsd:extension base="SpeciesGroupDefinitionWithDetailsType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SpeciesGroupDefinitionWithDetailsType">
		
		<xsd:complexContent>
			<xsd:extension base="CommonSpeciesGroupDefinitionType">
				<xsd:sequence>
					<xsd:element name="DBHHeight" type="DBHHeightType">
						
					</xsd:element>
					<xsd:element name="Grades" type="GradesType">
						
					</xsd:element>
					<xsd:element name="BarkFunction" type="BarkFunctionType" nillable="true">
						
					</xsd:element>
					<xsd:element name="SoundKnotFunction" type="SoundKnotFunctionType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="ButtEndProfileExtrapolation" type="ButtEndProfileExtrapolationType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="EstonianVolumeParameters" type="EstonianVolumeParametersType" minOccurs="0">
						
					</xsd:element>
					<xsd:element name="StemCode" type="StemCodeType" minOccurs="0" maxOccurs="unbounded">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StemCodeType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StemDiametersType">
		
		<xsd:sequence>
			<xsd:element name="DiameterMeasuredStartHeight" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="DiameterMeasuredEndHeight" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="DiameterValue" type="DiameterValueType" maxOccurs="unbounded">
				
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="diameterCategory" type="DiameterCategoryType" use="required">
			
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="StemGradeType">
		
		<xsd:sequence>
			<xsd:element name="GradeValue" type="GradeValueType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemType">
		
		<xsd:sequence>
			<xsd:element name="StemKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="HarvestDate" type="StanForD2010DateTimeType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="BioEnergyAdaption" type="BioEnergyAdaptionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StemNumber" type="xsd:positiveInteger">
				
			</xsd:element>
			<xsd:element name="ProcessingCategory" type="ProcessingCategoryType">
				
			</xsd:element>
			<xsd:element name="StemCoordinates" type="CoordinatesType" minOccurs="0" maxOccurs="unbounded">
				
			</xsd:element>
			<xsd:element name="StemCode" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="StumpTreatment" type="xsd:boolean" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemTypeDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="StemTypeCode" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="StemTypeName" type="xsd:string">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StemVolumeType">
		
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="stemVolumeCategory" type="StemVolumeCategoryType" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SubObjectDefinitionType">
		
		<xsd:sequence>
			<xsd:element name="SubObjectUserID" type="UserIDType">
				
			</xsd:element>
			<xsd:element name="SubObjectName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="SubObjectArea" type="PositiveDecimal" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="LoggingForm" type="LoggingFormType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="RealEstateIDSubObject" type="RealEstateIDObjectType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubObjectDefinitionMachineType">
		
		<xsd:complexContent>
			<xsd:extension base="SubObjectDefinitionType">
				<xsd:sequence>
					<xsd:element name="SubObjectKey" type="xsd:positiveInteger">
						
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SwedishZaccoType">
		
		<xsd:sequence>
			<xsd:element name="ConstantA" type="NonNegativeDecimal">
				
			</xsd:element>
			<xsd:element name="FactorB" type="NonNegativeDecimal">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TopRenderingLineType">
		
		<xsd:sequence>
			<xsd:element name="FormatColor" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="FormatLineStyle" type="FormatLineStyleType">
				
			</xsd:element>
			<xsd:element name="FormatLineThickness" type="xsd:nonNegativeInteger">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TopRenderingPointType">
		
		<xsd:sequence>
			<xsd:element name="FormatColor" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="FormatFont" type="FormatFontType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TopRenderingPolygonType">
		
		<xsd:sequence>
			<xsd:element name="FormatColor" type="xsd:integer">
				
			</xsd:element>
			<xsd:element name="FormatLineStyle" type="FormatLineStyleType">
				
			</xsd:element>
			<xsd:element name="FormatLineThickness" type="xsd:nonNegativeInteger">
				
			</xsd:element>
			<xsd:element name="FormatFillStyle" type="FormatFillStyleType">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnclassifiedProductDefinitionMachineType">
		
		<xsd:sequence>
			<xsd:element name="ProductName" type="xsd:string">
				
			</xsd:element>
			<xsd:element name="ModificationDate" type="ModificationDateType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductInfo" type="InfoType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductVersion" type="VersionType" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="ProductGroupName" type="xsd:string" minOccurs="0">
				
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserIDType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="agency" type="AgencyType">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VersionType">
		
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="modificationRestricted" type="xsd:boolean" use="required">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VolumeDiameterCategoryBaseType">
		
		<xsd:simpleContent>
			<xsd:extension base="VolumeDiameterCategoryType">
				<xsd:attribute name="volumeDiameterTopPosition" type="xsd:nonNegativeInteger" use="optional">
					
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AgencyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Buyer"></xsd:enumeration>
			<xsd:enumeration value="ForestOwner"></xsd:enumeration>
			<xsd:enumeration value="LoggingContractor"></xsd:enumeration>
			<xsd:enumeration value="LoggingOrganisation"></xsd:enumeration>
			<xsd:enumeration value="MachineOwner"></xsd:enumeration>
			<xsd:enumeration value="Other"></xsd:enumeration>
			<xsd:enumeration value="Seller"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AreaUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ha"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BarkFunctionCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"></xsd:enumeration>
			<xsd:enumeration value="Swedish Zacco"></xsd:enumeration>
			<xsd:enumeration value="German"></xsd:enumeration>
			<xsd:enumeration value="GermanDistanceBased"></xsd:enumeration>
			<xsd:enumeration value="Skogforsk 2004, Scots pine"></xsd:enumeration>
			<xsd:enumeration value="Skogforsk 2004, Norway spruce"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BioEnergyAdaptionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Logging residues"></xsd:enumeration>
			<xsd:enumeration value="Stumps"></xsd:enumeration>
			<xsd:enumeration value="Logging residues and stumps"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BuckingCriteriaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No limit"></xsd:enumeration>
			<xsd:enumeration value="Forbidden to buck the log even manually"></xsd:enumeration>
			<xsd:enumeration value="The log is excluded from apportionment bucking,only bucking according to value allowed"></xsd:enumeration>
			<xsd:enumeration value="Only logs bucked manually allowed"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ButtEndProfileExtrapolationFunctionCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Poikela 2007"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ButtEndProfileExtrapolationMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ExtrapolationFunction"></xsd:enumeration>
			<xsd:enumeration value="ExtrapolationTable"></xsd:enumeration>
			<xsd:enumeration value="Both"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CoordinateReferenceSystemType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WGS84"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ISO 3166"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CuttingReasonSpecificationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Outside cutting window"></xsd:enumeration>
			<xsd:enumeration value="Quality change"></xsd:enumeration>
			<xsd:enumeration value="Unclassified log"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CuttingReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Automatic"></xsd:enumeration>
			<xsd:enumeration value="Decay"></xsd:enumeration>
			<xsd:enumeration value="Damage"></xsd:enumeration>
			<xsd:enumeration value="Crook"></xsd:enumeration>
			<xsd:enumeration value="Sweep"></xsd:enumeration>
			<xsd:enumeration value="Grade break"></xsd:enumeration>
			<xsd:enumeration value="Pulpwood grade"></xsd:enumeration>
			<xsd:enumeration value="Top break"></xsd:enumeration>
			<xsd:enumeration value="Spinning"></xsd:enumeration>
			<xsd:enumeration value="Other manual"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryEstimationMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Manual estimation by operator"></xsd:enumeration>
			<xsd:enumeration value="Scale"></xsd:enumeration>
			<xsd:enumeration value="Estimation through Harvested Production message"></xsd:enumeration>
			<xsd:enumeration value="Other"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryEstimationUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Volume, m3sob"></xsd:enumeration>
			<xsd:enumeration value="Volume, m3sub"></xsd:enumeration>
			<xsd:enumeration value="Green mass, kg"></xsd:enumeration>
			<xsd:enumeration value="Number of logs"></xsd:enumeration>
			<xsd:enumeration value="Number of loads"></xsd:enumeration>
			<xsd:enumeration value="Loose volume, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume including bark, branches and needles, m3"></xsd:enumeration>
			<xsd:enumeration value="Solid volume of bundles (length*cross sectional area), m3"></xsd:enumeration>
			<xsd:enumeration value="Number of bundles"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DensityCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Under bark"></xsd:enumeration>
			<xsd:enumeration value="On bark"></xsd:enumeration>
			<xsd:enumeration value="Not specified"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterClassAdjustmentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DiameterClassAdjustment1"></xsd:enumeration>
			<xsd:enumeration value="DiameterClassAdjustment2"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterClassCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Top"></xsd:enumeration>
			<xsd:enumeration value="Midpoint"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterMeasurementCategory">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Average"></xsd:enumeration>
			<xsd:enumeration value="First"></xsd:enumeration>
			<xsd:enumeration value="Second"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterSectionUsageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Buyer"></xsd:enumeration>
			<xsd:enumeration value="Commercial"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Over bark"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DiameterUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mm"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DistributionCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Number of logs"></xsd:enumeration>
			<xsd:enumeration value="Volume of logs"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExtensionActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Copy"></xsd:enumeration>
			<xsd:enumeration value="Ignore"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ForestCertificationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FSC"></xsd:enumeration>
			<xsd:enumeration value="PEFC"></xsd:enumeration>
			<xsd:enumeration value="Other"></xsd:enumeration>
			<xsd:enumeration value="None"></xsd:enumeration>
			<xsd:enumeration value="Not known"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormatFillStyleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SolidFill"></xsd:enumeration>
			<xsd:enumeration value="TransparentFill"></xsd:enumeration>
			<xsd:enumeration value="HorizontalFill"></xsd:enumeration>
			<xsd:enumeration value="VerticalFill"></xsd:enumeration>
			<xsd:enumeration value="UpwardDiagonalFill"></xsd:enumeration>
			<xsd:enumeration value="DownwardDiagonalFill"></xsd:enumeration>
			<xsd:enumeration value="CrossFill"></xsd:enumeration>
			<xsd:enumeration value="DiagonalCrossFill"></xsd:enumeration>
			<xsd:enumeration value="LightGrayFill"></xsd:enumeration>
			<xsd:enumeration value="GrayFill"></xsd:enumeration>
			<xsd:enumeration value="DarkGrayFill"></xsd:enumeration>
			<xsd:enumeration value="HalfTransparentFill"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormatLineStyleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Solid"></xsd:enumeration>
			<xsd:enumeration value="Dash"></xsd:enumeration>
			<xsd:enumeration value="Dot"></xsd:enumeration>
			<xsd:enumeration value="Dash-Dot"></xsd:enumeration>
			<xsd:enumeration value="Double solid"></xsd:enumeration>
			<xsd:enumeration value="HashLine"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GISCoordinateReferenceSystemType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WGS84"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-z][a-z][a-z]"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="North"></xsd:enumeration>
			<xsd:enumeration value="South"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LatitudeLongitudeValueType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"></xsd:minInclusive>
			<xsd:maxInclusive value="180"></xsd:maxInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LengthClassAdjustmentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LengthClassAdjustment1"></xsd:enumeration>
			<xsd:enumeration value="LengthClassAdjustment2"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LengthUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cm"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LimitationCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No limitation"></xsd:enumeration>
			<xsd:enumeration value="Total number, quantity per product"></xsd:enumeration>
			<xsd:enumeration value="Total volume, m3 per product"></xsd:enumeration>
			<xsd:enumeration value="Number per diameter class per product"></xsd:enumeration>
			<xsd:enumeration value="Volume per diameter class per product"></xsd:enumeration>
			<xsd:enumeration value="Number per length class per product"></xsd:enumeration>
			<xsd:enumeration value="Volume per length class per product"></xsd:enumeration>
			<xsd:enumeration value="Number per cell (log size class) per product and tree species"></xsd:enumeration>
			<xsd:enumeration value="Volume per cell (log size class) per product and tree species"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LimitationResultType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No action"></xsd:enumeration>
			<xsd:enumeration value="Production is stopped, forbidden to buck logs, only manually bucked logs allowed"></xsd:enumeration>
			<xsd:enumeration value="Production is stopped, forbidden to buck logs including manual bucking of logs"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoadNumberCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Estimated number of logs"></xsd:enumeration>
			<xsd:enumeration value="Number of bundles"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongitudeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="East"></xsd:enumeration>
			<xsd:enumeration value="West"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogDiameterCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Top ob"></xsd:enumeration>
			<xsd:enumeration value="Top ub"></xsd:enumeration>
			<xsd:enumeration value="Mid ob"></xsd:enumeration>
			<xsd:enumeration value="Mid ub"></xsd:enumeration>
			<xsd:enumeration value="Butt ob"></xsd:enumeration>
			<xsd:enumeration value="Butt ub"></xsd:enumeration>
			<xsd:enumeration value="Mid HKS ob"></xsd:enumeration>
			<xsd:enumeration value="Mid HKS ub"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogMeasurementCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Machine"></xsd:enumeration>
			<xsd:enumeration value="Operator"></xsd:enumeration>
			<xsd:enumeration value="Auditor"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogBunchVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NetVolOb"></xsd:enumeration>
			<xsd:enumeration value="NetVolUb"></xsd:enumeration>
			<xsd:enumeration value="GrossVolOb"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m3 (price)"></xsd:enumeration>
			<xsd:enumeration value="m3sob"></xsd:enumeration>
			<xsd:enumeration value="m3sub"></xsd:enumeration>
			<xsd:enumeration value="m3sobEstimated"></xsd:enumeration>
			<xsd:enumeration value="m3subEstimated"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MachineCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Harvester"></xsd:enumeration>
			<xsd:enumeration value="Forwarder"></xsd:enumeration>
			<xsd:enumeration value="Harwarder"></xsd:enumeration>
			<xsd:enumeration value="Bundler"></xsd:enumeration>
			<xsd:enumeration value="Scarifier"></xsd:enumeration>
			<xsd:enumeration value="Other"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="env"></xsd:enumeration>
			<xsd:enumeration value="fdi"></xsd:enumeration>
			<xsd:enumeration value="foi"></xsd:enumeration>
			<xsd:enumeration value="fpr"></xsd:enumeration>
			<xsd:enumeration value="fqc"></xsd:enumeration>
			<xsd:enumeration value="hpr"></xsd:enumeration>
			<xsd:enumeration value="hqc"></xsd:enumeration>
			<xsd:enumeration value="ogi"></xsd:enumeration>
			<xsd:enumeration value="ogr"></xsd:enumeration>
			<xsd:enumeration value="oin"></xsd:enumeration>
			<xsd:enumeration value="mom"></xsd:enumeration>
			<xsd:enumeration value="pin"></xsd:enumeration>
			<xsd:enumeration value="spi"></xsd:enumeration>
			<xsd:enumeration value="udi"></xsd:enumeration>
			<xsd:enumeration value="thp"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"></xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PositiveDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:minExclusive value="0"></xsd:minExclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessingCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SingleTreeProcessing"></xsd:enumeration>
			<xsd:enumeration value="MultiTreeProcessing"></xsd:enumeration>
			<xsd:enumeration value="SingleTreeFelling"></xsd:enumeration>
			<xsd:enumeration value="MultiTreeFelling"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProductConditionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Buck always"></xsd:enumeration>
			<xsd:enumeration value="Buck butt-log only"></xsd:enumeration>
			<xsd:enumeration value="Do not buck butt log"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReceiverPositionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Base machine position"></xsd:enumeration>
			<xsd:enumeration value="Crane tip position when felling the tree"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScaleCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Crane tip scale"></xsd:enumeration>
			<xsd:enumeration value="Load bearer scale"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StanForD2010DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value=".+T.+[+-].+"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StanForD2010VersionType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-9][0-9]*\.[0-9]+"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StemVolumeCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m3sob"></xsd:enumeration>
			<xsd:enumeration value="m3sub"></xsd:enumeration>
			<xsd:enumeration value="m3sobEstimated"></xsd:enumeration>
			<xsd:enumeration value="m3subEstimated"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrackingCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Points tracking"></xsd:enumeration>
			<xsd:enumeration value="Lines tracking"></xsd:enumeration>
			<xsd:enumeration value="Polygons tracking"></xsd:enumeration>
			<xsd:enumeration value="Tracking not required"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VolumeDiameterAdjustmentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Measured diameter in mm"></xsd:enumeration>
			<xsd:enumeration value="Measured diameter rounded downwards to cm"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VolumeDiameterCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="All diameters (solid volume)"></xsd:enumeration>
			<xsd:enumeration value="Top"></xsd:enumeration>
			<xsd:enumeration value="Mid"></xsd:enumeration>
			<xsd:enumeration value="Calculated Norwegian mid"></xsd:enumeration>
			<xsd:enumeration value="Calculated Estonian mid"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VolumeLengthCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Physical length cm"></xsd:enumeration>
			<xsd:enumeration value="Length as defined in LengthClasses"></xsd:enumeration>
			<xsd:enumeration value="Rounded downwards to nearest dm-module"></xsd:enumeration>
			<xsd:enumeration value="Rounded to nearest mid-dm"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VolumeUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="m3"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeightUnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kg"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attributeGroup name="CoordinatesAttributeGroup">
		<xsd:attribute name="receiverPosition" type="ReceiverPositionType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="coordinateReferenceSystem" type="CoordinateReferenceSystemType" use="required">
			
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="MessageAttributeGroup">
		<xsd:attribute name="areaUnit" type="AreaUnitType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="diameterUnit" type="DiameterUnitType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="lengthUnit" type="LengthUnitType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="volumeUnit" type="VolumeUnitType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="weightUnit" type="WeightUnitType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="version" type="StanForD2010VersionType" use="required">
			
		</xsd:attribute>
		<xsd:attribute name="versionDate" type="xsd:date" use="required">
			
		</xsd:attribute>
	</xsd:attributeGroup>
</xsd:schema>
