MetsatietostandardiskeematV33.03/stanford2010/TotalHarvestedProduction_V3p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Juha-Antti Sorsa (Metsäteho Oy) -->
<!-- ******************************************************************************************************************************* -->
<!-- *** Total Harvested Production XML Schema file   						   			 														     *** -->
<!-- ******************************************************************************************************************************* -->
<!--

   Document Name: 				TotalHarvestedProduction_V3p1.xsd
   Generated On: 				6 February 2015
   Version number:				3.1 Release
   Schema agency:				Skogforsk
   Schema web address:			http://www.skogforsk.se/stanford2010/schema/

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:skogforsk:stanford2010" xmlns:doc="urn:skogforsk:stanford2010:doc" xmlns:sfd="urn:skogforsk:stanford2010" targetNamespace="urn:skogforsk:stanford2010" elementFormDefault="qualified" attributeFormDefault="unqualified" version="release_3.1" sfd:versionDate="2015-02-06">
	<!-- ===== Includes ===== -->
	<xsd:include schemaLocation="StanForD2010CommonDefinitions_V3p1.xsd"/>
	<!-- ===== Root Element ===== -->
	<xsd:element name="TotalHarvestedProduction" type="TotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Description>The root element of the total harvested production message</doc:Description>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:unique name="UniqueMachineKey">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineKey"/>
		</xsd:unique>
		<xsd:unique name="UniqueMachineUserID">
			<xsd:selector xpath="sfd:Machine"/>
			<xsd:field xpath="sfd:MachineUserID"/>
		</xsd:unique>
	</xsd:element>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ClassifiedProductDefinitionMachineTotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>3.0</doc:VersionCreated>
				<doc:Graph>ClassifiedProductDefinitionMachineTotalHarvestedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ProductDefinitionWithCommonDetailsType">
				<xsd:sequence>
					<xsd:element name="ProductUserID" type="UserIDType">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VarNumber>V121_t2</doc:VarNumber>
								<doc:Unit>free text</doc:Unit>
								<doc:Description>Identity per product defined by user of data, normally
logging organisation</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per species group set by machine. Must be updated if any modifications to species group definition is done. Running number reset only when MachineKey is changed.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DataTableGroupTotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>2.1</doc:VersionCreated>
				<doc:Graph>DataTableGroupTotalHarvestedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataTableGroupType">
				<xsd:sequence>
					<xsd:element name="ObjectKey" type="xsd:positiveInteger">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Unit>sequential no</doc:Unit>
								<doc:Description>Machine specific identity per harvesting object. Set when
new harvesting object is started. Running no
recommended, reset only when MachineKey is changed</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MachineTotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>machinetotalharvestedproductiontypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MachineWithHeadType">
				<xsd:sequence>
					<xsd:element name="SpeciesGroupDefinition" type="SpeciesGroupDefinitionWithDetailsAndKeyType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.0</doc:VersionModified>
								<doc:Description>Definition of species used in this production message</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ProductDefinition" type="ProductDefinitionMachineTotalHarvestedProductionType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.0</doc:VersionModified>
								<doc:Description>Structure for defining product.</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ObjectDefinition" type="ObjectDefinitionMachineType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:Description>Structure for object specific data</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
						<xsd:unique name="UniqueSubObjectKey">
							<xsd:selector xpath="SubObject"/>
							<xsd:field xpath="SubObjectKey"/>
						</xsd:unique>
					</xsd:element>
					<xsd:element name="Total" type="TotalType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>1.0</doc:VersionCreated>
								<doc:VersionModified>2.1</doc:VersionModified>
								<doc:Description>Totals of harvested production</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="UserDefinedData" type="UserDefinedDataTotalHarvestedProductionType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<doc:VersionCreated>2.1</doc:VersionCreated>
								<doc:Description>Structure for user defined data</doc:Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductDefinitionMachineTotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>3.0</doc:VersionCreated>
				<doc:Graph>ProductDefinitionMachineTotalHarvestedProductionTypeGraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v121_t6,v256_t1</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per product set by machine. Must
be updated if any modifications to product is done.
Running no reset only when MachineKey is changed. </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="ClassifiedProductDefinition" type="ClassifiedProductDefinitionMachineTotalHarvestedProductionType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for classified product. Definied in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UnclassifiedProductDefinition" type="UnclassifiedProductDefinitionMachineType">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Description>Structure for unclassified product. Definied in the machine, not included in pin message.</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>totalharvestedproductiontypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TotalHarvestedProductionHeader" type="MessageHeaderType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>General information for message</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Machine" type="MachineTotalHarvestedProductionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>All the product specific data is included under Machine elements</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:unique name="UniqueOperatorUserID">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorUserID"/>
				</xsd:unique>
				<xsd:key name="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:ProductDefinition"/>
					<xsd:field xpath="sfd:ProductKey"/>
				</xsd:key>
				<xsd:keyref name="ProdcutKeyRefTotalProduct" refer="ProductKeyProductDefinition">
					<xsd:selector xpath="sfd:Total/sfd:TotalLogs"/>
					<xsd:field xpath="sfd:ProductKey"/>
				</xsd:keyref>
				<xsd:key name="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:OperatorDefinition"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:key>
				<xsd:keyref name="OperatorKeyRefTotal" refer="OperatorKeyOperatorDefinition">
					<xsd:selector xpath="sfd:Total"/>
					<xsd:field xpath="sfd:OperatorKey"/>
				</xsd:keyref>
				<xsd:key name="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:ObjectDefinition"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:key>
				<xsd:keyref name="ObjectKeyRefTotal" refer="ObjectKeyObjectDefinition">
					<xsd:selector xpath="sfd:Total"/>
					<xsd:field xpath="sfd:ObjectKey"/>
				</xsd:keyref>
				<xsd:key name="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:SpeciesGroupDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:key>
				<xsd:keyref name="SpeciesGroupKeyRefProductDefinition" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:ProductDefinition/sfd:ClassifiedProductDefinition"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:keyref>
				<xsd:keyref name="SpeciesGroupKeyRefTotal" refer="SpeciesGroupKeySpeciesGroupDefinition">
					<xsd:selector xpath="sfd:Total"/>
					<xsd:field xpath="sfd:SpeciesGroupKey"/>
				</xsd:keyref>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="messageType" type="MessageCategoryType" use="required" fixed="thp">
			<xsd:annotation>
				<xsd:documentation>
					<doc:VersionCreated>1.0</doc:VersionCreated>
					<doc:Unit>list</doc:Unit>
					<doc:Description>Enumeration list of file extensions of StanForD 2010 messages: Allowed value in Total Harvested Production message is: "thp"</doc:Description>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="MessageAttributeGroup"/>
	</xsd:complexType>
	<xsd:complexType name="TotalLogsType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>totallogstypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProductKey" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v121_t6</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per product set by machine. Must
be updated if any modifications to product is done.
Running no reset only when MachineKey is changed. </doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalProductNumberOfLogs" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v232_t1</doc:VarNumber>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Number of logs per product. Only reset when starting on
new object.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalProductNumberOfLogBunches" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Total number of multi tree processed log bunches.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalProductVolume" type="TotalProductVolumeType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v236</doc:VarNumber>
						<doc:Unit>m3</doc:Unit>
						<doc:Description>Yield volume per product. The volume category is specified in attribute TotalProductVolumeCategory. Only reset when starting on new
object.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalLogLength" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>2.0</doc:VersionCreated>
						<doc:Unit>cm</doc:Unit>
						<doc:Description>Total length of the processed logs</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TotalProductVolumeType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>TotalProductVolumeTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="totalProductVolumeCategory" type="LogVolumeCategoryType" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Total product volume categories. Possible values are: m3 (price), m3sub, m3sob, m3sobEstimated and m3subEstimated </doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TotalStemVolumeType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>TotalStemVolumeTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="NonNegativeDecimal">
				<xsd:attribute name="totalStemVolumeCategory" type="StemVolumeCategoryType" use="required">
					<xsd:annotation>
						<xsd:documentation>
							<doc:VersionCreated>1.0</doc:VersionCreated>
							<doc:Unit>list</doc:Unit>
							<doc:Description>Total stem volume categories. Possible values are:  m3sub, m3sob, m3sobEstimated and m3subEstimated</doc:Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TotalType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>1.0</doc:VersionCreated>
				<doc:Graph>totaltypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ObjectKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per harvesting object. Set when
new harvesting object is started. Running no
recommended, reset only when MachineKey is changed.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubObjectKey" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequentical no</doc:Unit>
						<doc:Description>Machine specific identity per harvesting sub object, set by
machine. Set when new harvesting sub object is started.
Running no recommended, reset when ObjectKey is
updated.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatorKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequentical no</doc:Unit>
						<doc:Description>Machine unique operator identity, set by machine</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SpeciesGroupKey" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>sequential no</doc:Unit>
						<doc:Description>Machine specific identity per species group set by machine. Must be updated if any modifications to species group definition is done. Running number reset only when MachineKey is changed.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberOfStems" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:VarNumber>v221_t1</doc:VarNumber>
						<doc:Unit>no</doc:Unit>
						<doc:Description>Number of processed (harvested) stems. Only reset when starting on new object.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberOfStemBunches" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>no</doc:Unit>
						<doc:Description>Total number of multi tree harvested stem bunches.</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalStemVolume" type="TotalStemVolumeType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>m3</doc:Unit>
						<doc:Description>Total volume of harvested stems</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessingCategory" type="ProcessingCategoryType">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Unit>list</doc:Unit>
						<doc:Description>Possible enumeration values are: SingleTreeProcessing,MultiTreeProcessing,  SingleTreeFelling and MultiTreeFelling</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalLogs" type="TotalLogsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Structure for log data</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Extension" type="ExtensionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>1.0</doc:VersionCreated>
						<doc:Description>Extension element can include whatever data the users want. The only requirement is that it is well-formed XML i.e. it is tagged</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedDataTotalHarvestedProductionType">
		<xsd:annotation>
			<xsd:documentation>
				<doc:VersionCreated>2.1</doc:VersionCreated>
				<doc:Graph>UserDefinedDataTotalHarvestedProductionTypegraph.png</doc:Graph>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DataTableGroup" type="DataTableGroupTotalHarvestedProductionType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<doc:VersionCreated>2.1</doc:VersionCreated>
						<doc:Description>Structure for user defined data table group</doc:Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
